<script lang="ts">
	export let strokeColor : string | undefined;
	export let strokeWidth = "2";
</script>

<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="100%" height="100%" viewBox="0 0 87.1 55.8" enable-background="new 0 0 87.1 55.8" xml:space="preserve"
	fill="none" stroke={strokeColor} stroke-width={strokeWidth} stroke-miterlimit="10">
<g>
	<rect x="1" y="3.1" width="34.5" height="34.5"/>
	<circle cx="43.6" cy="35.7" r="19.1"/>
	<polygon points="68.5,2 76.9,16.7 85.4,31.3 68.5,31.3 
		51.5,31.3 60,16.7 	"/>
</g>
</svg>
