<script lang="ts">
	export let strokeColor : string | undefined;
	export let strokeWidth = "2";
</script>


<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%" viewBox="0 0 79.6 53.8" enable-background="new 0 0 79.6 53.8" xml:space="preserve"
	 fill="none" stroke={strokeColor} stroke-width={strokeWidth} stroke-miterlimit="10">
<g>
	<g>
		<rect x="1" y="26.9" width="25.9" height="25.9"/>
	</g>
	<g>
		<rect x="26.9" y="13.9" width="25.9" height="25.9"/>
	</g>
	<g>
		<rect x="52.8" y="1" width="25.9" height="25.9"/>
	</g>
</g>
</svg>
