<script lang="ts">
	export let strokeColor : string | undefined;
	export let strokeWidth = "2";
</script>

<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	width="100%" height="100%" viewBox="0 0 92.4 56.2" enable-background="new 0 0 92.4 56.2" xml:space="preserve"
	fill="none" stroke={strokeColor} stroke-width={strokeWidth} stroke-miterlimit="10">
<g>
	<circle cx="20" cy="20" r="19.1"/>
	<circle cx="54.5" cy="31.3" r="23.9"/>
	<circle cx="78.4" cy="16.2" r="13"/>
</g>
</svg>