<script lang="ts">
	export let strokeColor : string | undefined;
	export let strokeWidth = "2";
</script>

<svg width="100%" height="100%" viewBox="0 0 390 301" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" fill="none" stroke={strokeColor} stroke-width={strokeWidth} stroke-miterlimit="10">
    <g transform="matrix(1,0,0,1,-253.401,-253.401)">
        <g transform="matrix(4.25648,0,0,4.25648,288.606,288.503)">
            <g transform="matrix(-1,0,0,1,10.977,0.0001)">
                <rect x="1.567" y="1.591" width="7.843" height="51.023"/>
            </g>
            <g transform="matrix(-1,0,0,1,138.983,0.0001)">
                <rect x="65.57" y="1.591" width="7.843" height="51.023"/>
            </g>
            <g transform="matrix(-1,0,0,1,74.983,0.0001)">
                <rect x="20.88" y="1.591" width="33.223" height="51.023"/>
            </g>
        </g>
    </g>
</svg>