<script lang="ts">
	export let strokeColor : string | undefined;
	export let strokeWidth = "2";
</script>


<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		width="100%" height="100%" viewBox="0 0 72.2 56.2" enable-background="new 0 0 72.2 56.2" xml:space="preserve"
		fill="none" stroke={strokeColor} stroke-width={strokeWidth} stroke-miterlimit="10">
	<g>
		
		<rect x="9.1" y="9" transform="matrix(0.7071 0.7071 -0.7071 0.7071 28.1332 -11.7291)" width="38.3" height="38.3"/>
		<circle cx="51" cy="26.8" r="20.1"/>
	</g>
</svg>
