<script lang="ts">
	export let strokeColor : string | undefined;
	export let strokeWidth = "2";
</script>

<svg width="100%" height="100%" viewBox="0 0 740 445" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" fill="none" stroke={strokeColor} stroke-width={strokeWidth} stroke-miterlimit="10">
    <g transform="matrix(1,0,0,1,-1667.17,-862.22)">
        <g transform="matrix(7.30084,0,0,7.30084,1700.89,896.936)">
            <g transform="matrix(1,0,0,1,37.0459,0.9805)">
                <path d="M0,32.936L-8.973,16.468L0,0L17.947,0L26.919,16.468L17.947,32.936L0,32.936Z"/>
            </g>
            <g transform="matrix(1,0,0,1,10.0894,17.4575)">
                <path d="M0,32.938L-8.973,16.469L0,0L17.947,0L26.92,16.469L17.947,32.938L0,32.938Z"/>
            </g>
            <g transform="matrix(1,0,0,1,63.9805,17.4575)">
                <path d="M0,32.938L-8.974,16.469L0,0L17.947,0L26.92,16.469L17.947,32.938L0,32.938Z"/>
            </g>
        </g>
    </g>
</svg>