<script lang="ts">
	export let strokeColor : string | undefined;
	export let strokeWidth = "2";
</script>


<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" height="100%" viewBox="0 0 92.3 55" enable-background="new 0 0 92.3 55" xml:space="preserve" fill="none" stroke={strokeColor}  stroke-width={strokeWidth} stroke-miterlimit="10">
<g>
	<rect x="1" y="1"  width="90.4" height="53"/>
	<rect x="34.8" y="8.1" width="22.7" height="38.8"/>
</g>
</svg>
