<script lang="ts">
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faArrowUpRightFromSquare, faUsers } from '@fortawesome/free-solid-svg-icons';
	import { popup } from '@skeletonlabs/skeleton';
	import type { PopupSettings } from '@skeletonlabs/skeleton';

	const popupArticleMeta: PopupSettings = {
		event: 'click',
		target: 'popupArticleMeta',
		placement: 'top'
	};

	type GroupMember = {
		name: string;
		url?: string | undefined;
	};

	export let groupMembers: GroupMember[];
	export let cssClass = '';
</script>

<div class="meta space-y-4 {cssClass}">
	<hr />
	<div class="content flex flex-row gap-2">
		<button class="" use:popup={popupArticleMeta}><Fa icon={faUsers} /></button>
		<div class="flex flex-row flex-wrap gap-2 items-center">
			{#each groupMembers as member}
				{#if member.url}
					<a target="_blank" href={member.url}
						><span class="m-badge-meta"
							>{member.name}<Fa class="ml-2" icon={faArrowUpRightFromSquare} /></span
						></a
					>
				{:else}
					<span class="m-badge-meta">{member.name}</span>
				{/if}
			{/each}
		</div>
	</div>
</div>
