<script lang="ts">
	import { title } from '../stores/pageStore';
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faHome } from '@fortawesome/free-solid-svg-icons';
	import { afterNavigate } from '$app/navigation';

	let cssClass: String = '';
	export { cssClass as class };

	afterNavigate(() => {
		if (document != null) {
			let page = document.getElementById('page');
			if (page) {
				page.scrollTop = 0;
			}
		}
	});

	export let pageTitle: string;

	function shortenTitle(input: string): string {
		if (input.length <= 30) {
			return input;
		}

		const words = input.split(' ');
		let shortened = '';

		for (const word of words) {
			if ((shortened + word).length > 27) {
				shortened += '...';
				break;
			}
			shortened += word + ' ';
		}

		shortened += words.slice(-2).join(' '); // Add the last two words

		return shortened;
	}
	pageTitle = shortenTitle(pageTitle)

	title.set(pageTitle);
</script>

<div class="detail-page m-container mx-auto my-16 px-4 {cssClass}">
	<ol class="breadcrumb my-16 w-full">
		<li class="crumb"><a class="anchor" href="/"><Fa icon={faHome} /></a></li>
		<li class="crumb-separator" aria-hidden>&rsaquo;</li>
		<li>{pageTitle}</li>
	</ol>

	<slot />
</div>
