<script lang="ts">
	import type { IconDefinition } from '@fortawesome/free-solid-svg-icons';
	import Fa from 'svelte-fa/src/fa.svelte';

	export let icon: IconDefinition;
	export let iconSize = '2.5x';
	let cssClass = '';
	export {cssClass as class};

</script>

<div class="card px-8 py-5 rounded-2xl drop-shadow-xl variant-ghost-surface bg-surface-50/50 {cssClass}">
	<div class="flex flex-row">
		<div class="w-16 mr-8 flex justify-center items-center">
			<Fa size={iconSize} class="text-primary-500" {icon} />
		</div>
		<div>
			<slot />
		</div>
	</div>
</div>
