<script lang="ts">
	import { modeCurrent } from '@skeletonlabs/skeleton';
	import { writable } from 'svelte/store';
	export let colorDark: string = 'white';
	export let colorLight: string = 'black';

	let cssClass = '';
	export { cssClass as class };
	export let width: string = '100%';
	export let height: string = '100%';

	let color: string;

	$: $modeCurrent, (color = $modeCurrent ? colorLight : colorDark);
</script>

<svg
	{width}
	{height}
	viewBox="0 0 149 54"
	preserveAspectRatio="xMinYMin"
	overflow='visible'
	version="1.1"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xml:space="preserve"
	fill={color}
	style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
>
	<g transform="matrix(1,0,0,1,-161.869,-180.738)">
		<g transform="matrix(1,0,0,1,161.869,180.738)">
			<g transform="matrix(1,0,0,1,1.0146,-0.0003)">
				<path
					d="M0,9.347C-0.156,9.347 -0.278,9.301 -0.364,9.211C-0.451,9.119 -0.494,8.993 -0.494,8.826L-0.494,0.52C-0.494,0.347 -0.451,0.217 -0.364,0.13C-0.278,0.043 -0.156,0 0,0C0.138,0 0.249,0.029 0.331,0.084C0.413,0.141 0.489,0.235 0.559,0.364L4.121,7.073L3.73,7.073L7.279,0.364C7.349,0.235 7.423,0.141 7.501,0.084C7.579,0.029 7.691,0 7.839,0C7.986,0 8.103,0.043 8.189,0.13C8.276,0.217 8.319,0.347 8.319,0.52L8.319,8.826C8.319,8.993 8.278,9.119 8.196,9.211C8.113,9.301 7.99,9.347 7.825,9.347C7.67,9.347 7.548,9.301 7.462,9.211C7.375,9.119 7.332,8.993 7.332,8.826L7.332,1.522L7.644,1.522L4.394,7.618C4.333,7.731 4.271,7.811 4.205,7.859C4.14,7.907 4.047,7.93 3.926,7.93C3.804,7.93 3.709,7.905 3.64,7.852C3.57,7.8 3.51,7.722 3.458,7.618L0.169,1.508L0.48,1.508L0.48,8.826C0.48,8.993 0.439,9.119 0.357,9.211C0.274,9.301 0.155,9.347 0,9.347"
				/>
			</g>
			<g transform="matrix(1,0,0,1,13.4551,2.82)">
				<path
					d="M0,6.553C-0.433,6.553 -0.82,6.469 -1.163,6.299C-1.506,6.13 -1.776,5.899 -1.976,5.604C-2.175,5.309 -2.274,4.98 -2.274,4.616C-2.274,4.148 -2.155,3.78 -1.917,3.511C-1.679,3.242 -1.284,3.051 -0.734,2.939C-0.184,2.826 0.568,2.77 1.521,2.77L2.106,2.77L2.106,3.459L1.534,3.459C0.832,3.459 0.28,3.491 -0.123,3.557C-0.526,3.621 -0.808,3.732 -0.968,3.888C-1.129,4.043 -1.209,4.265 -1.209,4.551C-1.209,4.907 -1.085,5.197 -0.838,5.422C-0.591,5.647 -0.255,5.76 0.17,5.76C0.516,5.76 0.821,5.678 1.086,5.513C1.351,5.348 1.559,5.123 1.71,4.836C1.861,4.551 1.937,4.221 1.937,3.849L1.937,2.367C1.937,1.829 1.829,1.442 1.612,1.203C1.396,0.965 1.04,0.846 0.547,0.846C0.243,0.846 -0.061,0.885 -0.363,0.963C-0.667,1.041 -0.987,1.166 -1.325,1.34C-1.447,1.401 -1.551,1.42 -1.638,1.399C-1.725,1.377 -1.794,1.331 -1.846,1.262C-1.897,1.193 -1.928,1.112 -1.937,1.022C-1.945,0.93 -1.926,0.842 -1.878,0.754C-1.83,0.668 -1.755,0.599 -1.65,0.547C-1.27,0.356 -0.893,0.217 -0.52,0.131C-0.147,0.044 0.208,0 0.547,0C1.093,0 1.543,0.09 1.898,0.268C2.254,0.446 2.518,0.713 2.691,1.074C2.864,1.433 2.951,1.895 2.951,2.457L2.951,5.981C2.951,6.155 2.91,6.288 2.828,6.384C2.745,6.479 2.626,6.527 2.471,6.527C2.306,6.527 2.18,6.479 2.094,6.384C2.007,6.288 1.964,6.155 1.964,5.981L1.964,4.967L2.08,4.967C2.011,5.296 1.879,5.578 1.684,5.812C1.489,6.045 1.248,6.228 0.963,6.358C0.677,6.488 0.355,6.553 0,6.553"
				/>
			</g>
			<g transform="matrix(1,0,0,1,18.876,2.8207)">
				<path
					d="M0,6.526C-0.173,6.526 -0.304,6.478 -0.39,6.383C-0.477,6.288 -0.52,6.154 -0.52,5.98L-0.52,0.559C-0.52,0.386 -0.477,0.254 -0.39,0.163C-0.304,0.072 -0.178,0.026 -0.013,0.026C0.151,0.026 0.279,0.072 0.371,0.163C0.462,0.254 0.507,0.386 0.507,0.559L0.507,1.677L0.364,1.521C0.546,1.019 0.843,0.639 1.255,0.384C1.666,0.129 2.141,0 2.678,0C3.181,0 3.599,0.091 3.933,0.273C4.267,0.455 4.516,0.73 4.681,1.099C4.845,1.466 4.927,1.933 4.927,2.496L4.927,5.98C4.927,6.154 4.882,6.288 4.791,6.383C4.699,6.478 4.571,6.526 4.407,6.526C4.233,6.526 4.102,6.478 4.011,6.383C3.92,6.288 3.874,6.154 3.874,5.98L3.874,2.561C3.874,1.972 3.759,1.541 3.529,1.267C3.3,0.995 2.934,0.858 2.432,0.858C1.851,0.858 1.389,1.039 1.047,1.398C0.704,1.757 0.533,2.236 0.533,2.834L0.533,5.98C0.533,6.344 0.355,6.526 0,6.526"
				/>
			</g>
			<g transform="matrix(1,0,0,1,27.9756,2.847)">
				<path
					d="M0,6.526C-0.511,6.526 -0.934,6.432 -1.268,6.247C-1.601,6.06 -1.853,5.78 -2.021,5.408C-2.19,5.036 -2.274,4.571 -2.274,4.016L-2.274,0.533C-2.274,0.35 -2.229,0.216 -2.138,0.13C-2.047,0.044 -1.919,0 -1.755,0C-1.581,0 -1.449,0.044 -1.358,0.13C-1.268,0.216 -1.222,0.35 -1.222,0.533L-1.222,4.005C-1.222,4.559 -1.106,4.972 -0.877,5.245C-0.647,5.518 -0.285,5.655 0.208,5.655C0.746,5.655 1.184,5.473 1.521,5.109C1.859,4.745 2.028,4.268 2.028,3.678L2.028,0.533C2.028,0.35 2.074,0.216 2.165,0.13C2.256,0.044 2.388,0 2.562,0C2.726,0 2.854,0.044 2.945,0.13C3.036,0.216 3.081,0.35 3.081,0.533L3.081,5.954C3.081,6.318 2.912,6.5 2.574,6.5C2.409,6.5 2.282,6.452 2.19,6.357C2.1,6.261 2.055,6.128 2.055,5.954L2.055,4.77L2.224,4.953C2.05,5.464 1.767,5.854 1.372,6.123C0.978,6.391 0.521,6.526 0,6.526"
				/>
			</g>
			<g transform="matrix(1,0,0,1,35.8799,2.82)">
				<path
					d="M0,6.553C-0.667,6.553 -1.241,6.42 -1.723,6.157C-2.203,5.892 -2.576,5.518 -2.841,5.032C-3.104,4.547 -3.237,3.965 -3.237,3.289C-3.237,2.631 -3.107,2.057 -2.847,1.567C-2.587,1.078 -2.229,0.694 -1.774,0.416C-1.319,0.139 -0.793,0 -0.195,0C0.229,0 0.611,0.073 0.949,0.215C1.287,0.358 1.575,0.565 1.813,0.832C2.052,1.102 2.233,1.426 2.359,1.808C2.485,2.19 2.548,2.618 2.548,3.095C2.548,3.234 2.509,3.335 2.431,3.401C2.354,3.465 2.24,3.498 2.093,3.498L-2.431,3.498L-2.431,2.809L1.846,2.809L1.638,2.978C1.638,2.51 1.568,2.114 1.43,1.788C1.291,1.463 1.09,1.214 0.825,1.041C0.562,0.867 0.229,0.782 -0.169,0.782C-0.611,0.782 -0.986,0.883 -1.294,1.086C-1.602,1.289 -1.833,1.572 -1.989,1.932C-2.145,2.291 -2.223,2.709 -2.223,3.186L-2.223,3.264C-2.223,4.061 -2.03,4.668 -1.645,5.084C-1.259,5.5 -0.711,5.707 0,5.707C0.295,5.707 0.587,5.668 0.878,5.59C1.168,5.513 1.451,5.383 1.729,5.201C1.851,5.123 1.961,5.086 2.061,5.09C2.16,5.095 2.24,5.125 2.301,5.182C2.361,5.238 2.402,5.307 2.425,5.389C2.446,5.472 2.438,5.561 2.398,5.657C2.359,5.751 2.283,5.834 2.171,5.903C1.885,6.111 1.547,6.272 1.157,6.384C0.767,6.496 0.381,6.553 0,6.553"
				/>
			</g>
			<g transform="matrix(1,0,0,1,41.873,-1.06581e-14)">
				<path
					d="M0,9.373C-0.624,9.373 -1.101,9.182 -1.43,8.801C-1.76,8.42 -1.924,7.873 -1.924,7.163L-1.924,0.533C-1.924,0.359 -1.881,0.227 -1.794,0.137C-1.708,0.045 -1.577,0 -1.404,0C-1.239,0 -1.109,0.045 -1.014,0.137C-0.919,0.227 -0.871,0.359 -0.871,0.533L-0.871,7.085C-0.871,7.553 -0.778,7.902 -0.592,8.131C-0.405,8.361 -0.13,8.477 0.234,8.477C0.312,8.477 0.381,8.472 0.441,8.463C0.502,8.454 0.563,8.449 0.624,8.449C0.719,8.441 0.786,8.463 0.825,8.515C0.864,8.566 0.884,8.671 0.884,8.826C0.884,8.982 0.85,9.1 0.78,9.178C0.71,9.256 0.598,9.308 0.441,9.334C0.372,9.342 0.299,9.352 0.221,9.359C0.143,9.368 0.069,9.373 0,9.373"
				/>
			</g>
			<g transform="matrix(1,0,0,1,50.0762,0.0907)">
				<path
					d="M0,9.256C-0.165,9.256 -0.295,9.206 -0.39,9.107C-0.485,9.007 -0.533,8.87 -0.533,8.697L-0.533,0.923L-3.458,0.923C-3.614,0.923 -3.735,0.88 -3.822,0.793C-3.909,0.706 -3.952,0.594 -3.952,0.455C-3.952,0.308 -3.909,0.194 -3.822,0.117C-3.735,0.039 -3.614,0 -3.458,0L3.471,0C3.627,0 3.748,0.039 3.835,0.117C3.922,0.194 3.965,0.308 3.965,0.455C3.965,0.603 3.922,0.718 3.835,0.8C3.748,0.882 3.627,0.923 3.471,0.923L0.546,0.923L0.546,8.697C0.546,8.87 0.5,9.007 0.409,9.107C0.318,9.206 0.182,9.256 0,9.256"
				/>
			</g>
			<g transform="matrix(1,0,0,1,55.834,-0.0003)">
				<path
					d="M0,9.347C-0.173,9.347 -0.304,9.299 -0.39,9.204C-0.477,9.109 -0.52,8.975 -0.52,8.801L-0.52,0.534C-0.52,0.36 -0.477,0.228 -0.39,0.137C-0.304,0.045 -0.173,0 0,0C0.165,0 0.295,0.045 0.391,0.137C0.485,0.228 0.533,0.36 0.533,0.534L0.533,4.342L0.364,4.342C0.546,3.84 0.843,3.46 1.255,3.205C1.666,2.95 2.141,2.821 2.678,2.821C3.181,2.821 3.599,2.912 3.933,3.094C4.267,3.276 4.516,3.551 4.681,3.92C4.845,4.287 4.927,4.754 4.927,5.317L4.927,8.801C4.927,8.975 4.882,9.109 4.791,9.204C4.699,9.299 4.571,9.347 4.407,9.347C4.233,9.347 4.102,9.299 4.011,9.204C3.92,9.109 3.874,8.975 3.874,8.801L3.874,5.382C3.874,4.793 3.759,4.362 3.529,4.088C3.3,3.816 2.934,3.679 2.432,3.679C1.851,3.679 1.389,3.86 1.047,4.219C0.704,4.578 0.533,5.057 0.533,5.655L0.533,8.801C0.533,9.165 0.355,9.347 0,9.347"
				/>
			</g>
			<g transform="matrix(1,0,0,1,66.4678,8.1639)">
				<path
					d="M0,-6.786C-0.199,-6.786 -0.354,-6.838 -0.461,-6.942C-0.569,-7.047 -0.624,-7.193 -0.624,-7.385C-0.624,-7.574 -0.569,-7.724 -0.461,-7.832C-0.354,-7.941 -0.199,-7.995 0,-7.995C0.19,-7.995 0.338,-7.941 0.442,-7.832C0.546,-7.724 0.599,-7.574 0.599,-7.385C0.599,-7.193 0.546,-7.047 0.442,-6.942C0.338,-6.838 0.19,-6.786 0,-6.786M-2.274,-6.786C-2.466,-6.786 -2.615,-6.838 -2.724,-6.942C-2.832,-7.047 -2.886,-7.193 -2.886,-7.385C-2.886,-7.574 -2.832,-7.724 -2.724,-7.832C-2.615,-7.941 -2.466,-7.995 -2.274,-7.995C-2.075,-7.995 -1.924,-7.941 -1.819,-7.832C-1.716,-7.724 -1.664,-7.574 -1.664,-7.385C-1.664,-7.193 -1.716,-7.047 -1.819,-6.942C-1.924,-6.838 -2.075,-6.786 -2.274,-6.786M-1.144,0.363C-0.754,0.363 -0.411,0.269 -0.117,0.078C0.178,-0.113 0.405,-0.39 0.565,-0.754C0.726,-1.118 0.807,-1.556 0.807,-2.067C0.807,-2.855 0.631,-3.458 0.279,-3.874C-0.071,-4.29 -0.546,-4.498 -1.144,-4.498C-1.543,-4.498 -1.887,-4.404 -2.178,-4.219C-2.468,-4.032 -2.693,-3.76 -2.854,-3.4C-3.014,-3.04 -3.094,-2.596 -3.094,-2.067C-3.094,-1.287 -2.916,-0.687 -2.561,-0.266C-2.205,0.154 -1.733,0.363 -1.144,0.363M-1.144,1.209C-1.76,1.209 -2.292,1.074 -2.743,0.806C-3.193,0.537 -3.542,0.158 -3.789,-0.332C-4.036,-0.821 -4.16,-1.4 -4.16,-2.067C-4.16,-2.57 -4.091,-3.022 -3.952,-3.426C-3.813,-3.828 -3.609,-4.174 -3.341,-4.459C-3.072,-4.745 -2.754,-4.964 -2.386,-5.115C-2.017,-5.267 -1.604,-5.344 -1.144,-5.344C-0.528,-5.344 0.005,-5.209 0.455,-4.94C0.905,-4.672 1.255,-4.292 1.502,-3.803C1.749,-3.312 1.872,-2.734 1.872,-2.067C1.872,-1.564 1.803,-1.113 1.664,-0.715C1.525,-0.316 1.321,0.027 1.053,0.318C0.784,0.61 0.466,0.83 0.098,0.982C-0.271,1.133 -0.685,1.209 -1.144,1.209"
				/>
			</g>
			<g transform="matrix(1,0,0,1,70.4463,2.8207)">
				<path
					d="M0,6.526C-0.173,6.526 -0.304,6.478 -0.39,6.383C-0.477,6.288 -0.52,6.154 -0.52,5.98L-0.52,0.559C-0.52,0.386 -0.477,0.254 -0.39,0.163C-0.304,0.072 -0.178,0.026 -0.013,0.026C0.151,0.026 0.279,0.072 0.371,0.163C0.462,0.254 0.507,0.386 0.507,0.559L0.507,1.677L0.364,1.521C0.546,1.019 0.843,0.639 1.255,0.384C1.666,0.129 2.141,0 2.678,0C3.181,0 3.599,0.091 3.933,0.273C4.267,0.455 4.516,0.73 4.681,1.099C4.845,1.466 4.927,1.933 4.927,2.496L4.927,5.98C4.927,6.154 4.882,6.288 4.791,6.383C4.699,6.478 4.571,6.526 4.407,6.526C4.233,6.526 4.102,6.478 4.011,6.383C3.92,6.288 3.874,6.154 3.874,5.98L3.874,2.561C3.874,1.972 3.759,1.541 3.529,1.267C3.3,0.995 2.934,0.858 2.432,0.858C1.851,0.858 1.389,1.039 1.047,1.398C0.704,1.757 0.533,2.236 0.533,2.834L0.533,5.98C0.533,6.344 0.355,6.526 0,6.526"
				/>
			</g>
			<g transform="matrix(1,0,0,1,80.1572,2.82)">
				<path
					d="M0,6.553C-0.667,6.553 -1.241,6.42 -1.723,6.157C-2.203,5.892 -2.576,5.518 -2.841,5.032C-3.104,4.547 -3.237,3.965 -3.237,3.289C-3.237,2.631 -3.107,2.057 -2.847,1.567C-2.587,1.078 -2.229,0.694 -1.774,0.416C-1.319,0.139 -0.793,0 -0.195,0C0.229,0 0.611,0.073 0.949,0.215C1.287,0.358 1.575,0.565 1.813,0.832C2.052,1.102 2.233,1.426 2.359,1.808C2.485,2.19 2.548,2.618 2.548,3.095C2.548,3.234 2.509,3.335 2.431,3.401C2.354,3.465 2.24,3.498 2.093,3.498L-2.431,3.498L-2.431,2.809L1.846,2.809L1.638,2.978C1.638,2.51 1.568,2.114 1.43,1.788C1.291,1.463 1.09,1.214 0.825,1.041C0.562,0.867 0.229,0.782 -0.169,0.782C-0.611,0.782 -0.986,0.883 -1.294,1.086C-1.602,1.289 -1.833,1.572 -1.989,1.932C-2.145,2.291 -2.223,2.709 -2.223,3.186L-2.223,3.264C-2.223,4.061 -2.03,4.668 -1.645,5.084C-1.259,5.5 -0.711,5.707 0,5.707C0.295,5.707 0.587,5.668 0.878,5.59C1.168,5.513 1.451,5.383 1.729,5.201C1.851,5.123 1.961,5.086 2.061,5.09C2.16,5.095 2.24,5.125 2.301,5.182C2.361,5.238 2.402,5.307 2.425,5.389C2.446,5.472 2.438,5.561 2.398,5.657C2.359,5.751 2.283,5.834 2.171,5.903C1.885,6.111 1.547,6.272 1.157,6.384C0.767,6.496 0.381,6.553 0,6.553"
				/>
			</g>
			<g transform="matrix(1,0,0,1,1.5342,22.9485)">
				<path
					d="M0,7.449L2.678,7.449C3.371,7.449 3.892,7.311 4.238,7.033C4.585,6.757 4.758,6.336 4.758,5.772C4.758,5.2 4.585,4.778 4.238,4.505C3.892,4.232 3.371,4.095 2.678,4.095L0,4.095L0,7.449ZM0,3.237L2.47,3.237C3.146,3.237 3.659,3.098 4.011,2.821C4.361,2.544 4.537,2.145 4.537,1.626C4.537,1.089 4.361,0.682 4.011,0.41C3.659,0.137 3.146,0.001 2.47,0.001L0,0.001L0,3.237ZM-0.455,8.307C-0.646,8.307 -0.791,8.258 -0.891,8.158C-0.99,8.058 -1.04,7.913 -1.04,7.722L-1.04,-0.273C-1.04,-0.463 -0.99,-0.609 -0.891,-0.708C-0.791,-0.808 -0.646,-0.858 -0.455,-0.858L2.626,-0.858C3.259,-0.858 3.794,-0.765 4.231,-0.578C4.669,-0.392 5.005,-0.12 5.239,0.234C5.473,0.59 5.59,1.023 5.59,1.534C5.59,2.106 5.423,2.583 5.09,2.965C4.756,3.345 4.303,3.597 3.731,3.719L3.731,3.536C4.381,3.614 4.89,3.848 5.259,4.238C5.627,4.629 5.812,5.144 5.812,5.785C5.812,6.6 5.547,7.224 5.019,7.657C4.489,8.091 3.744,8.307 2.782,8.307L-0.455,8.307Z"
				/>
			</g>
			<g transform="matrix(1,0,0,1,9.6592,22.1303)">
				<path
					d="M0,9.191C-0.173,9.191 -0.304,9.14 -0.39,9.041C-0.477,8.942 -0.52,8.8 -0.52,8.619L-0.52,3.301C-0.52,3.12 -0.477,2.981 -0.39,2.885C-0.304,2.791 -0.173,2.743 0,2.743C0.165,2.743 0.295,2.791 0.391,2.885C0.485,2.981 0.533,3.12 0.533,3.301L0.533,8.619C0.533,8.8 0.487,8.942 0.396,9.041C0.306,9.14 0.174,9.191 0,9.191M0,1.287C-0.217,1.287 -0.386,1.228 -0.507,1.111C-0.628,0.995 -0.688,0.837 -0.688,0.637C-0.688,0.428 -0.628,0.27 -0.507,0.163C-0.386,0.053 -0.217,0 0,0C0.226,0 0.396,0.053 0.514,0.163C0.631,0.27 0.689,0.428 0.689,0.637C0.689,0.837 0.631,0.995 0.514,1.111C0.396,1.228 0.226,1.287 0,1.287"
				/>
			</g>
			<g transform="matrix(1,0,0,1,14.6904,22.91)">
				<path
					d="M0,8.463C-0.494,8.463 -0.908,8.374 -1.242,8.196C-1.575,8.019 -1.825,7.759 -1.989,7.416C-2.154,7.074 -2.236,6.655 -2.236,6.162L-2.236,2.847L-3.107,2.847C-3.255,2.847 -3.367,2.81 -3.445,2.736C-3.523,2.663 -3.563,2.561 -3.563,2.431C-3.563,2.301 -3.523,2.201 -3.445,2.132C-3.367,2.063 -3.255,2.027 -3.107,2.027L-2.236,2.027L-2.236,0.533C-2.236,0.359 -2.188,0.227 -2.094,0.137C-1.998,0.045 -1.868,0 -1.703,0C-1.539,0 -1.411,0.045 -1.32,0.137C-1.229,0.227 -1.184,0.359 -1.184,0.533L-1.184,2.027L0.454,2.027C0.602,2.027 0.715,2.063 0.793,2.132C0.87,2.201 0.909,2.301 0.909,2.431C0.909,2.561 0.87,2.663 0.793,2.736C0.715,2.81 0.602,2.847 0.454,2.847L-1.184,2.847L-1.184,6.058C-1.184,6.552 -1.079,6.927 -0.871,7.183C-0.663,7.438 -0.325,7.566 0.143,7.566C0.307,7.566 0.448,7.549 0.565,7.514C0.682,7.48 0.779,7.462 0.857,7.462C0.936,7.453 1.001,7.48 1.053,7.54C1.104,7.601 1.131,7.704 1.131,7.852C1.131,7.956 1.111,8.051 1.072,8.138C1.033,8.225 0.966,8.285 0.87,8.319C0.767,8.355 0.63,8.387 0.461,8.417C0.292,8.447 0.138,8.463 0,8.463"
				/>
			</g>
			<g transform="matrix(1,0,0,1,19.0713,22.91)">
				<path
					d="M0,8.463C-0.494,8.463 -0.908,8.374 -1.242,8.196C-1.575,8.019 -1.825,7.759 -1.989,7.416C-2.154,7.074 -2.236,6.655 -2.236,6.162L-2.236,2.847L-3.107,2.847C-3.255,2.847 -3.367,2.81 -3.445,2.736C-3.523,2.663 -3.563,2.561 -3.563,2.431C-3.563,2.301 -3.523,2.201 -3.445,2.132C-3.367,2.063 -3.255,2.027 -3.107,2.027L-2.236,2.027L-2.236,0.533C-2.236,0.359 -2.188,0.227 -2.094,0.137C-1.998,0.045 -1.868,0 -1.703,0C-1.539,0 -1.411,0.045 -1.32,0.137C-1.229,0.227 -1.184,0.359 -1.184,0.533L-1.184,2.027L0.454,2.027C0.602,2.027 0.715,2.063 0.793,2.132C0.87,2.201 0.909,2.301 0.909,2.431C0.909,2.561 0.87,2.663 0.793,2.736C0.715,2.81 0.602,2.847 0.454,2.847L-1.184,2.847L-1.184,6.058C-1.184,6.552 -1.079,6.927 -0.871,7.183C-0.663,7.438 -0.325,7.566 0.143,7.566C0.307,7.566 0.448,7.549 0.565,7.514C0.682,7.48 0.779,7.462 0.857,7.462C0.936,7.453 1.001,7.48 1.053,7.54C1.104,7.601 1.131,7.704 1.131,7.852C1.131,7.956 1.111,8.051 1.072,8.138C1.033,8.225 0.966,8.285 0.87,8.319C0.767,8.355 0.63,8.387 0.461,8.417C0.292,8.447 0.138,8.463 0,8.463"
				/>
			</g>
			<g transform="matrix(1,0,0,1,23.0879,22)">
				<path
					d="M0,9.373C-0.624,9.373 -1.101,9.183 -1.43,8.801C-1.76,8.42 -1.924,7.874 -1.924,7.163L-1.924,0.533C-1.924,0.359 -1.881,0.227 -1.794,0.137C-1.708,0.045 -1.577,0 -1.404,0C-1.239,0 -1.109,0.045 -1.014,0.137C-0.919,0.227 -0.871,0.359 -0.871,0.533L-0.871,7.085C-0.871,7.553 -0.778,7.901 -0.592,8.132C-0.405,8.361 -0.13,8.476 0.234,8.476C0.312,8.476 0.381,8.472 0.441,8.463C0.502,8.454 0.563,8.45 0.624,8.45C0.719,8.441 0.786,8.463 0.825,8.515C0.864,8.566 0.884,8.671 0.884,8.827C0.884,8.982 0.85,9.1 0.78,9.178C0.71,9.256 0.598,9.308 0.441,9.334C0.372,9.343 0.299,9.352 0.221,9.359C0.143,9.368 0.069,9.373 0,9.373"
				/>
			</g>
			<g transform="matrix(1,0,0,1,25.5576,24.8217)">
				<path
					d="M0,6.525C-0.174,6.525 -0.304,6.477 -0.391,6.382C-0.477,6.287 -0.521,6.153 -0.521,5.979L-0.521,0.558C-0.521,0.385 -0.477,0.253 -0.391,0.162C-0.304,0.071 -0.178,0.025 -0.013,0.025C0.151,0.025 0.279,0.071 0.37,0.162C0.461,0.253 0.507,0.385 0.507,0.558L0.507,1.702L0.364,1.52C0.528,1.035 0.795,0.66 1.163,0.396C1.531,0.131 1.972,0 2.482,0C3.021,0 3.456,0.128 3.789,0.382C4.123,0.638 4.346,1.035 4.459,1.572L4.264,1.572C4.42,1.087 4.699,0.704 5.103,0.421C5.505,0.14 5.976,0 6.513,0C6.989,0 7.382,0.09 7.689,0.272C7.997,0.454 8.229,0.729 8.385,1.097C8.541,1.466 8.619,1.932 8.619,2.495L8.619,5.979C8.619,6.153 8.573,6.287 8.482,6.382C8.392,6.477 8.259,6.525 8.086,6.525C7.921,6.525 7.793,6.477 7.702,6.382C7.611,6.287 7.565,6.153 7.565,5.979L7.565,2.547C7.565,1.966 7.466,1.54 7.267,1.266C7.067,0.994 6.729,0.857 6.253,0.857C5.732,0.857 5.323,1.037 5.024,1.397C4.726,1.756 4.576,2.244 4.576,2.859L4.576,5.979C4.576,6.153 4.53,6.287 4.439,6.382C4.349,6.477 4.216,6.525 4.043,6.525C3.878,6.525 3.75,6.477 3.659,6.382C3.568,6.287 3.522,6.153 3.522,5.979L3.522,2.547C3.522,1.966 3.421,1.54 3.218,1.266C3.014,0.994 2.678,0.857 2.21,0.857C1.689,0.857 1.28,1.037 0.981,1.397C0.683,1.756 0.533,2.244 0.533,2.859L0.533,5.979C0.533,6.343 0.355,6.525 0,6.525"
				/>
			</g>
			<g transform="matrix(1,0,0,1,38.1279,24.821)">
				<path
					d="M0,6.552C-0.433,6.552 -0.82,6.467 -1.163,6.298C-1.506,6.129 -1.776,5.898 -1.976,5.603C-2.175,5.308 -2.274,4.979 -2.274,4.615C-2.274,4.147 -2.155,3.779 -1.917,3.51C-1.679,3.241 -1.284,3.051 -0.734,2.938C-0.184,2.825 0.568,2.769 1.521,2.769L2.106,2.769L2.106,3.458L1.534,3.458C0.832,3.458 0.28,3.49 -0.123,3.555C-0.526,3.62 -0.808,3.731 -0.968,3.887C-1.129,4.043 -1.209,4.264 -1.209,4.55C-1.209,4.906 -1.085,5.196 -0.838,5.421C-0.591,5.647 -0.255,5.759 0.17,5.759C0.516,5.759 0.821,5.677 1.086,5.512C1.351,5.347 1.559,5.121 1.71,4.836C1.861,4.55 1.937,4.221 1.937,3.848L1.937,2.365C1.937,1.828 1.829,1.441 1.612,1.202C1.396,0.964 1.04,0.845 0.547,0.845C0.243,0.845 -0.061,0.884 -0.363,0.962C-0.667,1.04 -0.987,1.165 -1.325,1.339C-1.447,1.4 -1.551,1.419 -1.638,1.398C-1.725,1.376 -1.794,1.33 -1.846,1.261C-1.897,1.192 -1.928,1.112 -1.937,1.021C-1.945,0.929 -1.926,0.84 -1.878,0.754C-1.83,0.667 -1.755,0.598 -1.65,0.546C-1.27,0.356 -0.893,0.216 -0.52,0.13C-0.147,0.043 0.208,0 0.547,0C1.093,0 1.543,0.089 1.898,0.266C2.254,0.444 2.518,0.713 2.691,1.073C2.864,1.432 2.951,1.894 2.951,2.457L2.951,5.98C2.951,6.154 2.91,6.287 2.828,6.383C2.745,6.478 2.626,6.526 2.471,6.526C2.306,6.526 2.18,6.478 2.094,6.383C2.007,6.287 1.964,6.154 1.964,5.98L1.964,4.966L2.08,4.966C2.011,5.295 1.879,5.576 1.684,5.811C1.489,6.045 1.248,6.227 0.963,6.357C0.677,6.487 0.355,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,43.5498,22.1303)">
				<path
					d="M0,9.191C-0.173,9.191 -0.304,9.14 -0.39,9.041C-0.477,8.942 -0.52,8.8 -0.52,8.619L-0.52,3.301C-0.52,3.12 -0.477,2.981 -0.39,2.885C-0.304,2.791 -0.173,2.743 0,2.743C0.165,2.743 0.295,2.791 0.391,2.885C0.485,2.981 0.533,3.12 0.533,3.301L0.533,8.619C0.533,8.8 0.487,8.942 0.396,9.041C0.306,9.14 0.174,9.191 0,9.191M0,1.287C-0.217,1.287 -0.386,1.228 -0.507,1.111C-0.628,0.995 -0.688,0.837 -0.688,0.637C-0.688,0.428 -0.628,0.27 -0.507,0.163C-0.386,0.053 -0.217,0 0,0C0.226,0 0.396,0.053 0.514,0.163C0.631,0.27 0.689,0.428 0.689,0.637C0.689,0.837 0.631,0.995 0.514,1.111C0.396,1.228 0.226,1.287 0,1.287"
				/>
			</g>
			<g transform="matrix(1,0,0,1,46.5791,24.7997)">
				<path
					d="M0,6.547C-0.174,6.547 -0.306,6.499 -0.397,6.404C-0.488,6.309 -0.533,6.175 -0.533,6.001L-0.533,0.58C-0.533,0.407 -0.49,0.275 -0.403,0.184C-0.317,0.093 -0.191,0.047 -0.026,0.047C0.138,0.047 0.266,0.093 0.357,0.184C0.448,0.275 0.493,0.407 0.493,0.58L0.493,1.633L0.363,1.633C0.502,1.122 0.767,0.728 1.156,0.45C1.547,0.173 2.027,0.026 2.6,0.008C2.729,0 2.834,0.027 2.911,0.093C2.989,0.157 3.033,0.268 3.042,0.424C3.05,0.571 3.016,0.689 2.938,0.776C2.859,0.861 2.738,0.914 2.573,0.931L2.365,0.957C1.776,1.009 1.323,1.197 1.007,1.523C0.69,1.848 0.532,2.292 0.532,2.856L0.532,6.001C0.532,6.175 0.487,6.309 0.396,6.404C0.305,6.499 0.173,6.547 0,6.547"
				/>
			</g>
			<g transform="matrix(1,0,0,1,52.7666,24.821)">
				<path
					d="M0,6.552C-0.39,6.552 -0.782,6.504 -1.177,6.408C-1.571,6.314 -1.937,6.149 -2.275,5.915C-2.362,5.855 -2.423,5.782 -2.457,5.7C-2.492,5.618 -2.503,5.535 -2.489,5.453C-2.477,5.371 -2.442,5.299 -2.386,5.239C-2.329,5.178 -2.26,5.141 -2.178,5.128C-2.096,5.115 -2.002,5.135 -1.898,5.187C-1.561,5.395 -1.233,5.54 -0.917,5.622C-0.601,5.704 -0.286,5.745 0.026,5.745C0.52,5.745 0.893,5.655 1.144,5.473C1.396,5.291 1.521,5.044 1.521,4.732C1.521,4.489 1.438,4.296 1.273,4.154C1.109,4.01 0.85,3.9 0.494,3.822L-0.689,3.562C-1.235,3.449 -1.641,3.254 -1.904,2.977C-2.169,2.699 -2.301,2.34 -2.301,1.898C-2.301,1.508 -2.199,1.172 -1.996,0.89C-1.792,0.609 -1.504,0.39 -1.131,0.234C-0.759,0.077 -0.325,0 0.169,0C0.55,0 0.912,0.05 1.254,0.15C1.597,0.249 1.906,0.407 2.184,0.624C2.271,0.685 2.329,0.756 2.359,0.838C2.39,0.921 2.394,1.003 2.372,1.085C2.351,1.168 2.31,1.237 2.249,1.293C2.188,1.35 2.114,1.382 2.028,1.391C1.941,1.4 1.851,1.373 1.755,1.313C1.495,1.14 1.23,1.012 0.962,0.929C0.693,0.847 0.429,0.806 0.169,0.806C-0.316,0.806 -0.685,0.902 -0.937,1.092C-1.187,1.282 -1.313,1.533 -1.313,1.846C-1.313,2.088 -1.235,2.287 -1.079,2.444C-0.923,2.6 -0.681,2.712 -0.352,2.781L0.832,3.029C1.396,3.151 1.817,3.343 2.1,3.608C2.381,3.871 2.521,4.23 2.521,4.68C2.521,5.252 2.292,5.707 1.833,6.045C1.373,6.383 0.763,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,59.3584,22.91)">
				<path
					d="M0,8.463C-0.494,8.463 -0.908,8.374 -1.242,8.196C-1.575,8.019 -1.825,7.759 -1.989,7.416C-2.154,7.074 -2.236,6.655 -2.236,6.162L-2.236,2.847L-3.107,2.847C-3.255,2.847 -3.367,2.81 -3.445,2.736C-3.523,2.663 -3.563,2.561 -3.563,2.431C-3.563,2.301 -3.523,2.201 -3.445,2.132C-3.367,2.063 -3.255,2.027 -3.107,2.027L-2.236,2.027L-2.236,0.533C-2.236,0.359 -2.188,0.227 -2.094,0.137C-1.998,0.045 -1.868,0 -1.703,0C-1.539,0 -1.411,0.045 -1.32,0.137C-1.229,0.227 -1.184,0.359 -1.184,0.533L-1.184,2.027L0.454,2.027C0.602,2.027 0.715,2.063 0.793,2.132C0.87,2.201 0.909,2.301 0.909,2.431C0.909,2.561 0.87,2.663 0.793,2.736C0.715,2.81 0.602,2.847 0.454,2.847L-1.184,2.847L-1.184,6.058C-1.184,6.552 -1.079,6.927 -0.871,7.183C-0.663,7.438 -0.325,7.566 0.143,7.566C0.307,7.566 0.448,7.549 0.565,7.514C0.682,7.48 0.779,7.462 0.857,7.462C0.936,7.453 1.001,7.48 1.053,7.54C1.104,7.601 1.131,7.704 1.131,7.852C1.131,7.956 1.111,8.051 1.072,8.138C1.033,8.225 0.966,8.285 0.87,8.319C0.767,8.355 0.63,8.387 0.461,8.417C0.292,8.447 0.138,8.463 0,8.463"
				/>
			</g>
			<g transform="matrix(1,0,0,1,61.9063,24.7997)">
				<path
					d="M0,6.547C-0.174,6.547 -0.306,6.499 -0.397,6.404C-0.488,6.309 -0.533,6.175 -0.533,6.001L-0.533,0.58C-0.533,0.407 -0.49,0.275 -0.403,0.184C-0.317,0.093 -0.191,0.047 -0.026,0.047C0.138,0.047 0.266,0.093 0.357,0.184C0.448,0.275 0.493,0.407 0.493,0.58L0.493,1.633L0.363,1.633C0.502,1.122 0.767,0.728 1.156,0.45C1.547,0.173 2.027,0.026 2.6,0.008C2.729,0 2.834,0.027 2.911,0.093C2.989,0.157 3.033,0.268 3.042,0.424C3.05,0.571 3.016,0.689 2.938,0.776C2.859,0.861 2.738,0.914 2.573,0.931L2.365,0.957C1.776,1.009 1.323,1.197 1.007,1.523C0.69,1.848 0.532,2.292 0.532,2.856L0.532,6.001C0.532,6.175 0.487,6.309 0.396,6.404C0.305,6.499 0.173,6.547 0,6.547"
				/>
			</g>
			<g transform="matrix(1,0,0,1,67.9502,24.821)">
				<path
					d="M0,6.552C-0.433,6.552 -0.82,6.467 -1.163,6.298C-1.506,6.129 -1.776,5.898 -1.976,5.603C-2.175,5.308 -2.274,4.979 -2.274,4.615C-2.274,4.147 -2.155,3.779 -1.917,3.51C-1.679,3.241 -1.284,3.051 -0.734,2.938C-0.184,2.825 0.568,2.769 1.521,2.769L2.106,2.769L2.106,3.458L1.534,3.458C0.832,3.458 0.28,3.49 -0.123,3.555C-0.526,3.62 -0.808,3.731 -0.968,3.887C-1.129,4.043 -1.209,4.264 -1.209,4.55C-1.209,4.906 -1.085,5.196 -0.838,5.421C-0.591,5.647 -0.255,5.759 0.17,5.759C0.516,5.759 0.821,5.677 1.086,5.512C1.351,5.347 1.559,5.121 1.71,4.836C1.861,4.55 1.937,4.221 1.937,3.848L1.937,2.365C1.937,1.828 1.829,1.441 1.612,1.202C1.396,0.964 1.04,0.845 0.547,0.845C0.243,0.845 -0.061,0.884 -0.363,0.962C-0.667,1.04 -0.987,1.165 -1.325,1.339C-1.447,1.4 -1.551,1.419 -1.638,1.398C-1.725,1.376 -1.794,1.33 -1.846,1.261C-1.897,1.192 -1.928,1.112 -1.937,1.021C-1.945,0.929 -1.926,0.84 -1.878,0.754C-1.83,0.667 -1.755,0.598 -1.65,0.546C-1.27,0.356 -0.893,0.216 -0.52,0.13C-0.147,0.043 0.208,0 0.547,0C1.093,0 1.543,0.089 1.898,0.266C2.254,0.444 2.518,0.713 2.691,1.073C2.864,1.432 2.951,1.894 2.951,2.457L2.951,5.98C2.951,6.154 2.91,6.287 2.828,6.383C2.745,6.478 2.626,6.526 2.471,6.526C2.306,6.526 2.18,6.478 2.094,6.383C2.007,6.287 1.964,6.154 1.964,5.98L1.964,4.966L2.08,4.966C2.011,5.295 1.879,5.576 1.684,5.811C1.489,6.045 1.248,6.227 0.963,6.357C0.677,6.487 0.355,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,77.1025,21.974)">
				<path
					d="M0,9.399C-0.373,9.399 -0.75,9.344 -1.131,9.236C-1.513,9.128 -1.851,8.97 -2.146,8.762C-2.241,8.702 -2.306,8.628 -2.34,8.541C-2.375,8.455 -2.384,8.368 -2.366,8.281C-2.349,8.194 -2.308,8.121 -2.243,8.06C-2.178,8 -2.102,7.964 -2.016,7.956C-1.929,7.947 -1.838,7.973 -1.742,8.034C-1.456,8.215 -1.157,8.348 -0.846,8.43C-0.533,8.513 -0.247,8.554 0.013,8.554C0.437,8.554 0.771,8.462 1.014,8.281C1.256,8.099 1.378,7.852 1.378,7.54C1.378,7.289 1.273,7.079 1.065,6.91C0.857,6.741 0.498,6.578 -0.014,6.421C-0.707,6.206 -1.192,5.961 -1.47,5.687C-1.747,5.415 -1.886,5.07 -1.886,4.654C-1.886,4.472 -1.855,4.296 -1.794,4.128C-1.733,3.959 -1.63,3.781 -1.482,3.594C-1.335,3.408 -1.131,3.207 -0.871,2.99C-0.603,2.755 -0.414,2.545 -0.306,2.359C-0.197,2.172 -0.144,1.971 -0.144,1.754C-0.144,1.469 -0.245,1.241 -0.449,1.073C-0.652,0.903 -0.94,0.819 -1.313,0.819C-1.92,0.819 -2.386,1.001 -2.711,1.365C-3.036,1.729 -3.198,2.245 -3.198,2.912L-3.198,8.827C-3.198,9.001 -3.246,9.134 -3.341,9.23C-3.437,9.325 -3.566,9.373 -3.731,9.373C-3.904,9.373 -4.035,9.325 -4.121,9.23C-4.208,9.134 -4.251,9.001 -4.251,8.827L-4.251,3.042C-4.251,2.071 -3.996,1.321 -3.484,0.794C-2.973,0.264 -2.254,0 -1.326,0C-0.867,0 -0.473,0.067 -0.144,0.202C0.186,0.336 0.437,0.528 0.61,0.78C0.784,1.032 0.871,1.326 0.871,1.664C0.871,1.993 0.797,2.288 0.649,2.547C0.502,2.808 0.247,3.098 -0.117,3.419C-0.316,3.592 -0.473,3.742 -0.585,3.868C-0.698,3.993 -0.776,4.108 -0.819,4.212C-0.862,4.316 -0.884,4.428 -0.884,4.549C-0.884,4.775 -0.785,4.97 -0.585,5.134C-0.386,5.299 -0.022,5.464 0.507,5.628C1.174,5.829 1.65,6.078 1.937,6.377C2.223,6.675 2.366,7.054 2.366,7.514C2.366,7.886 2.269,8.213 2.073,8.496C1.878,8.777 1.603,8.998 1.248,9.159C0.893,9.319 0.477,9.399 0,9.399"
				/>
			</g>
			<g transform="matrix(1,0,0,1,83.6934,24.821)">
				<path
					d="M0,6.552C-0.667,6.552 -1.241,6.42 -1.723,6.156C-2.203,5.891 -2.576,5.516 -2.841,5.031C-3.104,4.545 -3.237,3.965 -3.237,3.288C-3.237,2.63 -3.107,2.056 -2.847,1.567C-2.587,1.076 -2.229,0.694 -1.774,0.416C-1.319,0.139 -0.793,0 -0.195,0C0.229,0 0.611,0.072 0.949,0.214C1.287,0.358 1.575,0.564 1.813,0.832C2.052,1.101 2.233,1.426 2.359,1.807C2.485,2.189 2.548,2.617 2.548,3.094C2.548,3.233 2.509,3.334 2.431,3.4C2.354,3.464 2.24,3.496 2.093,3.496L-2.431,3.496L-2.431,2.808L1.846,2.808L1.638,2.977C1.638,2.509 1.568,2.113 1.43,1.787C1.291,1.462 1.09,1.213 0.825,1.04C0.562,0.866 0.229,0.78 -0.169,0.78C-0.611,0.78 -0.986,0.882 -1.294,1.085C-1.602,1.289 -1.833,1.571 -1.989,1.93C-2.145,2.29 -2.223,2.708 -2.223,3.185L-2.223,3.263C-2.223,4.06 -2.03,4.667 -1.645,5.083C-1.259,5.499 -0.711,5.707 0,5.707C0.295,5.707 0.587,5.668 0.878,5.59C1.168,5.512 1.451,5.382 1.729,5.199C1.851,5.121 1.961,5.085 2.061,5.089C2.16,5.094 2.24,5.124 2.301,5.18C2.361,5.237 2.402,5.306 2.425,5.388C2.446,5.471 2.438,5.56 2.398,5.655C2.359,5.75 2.283,5.832 2.171,5.902C1.885,6.11 1.547,6.271 1.157,6.383C0.767,6.495 0.381,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,94.2227,22.091)">
				<path
					d="M0,9.282C-0.494,9.282 -0.985,9.208 -1.476,9.061C-1.965,8.914 -2.409,8.683 -2.808,8.372C-2.912,8.303 -2.981,8.22 -3.016,8.125C-3.051,8.029 -3.055,7.934 -3.028,7.839C-3.003,7.744 -2.955,7.663 -2.886,7.598C-2.816,7.533 -2.732,7.497 -2.632,7.488C-2.532,7.479 -2.427,7.513 -2.313,7.592C-1.958,7.844 -1.59,8.029 -1.209,8.151C-0.827,8.272 -0.429,8.333 -0.013,8.333C0.412,8.333 0.778,8.253 1.086,8.093C1.394,7.932 1.627,7.707 1.788,7.417C1.948,7.126 2.028,6.786 2.028,6.396C2.028,5.798 1.854,5.308 1.508,4.927C1.161,4.546 0.685,4.355 0.078,4.355C-0.295,4.355 -0.637,4.425 -0.948,4.563C-1.261,4.702 -1.547,4.923 -1.807,5.225C-1.867,5.296 -1.938,5.354 -2.021,5.401C-2.104,5.449 -2.196,5.472 -2.301,5.472C-2.448,5.472 -2.563,5.431 -2.646,5.349C-2.728,5.267 -2.769,5.157 -2.769,5.017L-2.769,0.494C-2.769,0.329 -2.726,0.206 -2.639,0.124C-2.552,0.042 -2.431,0 -2.274,0L2.146,0C2.31,0 2.434,0.039 2.516,0.117C2.598,0.194 2.64,0.307 2.64,0.455C2.64,0.602 2.598,0.715 2.516,0.793C2.434,0.871 2.31,0.91 2.146,0.91L-1.716,0.91L-1.716,4.563L-2.002,4.563C-1.776,4.199 -1.465,3.92 -1.065,3.724C-0.667,3.529 -0.221,3.431 0.273,3.431C0.854,3.431 1.354,3.553 1.774,3.796C2.195,4.039 2.521,4.379 2.75,4.816C2.979,5.254 3.095,5.763 3.095,6.344C3.095,6.916 2.969,7.423 2.717,7.865C2.466,8.306 2.11,8.653 1.651,8.905C1.191,9.156 0.642,9.282 0,9.282"
				/>
			</g>
			<g transform="matrix(1,0,0,1,3.2637,49.1739)">
				<path
					d="M0,-1.001C0.424,-1.001 0.786,-1.068 1.085,-1.202C1.384,-1.337 1.616,-1.529 1.78,-1.781C1.945,-2.032 2.027,-2.327 2.027,-2.665C2.027,-3.185 1.848,-3.59 1.488,-3.881C1.128,-4.171 0.632,-4.316 0,-4.316C-0.633,-4.316 -1.127,-4.171 -1.482,-3.881C-1.838,-3.59 -2.016,-3.185 -2.016,-2.665C-2.016,-2.145 -1.838,-1.737 -1.482,-1.443C-1.127,-1.148 -0.633,-1.001 0,-1.001M0,3.315C0.736,3.315 1.293,3.172 1.67,2.886C2.047,2.6 2.235,2.167 2.235,1.586C2.235,1.014 2.047,0.587 1.67,0.306C1.293,0.024 0.736,-0.117 0,-0.117C-0.729,-0.117 -1.283,0.024 -1.664,0.306C-2.046,0.587 -2.236,1.014 -2.236,1.586C-2.236,2.167 -2.046,2.6 -1.664,2.886C-1.283,3.172 -0.729,3.315 0,3.315M0,4.199C-0.686,4.199 -1.272,4.1 -1.762,3.9C-2.252,3.701 -2.624,3.41 -2.88,3.029C-3.136,2.647 -3.264,2.188 -3.264,1.651C-3.264,1.227 -3.177,0.848 -3.003,0.514C-2.83,0.18 -2.587,-0.091 -2.275,-0.299C-1.964,-0.507 -1.604,-0.637 -1.196,-0.689L-1.196,-0.494C-1.76,-0.615 -2.208,-0.882 -2.542,-1.294C-2.876,-1.705 -3.042,-2.192 -3.042,-2.756C-3.042,-3.276 -2.919,-3.716 -2.672,-4.075C-2.425,-4.435 -2.072,-4.713 -1.612,-4.907C-1.153,-5.103 -0.616,-5.2 0,-5.2C0.624,-5.2 1.163,-5.103 1.618,-4.907C2.073,-4.713 2.426,-4.435 2.678,-4.075C2.929,-3.716 3.055,-3.276 3.055,-2.756C3.055,-2.383 2.979,-2.039 2.827,-1.723C2.676,-1.406 2.461,-1.144 2.184,-0.936C1.906,-0.728 1.581,-0.585 1.209,-0.507L1.209,-0.689C1.824,-0.603 2.32,-0.349 2.697,0.071C3.074,0.492 3.263,1.019 3.263,1.651C3.263,2.188 3.135,2.647 2.879,3.029C2.623,3.41 2.251,3.701 1.761,3.9C1.271,4.1 0.685,4.199 0,4.199"
				/>
			</g>
			<g transform="matrix(1,0,0,1,11.2578,44.091)">
				<path
					d="M0,9.282C-0.494,9.282 -0.985,9.208 -1.476,9.061C-1.965,8.914 -2.409,8.683 -2.808,8.372C-2.912,8.303 -2.981,8.22 -3.016,8.125C-3.051,8.029 -3.055,7.934 -3.028,7.839C-3.003,7.744 -2.955,7.663 -2.886,7.598C-2.816,7.533 -2.732,7.497 -2.632,7.488C-2.532,7.479 -2.427,7.513 -2.313,7.592C-1.958,7.844 -1.59,8.029 -1.209,8.151C-0.827,8.272 -0.429,8.333 -0.013,8.333C0.412,8.333 0.778,8.253 1.086,8.093C1.394,7.932 1.627,7.707 1.788,7.417C1.948,7.126 2.028,6.786 2.028,6.396C2.028,5.798 1.854,5.308 1.508,4.927C1.161,4.546 0.685,4.355 0.078,4.355C-0.295,4.355 -0.637,4.425 -0.948,4.563C-1.261,4.702 -1.547,4.923 -1.807,5.225C-1.867,5.296 -1.938,5.354 -2.021,5.401C-2.104,5.449 -2.196,5.472 -2.301,5.472C-2.448,5.472 -2.563,5.431 -2.646,5.349C-2.728,5.267 -2.769,5.157 -2.769,5.017L-2.769,0.494C-2.769,0.329 -2.726,0.206 -2.639,0.124C-2.552,0.041 -2.431,0 -2.274,0L2.146,0C2.31,0 2.434,0.039 2.516,0.117C2.598,0.195 2.64,0.307 2.64,0.455C2.64,0.602 2.598,0.715 2.516,0.793C2.434,0.871 2.31,0.91 2.146,0.91L-1.716,0.91L-1.716,4.563L-2.002,4.563C-1.776,4.199 -1.465,3.92 -1.065,3.724C-0.667,3.529 -0.221,3.431 0.273,3.431C0.854,3.431 1.354,3.553 1.774,3.796C2.195,4.039 2.521,4.379 2.75,4.816C2.979,5.254 3.095,5.763 3.095,6.344C3.095,6.916 2.969,7.423 2.717,7.865C2.466,8.306 2.11,8.653 1.651,8.905C1.191,9.156 0.642,9.282 0,9.282"
				/>
			</g>
			<g transform="matrix(1,0,0,1,18.8633,44.8962)">
				<path
					d="M0,7.554C0.728,7.554 1.268,7.243 1.618,6.624C1.969,6.004 2.145,5.049 2.145,3.758C2.145,2.457 1.969,1.506 1.618,0.905C1.268,0.302 0.728,0 0,0C-0.72,0 -1.257,0.304 -1.612,0.91C-1.968,1.518 -2.146,2.466 -2.146,3.758C-2.146,5.049 -1.968,6.004 -1.612,6.624C-1.257,7.243 -0.72,7.554 0,7.554M0,8.477C-1.049,8.477 -1.847,8.074 -2.393,7.268C-2.938,6.461 -3.211,5.296 -3.211,3.771C-3.211,2.748 -3.09,1.888 -2.848,1.19C-2.604,0.492 -2.243,-0.034 -1.762,-0.389C-1.281,-0.745 -0.694,-0.923 0,-0.923C1.057,-0.923 1.856,-0.526 2.398,0.267C2.939,1.06 3.211,2.224 3.211,3.758C3.211,4.781 3.089,5.643 2.847,6.345C2.604,7.046 2.244,7.577 1.768,7.937C1.291,8.297 0.701,8.477 0,8.477"
				/>
			</g>
			<g transform="matrix(1,0,0,1,26.8574,44.091)">
				<path
					d="M0,9.282C-0.494,9.282 -0.985,9.208 -1.476,9.061C-1.965,8.914 -2.409,8.683 -2.808,8.372C-2.912,8.303 -2.981,8.22 -3.016,8.125C-3.051,8.029 -3.055,7.934 -3.028,7.839C-3.003,7.744 -2.955,7.663 -2.886,7.598C-2.816,7.533 -2.732,7.497 -2.632,7.488C-2.532,7.479 -2.427,7.513 -2.313,7.592C-1.958,7.844 -1.59,8.029 -1.209,8.151C-0.827,8.272 -0.429,8.333 -0.013,8.333C0.412,8.333 0.778,8.253 1.086,8.093C1.394,7.932 1.627,7.707 1.788,7.417C1.948,7.126 2.028,6.786 2.028,6.396C2.028,5.798 1.854,5.308 1.508,4.927C1.161,4.546 0.685,4.355 0.078,4.355C-0.295,4.355 -0.637,4.425 -0.948,4.563C-1.261,4.702 -1.547,4.923 -1.807,5.225C-1.867,5.296 -1.938,5.354 -2.021,5.401C-2.104,5.449 -2.196,5.472 -2.301,5.472C-2.448,5.472 -2.563,5.431 -2.646,5.349C-2.728,5.267 -2.769,5.157 -2.769,5.017L-2.769,0.494C-2.769,0.329 -2.726,0.206 -2.639,0.124C-2.552,0.041 -2.431,0 -2.274,0L2.146,0C2.31,0 2.434,0.039 2.516,0.117C2.598,0.195 2.64,0.307 2.64,0.455C2.64,0.602 2.598,0.715 2.516,0.793C2.434,0.871 2.31,0.91 2.146,0.91L-1.716,0.91L-1.716,4.563L-2.002,4.563C-1.776,4.199 -1.465,3.92 -1.065,3.724C-0.667,3.529 -0.221,3.431 0.273,3.431C0.854,3.431 1.354,3.553 1.774,3.796C2.195,4.039 2.521,4.379 2.75,4.816C2.979,5.254 3.095,5.763 3.095,6.344C3.095,6.916 2.969,7.423 2.717,7.865C2.466,8.306 2.11,8.653 1.651,8.905C1.191,9.156 0.642,9.282 0,9.282"
				/>
			</g>
			<g transform="matrix(1,0,0,1,32.5771,43.9999)">
				<path
					d="M0,9.256C-0.155,9.256 -0.277,9.215 -0.363,9.133C-0.45,9.05 -0.493,8.936 -0.493,8.788C-0.493,8.641 -0.45,8.53 -0.363,8.456C-0.277,8.383 -0.155,8.346 0,8.346L1.69,8.346L1.69,0.975L2.249,0.975L0.364,2.223C0.252,2.283 0.146,2.31 0.046,2.301C-0.054,2.292 -0.136,2.255 -0.201,2.191C-0.267,2.125 -0.312,2.047 -0.338,1.956C-0.363,1.865 -0.359,1.771 -0.324,1.67C-0.29,1.571 -0.217,1.486 -0.104,1.417L1.69,0.234C1.803,0.165 1.911,0.109 2.016,0.065C2.119,0.022 2.224,0 2.327,0C2.448,0 2.551,0.037 2.633,0.11C2.715,0.185 2.757,0.299 2.757,0.455L2.757,8.346L4.316,8.346C4.473,8.346 4.594,8.383 4.681,8.456C4.767,8.53 4.811,8.641 4.811,8.788C4.811,8.944 4.767,9.061 4.681,9.139C4.594,9.217 4.473,9.256 4.316,9.256L0,9.256Z"
				/>
			</g>
			<g transform="matrix(1,0,0,1,43.3809,43.9997)">
				<path
					d="M0,9.347C-0.174,9.347 -0.306,9.297 -0.396,9.198C-0.487,9.098 -0.533,8.961 -0.533,8.788L-0.533,0.559C-0.533,0.377 -0.487,0.239 -0.396,0.143C-0.306,0.048 -0.174,0 0,0C0.173,0 0.306,0.048 0.396,0.143C0.487,0.239 0.533,0.377 0.533,0.559L0.533,8.788C0.533,8.961 0.489,9.098 0.403,9.198C0.316,9.297 0.182,9.347 0,9.347"
				/>
			</g>
			<g transform="matrix(1,0,0,1,46.5654,46.8217)">
				<path
					d="M0,6.525C-0.173,6.525 -0.304,6.477 -0.39,6.382C-0.477,6.287 -0.52,6.153 -0.52,5.979L-0.52,0.558C-0.52,0.385 -0.477,0.253 -0.39,0.162C-0.304,0.071 -0.178,0.025 -0.013,0.025C0.151,0.025 0.279,0.071 0.371,0.162C0.462,0.253 0.507,0.385 0.507,0.558L0.507,1.676L0.364,1.52C0.546,1.017 0.843,0.638 1.255,0.382C1.666,0.128 2.141,0 2.678,0C3.181,0 3.599,0.09 3.933,0.272C4.267,0.454 4.516,0.729 4.681,1.097C4.845,1.466 4.927,1.932 4.927,2.495L4.927,5.979C4.927,6.153 4.882,6.287 4.791,6.382C4.699,6.477 4.571,6.525 4.407,6.525C4.233,6.525 4.102,6.477 4.011,6.382C3.92,6.287 3.874,6.153 3.874,5.979L3.874,2.56C3.874,1.971 3.759,1.54 3.529,1.266C3.3,0.994 2.934,0.857 2.432,0.857C1.851,0.857 1.389,1.037 1.047,1.397C0.704,1.756 0.533,2.235 0.533,2.834L0.533,5.979C0.533,6.343 0.355,6.525 0,6.525"
				/>
			</g>
			<g transform="matrix(1,0,0,1,56.0684,50.2789)">
				<path
					d="M0,1.976C0.407,1.976 0.759,1.883 1.053,1.697C1.348,1.51 1.575,1.244 1.735,0.897C1.896,0.55 1.976,0.143 1.976,-0.325C1.976,-1.027 1.798,-1.584 1.443,-1.996C1.088,-2.407 0.606,-2.613 0,-2.613C-0.398,-2.613 -0.745,-2.52 -1.04,-2.334C-1.335,-2.147 -1.562,-1.882 -1.723,-1.541C-1.883,-1.198 -1.963,-0.793 -1.963,-0.325C-1.963,0.377 -1.785,0.936 -1.43,1.352C-1.074,1.768 -0.598,1.976 0,1.976M0.156,5.434C-0.304,5.434 -0.752,5.379 -1.189,5.272C-1.627,5.163 -2.023,4.992 -2.379,4.758C-2.483,4.698 -2.55,4.623 -2.58,4.537C-2.611,4.451 -2.617,4.366 -2.6,4.284C-2.583,4.201 -2.544,4.127 -2.483,4.063C-2.423,3.997 -2.351,3.956 -2.269,3.939C-2.187,3.921 -2.102,3.935 -2.015,3.978C-1.634,4.212 -1.27,4.372 -0.923,4.459C-0.576,4.545 -0.234,4.589 0.104,4.589C0.72,4.589 1.186,4.424 1.502,4.095C1.817,3.765 1.976,3.288 1.976,2.665L1.976,1.196L2.106,1.196C1.976,1.699 1.701,2.097 1.28,2.392C0.86,2.687 0.368,2.834 -0.195,2.834C-0.775,2.834 -1.278,2.702 -1.703,2.438C-2.128,2.173 -2.455,1.803 -2.685,1.326C-2.914,0.849 -3.029,0.299 -3.029,-0.325C-3.029,-0.793 -2.964,-1.219 -2.834,-1.605C-2.704,-1.991 -2.516,-2.321 -2.269,-2.593C-2.021,-2.867 -1.723,-3.079 -1.371,-3.23C-1.021,-3.382 -0.629,-3.458 -0.195,-3.458C0.377,-3.458 0.871,-3.313 1.287,-3.022C1.703,-2.732 1.972,-2.34 2.093,-1.846L1.963,-1.69L1.963,-2.899C1.963,-3.072 2.009,-3.205 2.1,-3.295C2.19,-3.386 2.318,-3.432 2.483,-3.432C2.656,-3.432 2.786,-3.386 2.873,-3.295C2.96,-3.205 3.003,-3.072 3.003,-2.899L3.003,2.522C3.003,3.484 2.763,4.209 2.281,4.7C1.801,5.189 1.092,5.434 0.156,5.434"
				/>
			</g>
			<g transform="matrix(1,0,0,1,63.6738,47.6663)">
				<path
					d="M0,4.862C0.39,4.862 0.732,4.766 1.026,4.576C1.321,4.385 1.549,4.107 1.709,3.744C1.869,3.38 1.95,2.942 1.95,2.43C1.95,1.642 1.774,1.04 1.423,0.624C1.072,0.208 0.598,0 0,0C-0.399,0 -0.743,0.092 -1.034,0.279C-1.324,0.466 -1.55,0.739 -1.71,1.098C-1.87,1.458 -1.95,1.902 -1.95,2.43C-1.95,3.211 -1.772,3.811 -1.417,4.231C-1.062,4.651 -0.59,4.862 0,4.862M0,5.707C-0.616,5.707 -1.148,5.572 -1.6,5.303C-2.05,5.035 -2.398,4.656 -2.646,4.166C-2.893,3.676 -3.017,3.098 -3.017,2.43C-3.017,1.928 -2.947,1.475 -2.809,1.072C-2.67,0.669 -2.466,0.325 -2.197,0.039C-1.929,-0.247 -1.61,-0.466 -1.242,-0.617C-0.873,-0.77 -0.46,-0.845 0,-0.845C0.615,-0.845 1.148,-0.711 1.599,-0.443C2.049,-0.174 2.398,0.206 2.646,0.695C2.893,1.185 3.016,1.763 3.016,2.43C3.016,2.933 2.946,3.384 2.808,3.783C2.669,4.181 2.465,4.526 2.196,4.816C1.928,5.106 1.609,5.328 1.241,5.479C0.873,5.631 0.459,5.707 0,5.707"
				/>
			</g>
			<g transform="matrix(1,0,0,1,70.1992,44)">
				<path
					d="M0,9.373C-0.624,9.373 -1.101,9.183 -1.43,8.801C-1.76,8.42 -1.924,7.874 -1.924,7.163L-1.924,0.533C-1.924,0.359 -1.881,0.227 -1.794,0.137C-1.708,0.045 -1.577,0 -1.404,0C-1.239,0 -1.109,0.045 -1.014,0.137C-0.919,0.227 -0.871,0.359 -0.871,0.533L-0.871,7.085C-0.871,7.553 -0.778,7.901 -0.592,8.132C-0.405,8.361 -0.13,8.476 0.234,8.476C0.312,8.476 0.381,8.472 0.441,8.463C0.502,8.454 0.563,8.45 0.624,8.45C0.719,8.441 0.786,8.463 0.825,8.515C0.864,8.566 0.884,8.671 0.884,8.827C0.884,8.982 0.85,9.1 0.78,9.178C0.71,9.256 0.598,9.308 0.441,9.334C0.372,9.343 0.299,9.352 0.221,9.359C0.143,9.368 0.069,9.373 0,9.373"
				/>
			</g>
			<g transform="matrix(1,0,0,1,74.1904,46.821)">
				<path
					d="M0,6.552C-0.39,6.552 -0.782,6.504 -1.177,6.408C-1.571,6.314 -1.937,6.149 -2.275,5.915C-2.362,5.855 -2.423,5.782 -2.457,5.7C-2.492,5.618 -2.503,5.535 -2.489,5.453C-2.477,5.371 -2.442,5.299 -2.386,5.239C-2.329,5.178 -2.26,5.141 -2.178,5.128C-2.096,5.115 -2.002,5.135 -1.898,5.187C-1.561,5.395 -1.233,5.54 -0.917,5.622C-0.601,5.704 -0.286,5.745 0.026,5.745C0.52,5.745 0.893,5.655 1.144,5.473C1.396,5.291 1.521,5.044 1.521,4.732C1.521,4.489 1.438,4.296 1.273,4.154C1.109,4.01 0.85,3.9 0.494,3.822L-0.689,3.562C-1.235,3.449 -1.641,3.254 -1.904,2.977C-2.169,2.699 -2.301,2.34 -2.301,1.898C-2.301,1.508 -2.199,1.172 -1.996,0.89C-1.792,0.609 -1.504,0.39 -1.131,0.234C-0.759,0.077 -0.325,0 0.169,0C0.55,0 0.912,0.05 1.254,0.15C1.597,0.249 1.906,0.407 2.184,0.624C2.271,0.685 2.329,0.756 2.359,0.838C2.39,0.921 2.394,1.003 2.372,1.085C2.351,1.168 2.31,1.237 2.249,1.293C2.188,1.35 2.114,1.382 2.028,1.391C1.941,1.4 1.851,1.373 1.755,1.313C1.495,1.14 1.23,1.012 0.962,0.929C0.693,0.847 0.429,0.806 0.169,0.806C-0.316,0.806 -0.685,0.902 -0.937,1.092C-1.187,1.282 -1.313,1.533 -1.313,1.846C-1.313,2.088 -1.235,2.287 -1.079,2.444C-0.923,2.6 -0.681,2.712 -0.352,2.781L0.832,3.029C1.396,3.151 1.817,3.343 2.1,3.608C2.381,3.871 2.521,4.23 2.521,4.68C2.521,5.252 2.292,5.707 1.833,6.045C1.373,6.383 0.763,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,80.7822,44.91)">
				<path
					d="M0,8.463C-0.494,8.463 -0.908,8.374 -1.242,8.196C-1.575,8.019 -1.825,7.759 -1.989,7.416C-2.154,7.074 -2.236,6.655 -2.236,6.162L-2.236,2.847L-3.107,2.847C-3.255,2.847 -3.367,2.81 -3.445,2.736C-3.523,2.663 -3.563,2.561 -3.563,2.431C-3.563,2.301 -3.523,2.201 -3.445,2.132C-3.367,2.063 -3.255,2.027 -3.107,2.027L-2.236,2.027L-2.236,0.532C-2.236,0.359 -2.188,0.228 -2.094,0.136C-1.998,0.045 -1.868,0 -1.703,0C-1.539,0 -1.411,0.045 -1.32,0.136C-1.229,0.228 -1.184,0.359 -1.184,0.532L-1.184,2.027L0.454,2.027C0.602,2.027 0.715,2.063 0.793,2.132C0.87,2.201 0.909,2.301 0.909,2.431C0.909,2.561 0.87,2.663 0.793,2.736C0.715,2.81 0.602,2.847 0.454,2.847L-1.184,2.847L-1.184,6.058C-1.184,6.552 -1.079,6.927 -0.871,7.183C-0.663,7.438 -0.325,7.566 0.143,7.566C0.307,7.566 0.448,7.549 0.565,7.514C0.682,7.48 0.779,7.462 0.857,7.462C0.936,7.453 1.001,7.48 1.053,7.54C1.104,7.601 1.131,7.704 1.131,7.852C1.131,7.956 1.111,8.051 1.072,8.138C1.033,8.225 0.966,8.285 0.87,8.319C0.767,8.355 0.63,8.387 0.461,8.417C0.292,8.447 0.138,8.463 0,8.463"
				/>
			</g>
			<g transform="matrix(1,0,0,1,84.7852,46.821)">
				<path
					d="M0,6.552C-0.433,6.552 -0.82,6.467 -1.163,6.298C-1.506,6.129 -1.776,5.898 -1.976,5.603C-2.175,5.308 -2.274,4.979 -2.274,4.615C-2.274,4.147 -2.155,3.779 -1.917,3.51C-1.679,3.241 -1.284,3.051 -0.734,2.938C-0.184,2.825 0.568,2.769 1.521,2.769L2.106,2.769L2.106,3.458L1.534,3.458C0.832,3.458 0.28,3.49 -0.123,3.555C-0.526,3.62 -0.808,3.731 -0.968,3.887C-1.129,4.043 -1.209,4.264 -1.209,4.55C-1.209,4.906 -1.085,5.196 -0.838,5.421C-0.591,5.647 -0.255,5.759 0.17,5.759C0.516,5.759 0.821,5.677 1.086,5.512C1.351,5.347 1.559,5.121 1.71,4.836C1.861,4.55 1.937,4.221 1.937,3.848L1.937,2.365C1.937,1.828 1.829,1.441 1.612,1.202C1.396,0.964 1.04,0.845 0.547,0.845C0.243,0.845 -0.061,0.884 -0.363,0.962C-0.667,1.04 -0.987,1.165 -1.325,1.339C-1.447,1.4 -1.551,1.419 -1.638,1.398C-1.725,1.376 -1.794,1.33 -1.846,1.261C-1.897,1.192 -1.928,1.112 -1.937,1.021C-1.945,0.929 -1.926,0.84 -1.878,0.754C-1.83,0.667 -1.755,0.598 -1.65,0.546C-1.27,0.356 -0.893,0.216 -0.52,0.13C-0.147,0.043 0.208,0 0.547,0C1.093,0 1.543,0.089 1.898,0.266C2.254,0.444 2.518,0.713 2.691,1.073C2.864,1.432 2.951,1.894 2.951,2.457L2.951,5.98C2.951,6.154 2.91,6.287 2.828,6.383C2.745,6.478 2.626,6.526 2.471,6.526C2.306,6.526 2.18,6.478 2.094,6.383C2.007,6.287 1.964,6.154 1.964,5.98L1.964,4.966L2.08,4.966C2.011,5.295 1.879,5.576 1.684,5.811C1.489,6.045 1.248,6.227 0.963,6.357C0.677,6.487 0.355,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,92.3125,44.8453)">
				<path
					d="M0,7.683C0.39,7.683 0.732,7.587 1.026,7.397C1.321,7.206 1.549,6.928 1.709,6.565C1.869,6.201 1.95,5.763 1.95,5.251C1.95,4.463 1.774,3.861 1.423,3.445C1.072,3.029 0.598,2.821 0,2.821C-0.399,2.821 -0.743,2.913 -1.034,3.1C-1.324,3.287 -1.55,3.56 -1.71,3.919C-1.87,4.279 -1.95,4.723 -1.95,5.251C-1.95,6.032 -1.772,6.632 -1.417,7.052C-1.062,7.472 -0.59,7.683 0,7.683M-0.222,8.528C-0.785,8.528 -1.276,8.393 -1.696,8.124C-2.117,7.856 -2.442,7.477 -2.672,6.987C-2.901,6.497 -3.017,5.919 -3.017,5.251C-3.017,4.576 -2.901,3.993 -2.672,3.503C-2.442,3.013 -2.117,2.636 -1.696,2.372C-1.276,2.108 -0.785,1.976 -0.222,1.976C0.351,1.976 0.84,2.119 1.248,2.405C1.655,2.691 1.928,3.077 2.066,3.562L1.924,3.562L1.924,-0.312C1.924,-0.486 1.97,-0.618 2.061,-0.709C2.151,-0.8 2.283,-0.845 2.457,-0.845C2.621,-0.845 2.749,-0.8 2.84,-0.709C2.932,-0.618 2.977,-0.486 2.977,-0.312L2.977,7.955C2.977,8.129 2.934,8.263 2.847,8.359C2.76,8.454 2.63,8.501 2.457,8.501C2.292,8.501 2.164,8.454 2.073,8.359C1.982,8.263 1.937,8.129 1.937,7.955L1.937,6.72L2.08,6.903C1.941,7.397 1.666,7.791 1.254,8.085C0.843,8.38 0.351,8.528 -0.222,8.528"
				/>
			</g>
			<g transform="matrix(1,0,0,1,99.8008,44.91)">
				<path
					d="M0,8.463C-0.494,8.463 -0.908,8.374 -1.242,8.196C-1.575,8.019 -1.825,7.759 -1.989,7.416C-2.154,7.074 -2.236,6.655 -2.236,6.162L-2.236,2.847L-3.107,2.847C-3.255,2.847 -3.367,2.81 -3.445,2.736C-3.523,2.663 -3.563,2.561 -3.563,2.431C-3.563,2.301 -3.523,2.201 -3.445,2.132C-3.367,2.063 -3.255,2.027 -3.107,2.027L-2.236,2.027L-2.236,0.532C-2.236,0.359 -2.188,0.228 -2.094,0.136C-1.998,0.045 -1.868,0 -1.703,0C-1.539,0 -1.411,0.045 -1.32,0.136C-1.229,0.228 -1.184,0.359 -1.184,0.532L-1.184,2.027L0.454,2.027C0.602,2.027 0.715,2.063 0.793,2.132C0.87,2.201 0.909,2.301 0.909,2.431C0.909,2.561 0.87,2.663 0.793,2.736C0.715,2.81 0.602,2.847 0.454,2.847L-1.184,2.847L-1.184,6.058C-1.184,6.552 -1.079,6.927 -0.871,7.183C-0.663,7.438 -0.325,7.566 0.143,7.566C0.307,7.566 0.448,7.549 0.565,7.514C0.682,7.48 0.779,7.462 0.857,7.462C0.936,7.453 1.001,7.48 1.053,7.54C1.104,7.601 1.131,7.704 1.131,7.852C1.131,7.956 1.111,8.051 1.072,8.138C1.033,8.225 0.966,8.285 0.87,8.319C0.767,8.355 0.63,8.387 0.461,8.417C0.292,8.447 0.138,8.463 0,8.463"
				/>
			</g>
			<g transform="matrix(1,0,0,1,0.8711,65.9997)">
				<path
					d="M0,9.347C-0.173,9.347 -0.304,9.299 -0.39,9.204C-0.477,9.109 -0.52,8.975 -0.52,8.801L-0.52,0.534C-0.52,0.36 -0.477,0.228 -0.39,0.137C-0.304,0.045 -0.173,0 0,0C0.165,0 0.295,0.045 0.391,0.137C0.485,0.228 0.533,0.36 0.533,0.534L0.533,5.746L0.56,5.746L3.225,3.199C3.346,3.085 3.452,2.999 3.543,2.938C3.634,2.877 3.757,2.847 3.913,2.847C4.052,2.847 4.16,2.884 4.238,2.957C4.316,3.032 4.353,3.122 4.349,3.231C4.344,3.339 4.29,3.453 4.187,3.576L1.353,6.266L1.353,5.695L4.434,8.593C4.555,8.714 4.615,8.831 4.615,8.945C4.615,9.057 4.574,9.153 4.491,9.23C4.409,9.308 4.303,9.347 4.173,9.347C4.018,9.347 3.892,9.315 3.796,9.249C3.701,9.185 3.584,9.087 3.445,8.957L0.56,6.292L0.533,6.292L0.533,8.801C0.533,9.165 0.355,9.347 0,9.347"
				/>
			</g>
			<g transform="matrix(1,0,0,1,9.3086,69.6663)">
				<path
					d="M0,4.862C0.39,4.862 0.732,4.766 1.026,4.576C1.321,4.385 1.549,4.107 1.709,3.744C1.869,3.38 1.95,2.942 1.95,2.43C1.95,1.642 1.774,1.04 1.423,0.624C1.072,0.208 0.598,0 0,0C-0.399,0 -0.743,0.092 -1.034,0.279C-1.324,0.466 -1.55,0.739 -1.71,1.098C-1.87,1.458 -1.95,1.902 -1.95,2.43C-1.95,3.211 -1.772,3.811 -1.417,4.231C-1.062,4.651 -0.59,4.862 0,4.862M0,5.707C-0.616,5.707 -1.148,5.572 -1.6,5.303C-2.05,5.035 -2.398,4.656 -2.646,4.166C-2.893,3.676 -3.017,3.098 -3.017,2.43C-3.017,1.928 -2.947,1.475 -2.809,1.072C-2.67,0.669 -2.466,0.325 -2.197,0.039C-1.929,-0.247 -1.61,-0.466 -1.242,-0.617C-0.873,-0.77 -0.46,-0.845 0,-0.845C0.615,-0.845 1.148,-0.711 1.599,-0.443C2.049,-0.174 2.398,0.206 2.646,0.695C2.893,1.185 3.016,1.763 3.016,2.43C3.016,2.933 2.946,3.384 2.808,3.783C2.669,4.181 2.465,4.526 2.196,4.816C1.928,5.106 1.609,5.328 1.241,5.479C0.873,5.631 0.459,5.707 0,5.707"
				/>
			</g>
			<g transform="matrix(1,0,0,1,14.4307,68.8217)">
				<path
					d="M0,6.525C-0.173,6.525 -0.304,6.477 -0.39,6.382C-0.477,6.287 -0.52,6.153 -0.52,5.979L-0.52,0.558C-0.52,0.385 -0.477,0.253 -0.39,0.162C-0.304,0.071 -0.178,0.025 -0.013,0.025C0.151,0.025 0.279,0.071 0.371,0.162C0.462,0.253 0.507,0.385 0.507,0.558L0.507,1.676L0.364,1.52C0.546,1.017 0.843,0.638 1.255,0.382C1.666,0.128 2.141,0 2.678,0C3.181,0 3.599,0.09 3.933,0.272C4.267,0.454 4.516,0.729 4.681,1.097C4.845,1.466 4.927,1.932 4.927,2.495L4.927,5.979C4.927,6.153 4.882,6.287 4.791,6.382C4.699,6.477 4.571,6.525 4.407,6.525C4.233,6.525 4.102,6.477 4.011,6.382C3.92,6.287 3.874,6.153 3.874,5.979L3.874,2.56C3.874,1.971 3.759,1.54 3.529,1.266C3.3,0.994 2.934,0.857 2.432,0.857C1.851,0.857 1.389,1.037 1.047,1.397C0.704,1.756 0.533,2.235 0.533,2.834L0.533,5.979C0.533,6.343 0.355,6.525 0,6.525"
				/>
			</g>
			<g transform="matrix(1,0,0,1,23.8301,66.91)">
				<path
					d="M0,8.463C-0.494,8.463 -0.908,8.374 -1.242,8.196C-1.575,8.019 -1.825,7.759 -1.989,7.416C-2.154,7.074 -2.236,6.655 -2.236,6.162L-2.236,2.847L-3.107,2.847C-3.255,2.847 -3.367,2.81 -3.445,2.736C-3.523,2.663 -3.563,2.561 -3.563,2.431C-3.563,2.301 -3.523,2.201 -3.445,2.132C-3.367,2.063 -3.255,2.027 -3.107,2.027L-2.236,2.027L-2.236,0.532C-2.236,0.359 -2.188,0.228 -2.094,0.136C-1.998,0.045 -1.868,0 -1.703,0C-1.539,0 -1.411,0.045 -1.32,0.136C-1.229,0.228 -1.184,0.359 -1.184,0.532L-1.184,2.027L0.454,2.027C0.602,2.027 0.715,2.063 0.793,2.132C0.87,2.201 0.909,2.301 0.909,2.431C0.909,2.561 0.87,2.663 0.793,2.736C0.715,2.81 0.602,2.847 0.454,2.847L-1.184,2.847L-1.184,6.058C-1.184,6.552 -1.079,6.927 -0.871,7.183C-0.663,7.438 -0.325,7.566 0.143,7.566C0.307,7.566 0.448,7.549 0.565,7.514C0.682,7.48 0.779,7.462 0.857,7.462C0.936,7.453 1.001,7.48 1.053,7.54C1.104,7.601 1.131,7.704 1.131,7.852C1.131,7.956 1.111,8.051 1.072,8.138C1.033,8.225 0.966,8.285 0.87,8.319C0.767,8.355 0.63,8.387 0.461,8.417C0.292,8.447 0.138,8.463 0,8.463"
				/>
			</g>
			<g transform="matrix(1,0,0,1,27.833,68.821)">
				<path
					d="M0,6.552C-0.433,6.552 -0.82,6.467 -1.163,6.298C-1.506,6.129 -1.776,5.898 -1.976,5.603C-2.175,5.308 -2.274,4.979 -2.274,4.615C-2.274,4.147 -2.155,3.779 -1.917,3.51C-1.679,3.241 -1.284,3.051 -0.734,2.938C-0.184,2.825 0.568,2.769 1.521,2.769L2.106,2.769L2.106,3.458L1.534,3.458C0.832,3.458 0.28,3.49 -0.123,3.555C-0.526,3.62 -0.808,3.731 -0.968,3.887C-1.129,4.043 -1.209,4.264 -1.209,4.55C-1.209,4.906 -1.085,5.196 -0.838,5.421C-0.591,5.647 -0.255,5.759 0.17,5.759C0.516,5.759 0.821,5.677 1.086,5.512C1.351,5.347 1.559,5.121 1.71,4.836C1.861,4.55 1.937,4.221 1.937,3.848L1.937,2.365C1.937,1.828 1.829,1.441 1.612,1.202C1.396,0.964 1.04,0.845 0.547,0.845C0.243,0.845 -0.061,0.884 -0.363,0.962C-0.667,1.04 -0.987,1.165 -1.325,1.339C-1.447,1.4 -1.551,1.419 -1.638,1.398C-1.725,1.376 -1.794,1.33 -1.846,1.261C-1.897,1.192 -1.928,1.112 -1.937,1.021C-1.945,0.929 -1.926,0.84 -1.878,0.754C-1.83,0.667 -1.755,0.598 -1.65,0.546C-1.27,0.356 -0.893,0.216 -0.52,0.13C-0.147,0.043 0.208,0 0.547,0C1.093,0 1.543,0.089 1.898,0.266C2.254,0.444 2.518,0.713 2.691,1.073C2.864,1.432 2.951,1.894 2.951,2.457L2.951,5.98C2.951,6.154 2.91,6.287 2.828,6.383C2.745,6.478 2.626,6.526 2.471,6.526C2.306,6.526 2.18,6.478 2.094,6.383C2.007,6.287 1.964,6.154 1.964,5.98L1.964,4.966L2.08,4.966C2.011,5.295 1.879,5.576 1.684,5.811C1.489,6.045 1.248,6.227 0.963,6.357C0.677,6.487 0.355,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,33.2539,65.9997)">
				<path
					d="M0,9.347C-0.173,9.347 -0.304,9.299 -0.39,9.204C-0.477,9.109 -0.52,8.975 -0.52,8.801L-0.52,0.534C-0.52,0.36 -0.477,0.228 -0.39,0.137C-0.304,0.045 -0.173,0 0,0C0.165,0 0.295,0.045 0.391,0.137C0.485,0.228 0.533,0.36 0.533,0.534L0.533,5.746L0.56,5.746L3.225,3.199C3.346,3.085 3.452,2.999 3.543,2.938C3.634,2.877 3.757,2.847 3.913,2.847C4.052,2.847 4.16,2.884 4.238,2.957C4.316,3.032 4.353,3.122 4.349,3.231C4.344,3.339 4.29,3.453 4.187,3.576L1.353,6.266L1.353,5.695L4.434,8.593C4.555,8.714 4.615,8.831 4.615,8.945C4.615,9.057 4.574,9.153 4.491,9.23C4.409,9.308 4.303,9.347 4.173,9.347C4.018,9.347 3.892,9.315 3.796,9.249C3.701,9.185 3.584,9.087 3.445,8.957L0.56,6.292L0.533,6.292L0.533,8.801C0.533,9.165 0.355,9.347 0,9.347"
				/>
			</g>
			<g transform="matrix(1,0,0,1,41.6133,66.91)">
				<path
					d="M0,8.463C-0.494,8.463 -0.908,8.374 -1.242,8.196C-1.575,8.019 -1.825,7.759 -1.989,7.416C-2.154,7.074 -2.236,6.655 -2.236,6.162L-2.236,2.847L-3.107,2.847C-3.255,2.847 -3.367,2.81 -3.445,2.736C-3.523,2.663 -3.563,2.561 -3.563,2.431C-3.563,2.301 -3.523,2.201 -3.445,2.132C-3.367,2.063 -3.255,2.027 -3.107,2.027L-2.236,2.027L-2.236,0.532C-2.236,0.359 -2.188,0.228 -2.094,0.136C-1.998,0.045 -1.868,0 -1.703,0C-1.539,0 -1.411,0.045 -1.32,0.136C-1.229,0.228 -1.184,0.359 -1.184,0.532L-1.184,2.027L0.454,2.027C0.602,2.027 0.715,2.063 0.793,2.132C0.87,2.201 0.909,2.301 0.909,2.431C0.909,2.561 0.87,2.663 0.793,2.736C0.715,2.81 0.602,2.847 0.454,2.847L-1.184,2.847L-1.184,6.058C-1.184,6.552 -1.079,6.927 -0.871,7.183C-0.663,7.438 -0.325,7.566 0.143,7.566C0.307,7.566 0.448,7.549 0.565,7.514C0.682,7.48 0.779,7.462 0.857,7.462C0.936,7.453 1.001,7.48 1.053,7.54C1.104,7.601 1.131,7.704 1.131,7.852C1.131,7.956 1.111,8.051 1.072,8.138C1.033,8.225 0.966,8.285 0.87,8.319C0.767,8.355 0.63,8.387 0.461,8.417C0.292,8.447 0.138,8.463 0,8.463"
				/>
			</g>
			<g transform="matrix(1,0,0,1,48.335,69.6144)">
				<path
					d="M0,4.12C0.39,4.12 0.734,4.004 1.033,3.769C1.332,3.535 1.568,3.215 1.741,2.808C1.915,2.4 2.002,1.936 2.002,1.417C2.002,0.932 1.894,0.567 1.677,0.324C1.46,0.082 1.126,-0.039 0.676,-0.039C0.294,-0.039 -0.048,0.069 -0.352,0.285C-0.655,0.502 -0.896,0.802 -1.073,1.182C-1.251,1.564 -1.339,2.006 -1.339,2.509C-1.339,3.028 -1.223,3.428 -0.988,3.705C-0.754,3.982 -0.425,4.12 0,4.12M0.61,7.761C-0.222,7.761 -0.976,7.628 -1.651,7.364C-2.327,7.099 -2.908,6.721 -3.394,6.226C-3.879,5.732 -4.251,5.137 -4.512,4.439C-4.771,3.741 -4.901,2.959 -4.901,2.093C-4.901,1.243 -4.765,0.468 -4.492,-0.234C-4.219,-0.937 -3.829,-1.541 -3.322,-2.048C-2.814,-2.555 -2.215,-2.947 -1.521,-3.225C-0.828,-3.502 -0.062,-3.641 0.779,-3.641C1.785,-3.641 2.665,-3.439 3.419,-3.036C4.173,-2.633 4.76,-2.071 5.18,-1.353C5.601,-0.633 5.811,0.208 5.811,1.17C5.811,1.924 5.707,2.578 5.499,3.133C5.291,3.687 5.002,4.116 4.634,4.42C4.266,4.723 3.835,4.875 3.341,4.875C2.82,4.875 2.429,4.725 2.164,4.426C1.899,4.127 1.785,3.722 1.819,3.211L2.066,3.275C1.85,3.796 1.542,4.192 1.144,4.465C0.745,4.738 0.324,4.875 -0.117,4.875C-0.785,4.875 -1.303,4.665 -1.671,4.244C-2.039,3.824 -2.224,3.245 -2.224,2.509C-2.224,1.876 -2.103,1.31 -1.859,0.812C-1.617,0.313 -1.283,-0.078 -0.858,-0.364C-0.434,-0.651 0.047,-0.793 0.585,-0.793C1.053,-0.793 1.438,-0.677 1.741,-0.442C2.045,-0.208 2.24,0.121 2.327,0.546L2.184,0.546L2.327,-0.325C2.37,-0.603 2.53,-0.741 2.808,-0.741C2.955,-0.741 3.062,-0.7 3.126,-0.618C3.191,-0.535 3.211,-0.416 3.185,-0.261L2.665,2.69C2.647,2.804 2.634,2.911 2.626,3.016C2.617,3.119 2.612,3.215 2.612,3.302C2.612,3.588 2.678,3.805 2.808,3.951C2.938,4.099 3.133,4.173 3.393,4.173C3.73,4.173 4.023,4.047 4.271,3.796C4.518,3.544 4.712,3.193 4.855,2.742C4.998,2.292 5.069,1.767 5.069,1.17C5.069,0.347 4.89,-0.369 4.53,-0.976C4.171,-1.582 3.67,-2.055 3.028,-2.393C2.387,-2.731 1.633,-2.9 0.767,-2.9C-0.195,-2.9 -1.04,-2.692 -1.769,-2.276C-2.496,-1.859 -3.064,-1.276 -3.472,-0.527C-3.879,0.223 -4.082,1.096 -4.082,2.093C-4.082,3.124 -3.89,4.008 -3.504,4.744C-3.118,5.481 -2.574,6.047 -1.872,6.441C-1.17,6.835 -0.343,7.032 0.61,7.032C1.243,7.032 1.819,6.941 2.34,6.76C2.859,6.577 3.297,6.331 3.652,6.018C3.774,5.923 3.887,5.882 3.99,5.895C4.095,5.908 4.177,5.953 4.237,6.031C4.298,6.109 4.322,6.2 4.31,6.305C4.296,6.408 4.233,6.513 4.121,6.616C3.722,6.963 3.222,7.24 2.619,7.448C2.017,7.656 1.348,7.761 0.61,7.761"
				/>
			</g>
			<g transform="matrix(1,0,0,1,56.4727,68.8217)">
				<path
					d="M0,6.525C-0.174,6.525 -0.304,6.477 -0.391,6.382C-0.477,6.287 -0.521,6.153 -0.521,5.979L-0.521,0.558C-0.521,0.385 -0.477,0.253 -0.391,0.162C-0.304,0.071 -0.178,0.025 -0.013,0.025C0.151,0.025 0.279,0.071 0.37,0.162C0.461,0.253 0.507,0.385 0.507,0.558L0.507,1.702L0.364,1.52C0.528,1.035 0.795,0.66 1.163,0.396C1.531,0.131 1.972,0 2.482,0C3.021,0 3.456,0.128 3.789,0.382C4.123,0.638 4.346,1.035 4.459,1.572L4.264,1.572C4.42,1.087 4.699,0.704 5.103,0.421C5.505,0.14 5.976,0 6.513,0C6.989,0 7.382,0.09 7.689,0.272C7.997,0.454 8.229,0.729 8.385,1.097C8.541,1.466 8.619,1.932 8.619,2.495L8.619,5.979C8.619,6.153 8.573,6.287 8.482,6.382C8.392,6.477 8.259,6.525 8.086,6.525C7.921,6.525 7.793,6.477 7.702,6.382C7.611,6.287 7.565,6.153 7.565,5.979L7.565,2.547C7.565,1.966 7.466,1.54 7.267,1.266C7.067,0.994 6.729,0.857 6.253,0.857C5.732,0.857 5.323,1.037 5.024,1.397C4.726,1.756 4.576,2.244 4.576,2.859L4.576,5.979C4.576,6.153 4.53,6.287 4.439,6.382C4.349,6.477 4.216,6.525 4.043,6.525C3.878,6.525 3.75,6.477 3.659,6.382C3.568,6.287 3.522,6.153 3.522,5.979L3.522,2.547C3.522,1.966 3.421,1.54 3.218,1.266C3.014,0.994 2.678,0.857 2.21,0.857C1.689,0.857 1.28,1.037 0.981,1.397C0.683,1.756 0.533,2.244 0.533,2.859L0.533,5.979C0.533,6.343 0.355,6.525 0,6.525"
				/>
			</g>
			<g transform="matrix(1,0,0,1,69.043,68.821)">
				<path
					d="M0,6.552C-0.433,6.552 -0.82,6.467 -1.163,6.298C-1.506,6.129 -1.776,5.898 -1.976,5.603C-2.175,5.308 -2.274,4.979 -2.274,4.615C-2.274,4.147 -2.155,3.779 -1.917,3.51C-1.679,3.241 -1.284,3.051 -0.734,2.938C-0.184,2.825 0.568,2.769 1.521,2.769L2.106,2.769L2.106,3.458L1.534,3.458C0.832,3.458 0.28,3.49 -0.123,3.555C-0.526,3.62 -0.808,3.731 -0.968,3.887C-1.129,4.043 -1.209,4.264 -1.209,4.55C-1.209,4.906 -1.085,5.196 -0.838,5.421C-0.591,5.647 -0.255,5.759 0.17,5.759C0.516,5.759 0.821,5.677 1.086,5.512C1.351,5.347 1.559,5.121 1.71,4.836C1.861,4.55 1.937,4.221 1.937,3.848L1.937,2.365C1.937,1.828 1.829,1.441 1.612,1.202C1.396,0.964 1.04,0.845 0.547,0.845C0.243,0.845 -0.061,0.884 -0.363,0.962C-0.667,1.04 -0.987,1.165 -1.325,1.339C-1.447,1.4 -1.551,1.419 -1.638,1.398C-1.725,1.376 -1.794,1.33 -1.846,1.261C-1.897,1.192 -1.928,1.112 -1.937,1.021C-1.945,0.929 -1.926,0.84 -1.878,0.754C-1.83,0.667 -1.755,0.598 -1.65,0.546C-1.27,0.356 -0.893,0.216 -0.52,0.13C-0.147,0.043 0.208,0 0.547,0C1.093,0 1.543,0.089 1.898,0.266C2.254,0.444 2.518,0.713 2.691,1.073C2.864,1.432 2.951,1.894 2.951,2.457L2.951,5.98C2.951,6.154 2.91,6.287 2.828,6.383C2.745,6.478 2.626,6.526 2.471,6.526C2.306,6.526 2.18,6.478 2.094,6.383C2.007,6.287 1.964,6.154 1.964,5.98L1.964,4.966L2.08,4.966C2.011,5.295 1.879,5.576 1.684,5.811C1.489,6.045 1.248,6.227 0.963,6.357C0.677,6.487 0.355,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,74.4639,68.8217)">
				<path
					d="M0,6.525C-0.173,6.525 -0.304,6.477 -0.39,6.382C-0.477,6.287 -0.52,6.153 -0.52,5.979L-0.52,0.558C-0.52,0.385 -0.477,0.253 -0.39,0.162C-0.304,0.071 -0.178,0.025 -0.013,0.025C0.151,0.025 0.279,0.071 0.371,0.162C0.462,0.253 0.507,0.385 0.507,0.558L0.507,1.676L0.364,1.52C0.546,1.017 0.843,0.638 1.255,0.382C1.666,0.128 2.141,0 2.678,0C3.181,0 3.599,0.09 3.933,0.272C4.267,0.454 4.516,0.729 4.681,1.097C4.845,1.466 4.927,1.932 4.927,2.495L4.927,5.979C4.927,6.153 4.882,6.287 4.791,6.382C4.699,6.477 4.571,6.525 4.407,6.525C4.233,6.525 4.102,6.477 4.011,6.382C3.92,6.287 3.874,6.153 3.874,5.979L3.874,2.56C3.874,1.971 3.759,1.54 3.529,1.266C3.3,0.994 2.934,0.857 2.432,0.857C1.851,0.857 1.389,1.037 1.047,1.397C0.704,1.756 0.533,2.235 0.533,2.834L0.533,5.979C0.533,6.343 0.355,6.525 0,6.525"
				/>
			</g>
			<g transform="matrix(1,0,0,1,83.5635,68.847)">
				<path
					d="M0,6.526C-0.511,6.526 -0.934,6.432 -1.268,6.247C-1.601,6.06 -1.853,5.781 -2.021,5.408C-2.19,5.036 -2.274,4.572 -2.274,4.017L-2.274,0.533C-2.274,0.351 -2.229,0.216 -2.138,0.13C-2.047,0.044 -1.919,0 -1.755,0C-1.581,0 -1.449,0.044 -1.358,0.13C-1.268,0.216 -1.222,0.351 -1.222,0.533L-1.222,4.004C-1.222,4.558 -1.106,4.972 -0.877,5.246C-0.647,5.518 -0.285,5.655 0.208,5.655C0.746,5.655 1.184,5.473 1.521,5.109C1.859,4.745 2.028,4.268 2.028,3.678L2.028,0.533C2.028,0.351 2.074,0.216 2.165,0.13C2.256,0.044 2.388,0 2.562,0C2.726,0 2.854,0.044 2.945,0.13C3.036,0.216 3.081,0.351 3.081,0.533L3.081,5.954C3.081,6.318 2.912,6.5 2.574,6.5C2.409,6.5 2.282,6.452 2.19,6.357C2.1,6.261 2.055,6.128 2.055,5.954L2.055,4.771L2.224,4.953C2.05,5.464 1.767,5.854 1.372,6.123C0.978,6.391 0.521,6.526 0,6.526"
				/>
			</g>
			<g transform="matrix(1,0,0,1,91.4678,68.821)">
				<path
					d="M0,6.552C-0.667,6.552 -1.241,6.42 -1.723,6.156C-2.203,5.891 -2.576,5.516 -2.841,5.031C-3.104,4.545 -3.237,3.965 -3.237,3.288C-3.237,2.63 -3.107,2.056 -2.847,1.567C-2.587,1.076 -2.229,0.694 -1.774,0.416C-1.319,0.139 -0.793,0 -0.195,0C0.229,0 0.611,0.072 0.949,0.214C1.287,0.358 1.575,0.564 1.813,0.832C2.052,1.101 2.233,1.426 2.359,1.807C2.485,2.189 2.548,2.617 2.548,3.094C2.548,3.233 2.509,3.334 2.431,3.4C2.354,3.464 2.24,3.496 2.093,3.496L-2.431,3.496L-2.431,2.808L1.846,2.808L1.638,2.977C1.638,2.509 1.568,2.113 1.43,1.787C1.291,1.462 1.09,1.213 0.825,1.04C0.562,0.866 0.229,0.78 -0.169,0.78C-0.611,0.78 -0.986,0.882 -1.294,1.085C-1.602,1.289 -1.833,1.571 -1.989,1.93C-2.145,2.29 -2.223,2.708 -2.223,3.185L-2.223,3.263C-2.223,4.06 -2.03,4.667 -1.645,5.083C-1.259,5.499 -0.711,5.707 0,5.707C0.295,5.707 0.587,5.668 0.878,5.59C1.168,5.512 1.451,5.382 1.729,5.199C1.851,5.121 1.961,5.085 2.061,5.089C2.16,5.094 2.24,5.124 2.301,5.18C2.361,5.237 2.402,5.306 2.425,5.388C2.446,5.471 2.438,5.56 2.398,5.655C2.359,5.75 2.283,5.832 2.171,5.902C1.885,6.11 1.547,6.271 1.157,6.383C0.767,6.495 0.381,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,97.4609,66)">
				<path
					d="M0,9.373C-0.624,9.373 -1.101,9.183 -1.43,8.801C-1.76,8.42 -1.924,7.874 -1.924,7.163L-1.924,0.533C-1.924,0.359 -1.881,0.227 -1.794,0.137C-1.708,0.045 -1.577,0 -1.404,0C-1.239,0 -1.109,0.045 -1.014,0.137C-0.919,0.227 -0.871,0.359 -0.871,0.533L-0.871,7.085C-0.871,7.553 -0.778,7.901 -0.592,8.132C-0.405,8.361 -0.13,8.476 0.234,8.476C0.312,8.476 0.381,8.472 0.441,8.463C0.502,8.454 0.563,8.45 0.624,8.45C0.719,8.441 0.786,8.463 0.825,8.515C0.864,8.566 0.884,8.671 0.884,8.827C0.884,8.982 0.85,9.1 0.78,9.178C0.71,9.256 0.598,9.308 0.441,9.334C0.372,9.343 0.299,9.352 0.221,9.359C0.143,9.368 0.069,9.373 0,9.373"
				/>
			</g>
			<g transform="matrix(1,0,0,1,99.5928,71.3556)">
				<path
					d="M0,0.871C-0.13,0.871 -0.238,0.83 -0.325,0.748C-0.411,0.666 -0.455,0.563 -0.455,0.442C-0.455,0.312 -0.411,0.206 -0.325,0.124C-0.238,0.042 -0.13,0 0,0L2.925,0C3.047,0 3.15,0.042 3.237,0.124C3.323,0.206 3.367,0.312 3.367,0.442C3.367,0.563 3.323,0.666 3.237,0.748C3.15,0.83 3.047,0.871 2.925,0.871L0,0.871Z"
				/>
			</g>
			<g transform="matrix(1,0,0,1,107.328,66.91)">
				<path
					d="M0,8.463C-0.494,8.463 -0.908,8.374 -1.242,8.196C-1.575,8.019 -1.825,7.759 -1.989,7.416C-2.154,7.074 -2.236,6.655 -2.236,6.162L-2.236,2.847L-3.107,2.847C-3.255,2.847 -3.367,2.81 -3.445,2.736C-3.523,2.663 -3.563,2.561 -3.563,2.431C-3.563,2.301 -3.523,2.201 -3.445,2.132C-3.367,2.063 -3.255,2.027 -3.107,2.027L-2.236,2.027L-2.236,0.532C-2.236,0.359 -2.188,0.228 -2.094,0.136C-1.998,0.045 -1.868,0 -1.703,0C-1.539,0 -1.411,0.045 -1.32,0.136C-1.229,0.228 -1.184,0.359 -1.184,0.532L-1.184,2.027L0.454,2.027C0.602,2.027 0.715,2.063 0.793,2.132C0.87,2.201 0.909,2.301 0.909,2.431C0.909,2.561 0.87,2.663 0.793,2.736C0.715,2.81 0.602,2.847 0.454,2.847L-1.184,2.847L-1.184,6.058C-1.184,6.552 -1.079,6.927 -0.871,7.183C-0.663,7.438 -0.325,7.566 0.143,7.566C0.307,7.566 0.448,7.549 0.565,7.514C0.682,7.48 0.779,7.462 0.857,7.462C0.936,7.453 1.001,7.48 1.053,7.54C1.104,7.601 1.131,7.704 1.131,7.852C1.131,7.956 1.111,8.051 1.072,8.138C1.033,8.225 0.966,8.285 0.87,8.319C0.767,8.355 0.63,8.387 0.461,8.417C0.292,8.447 0.138,8.463 0,8.463"
				/>
			</g>
			<g transform="matrix(1,0,0,1,109.94,65.9997)">
				<path
					d="M0,9.347C-0.173,9.347 -0.304,9.299 -0.39,9.204C-0.477,9.109 -0.52,8.975 -0.52,8.801L-0.52,0.534C-0.52,0.36 -0.477,0.228 -0.39,0.137C-0.304,0.045 -0.173,0 0,0C0.165,0 0.295,0.045 0.391,0.137C0.485,0.228 0.533,0.36 0.533,0.534L0.533,4.342L0.364,4.342C0.546,3.839 0.843,3.46 1.255,3.204C1.666,2.95 2.141,2.822 2.678,2.822C3.181,2.822 3.599,2.912 3.933,3.094C4.267,3.276 4.516,3.551 4.681,3.919C4.845,4.288 4.927,4.754 4.927,5.317L4.927,8.801C4.927,8.975 4.882,9.109 4.791,9.204C4.699,9.299 4.571,9.347 4.407,9.347C4.233,9.347 4.102,9.299 4.011,9.204C3.92,9.109 3.874,8.975 3.874,8.801L3.874,5.382C3.874,4.793 3.759,4.362 3.529,4.088C3.3,3.816 2.934,3.679 2.432,3.679C1.851,3.679 1.389,3.859 1.047,4.219C0.704,4.578 0.533,5.057 0.533,5.656L0.533,8.801C0.533,9.165 0.355,9.347 0,9.347"
				/>
			</g>
			<g transform="matrix(1,0,0,1,119.431,69.6663)">
				<path
					d="M0,4.862C0.39,4.862 0.732,4.766 1.026,4.576C1.321,4.385 1.549,4.107 1.709,3.744C1.869,3.38 1.95,2.942 1.95,2.43C1.95,1.642 1.774,1.04 1.423,0.624C1.072,0.208 0.598,0 0,0C-0.399,0 -0.743,0.092 -1.034,0.279C-1.324,0.466 -1.55,0.739 -1.71,1.098C-1.87,1.458 -1.95,1.902 -1.95,2.43C-1.95,3.211 -1.772,3.811 -1.417,4.231C-1.062,4.651 -0.59,4.862 0,4.862M0,5.707C-0.616,5.707 -1.148,5.572 -1.6,5.303C-2.05,5.035 -2.398,4.656 -2.646,4.166C-2.893,3.676 -3.017,3.098 -3.017,2.43C-3.017,1.928 -2.947,1.475 -2.809,1.072C-2.67,0.669 -2.466,0.325 -2.197,0.039C-1.929,-0.247 -1.61,-0.466 -1.242,-0.617C-0.873,-0.77 -0.46,-0.845 0,-0.845C0.615,-0.845 1.148,-0.711 1.599,-0.443C2.049,-0.174 2.398,0.206 2.646,0.695C2.893,1.185 3.016,1.763 3.016,2.43C3.016,2.933 2.946,3.384 2.808,3.783C2.669,4.181 2.465,4.526 2.196,4.816C1.928,5.106 1.609,5.328 1.241,5.479C0.873,5.631 0.459,5.707 0,5.707"
				/>
			</g>
			<g transform="matrix(1,0,0,1,126.879,68.821)">
				<path
					d="M0,6.552C-0.667,6.552 -1.241,6.42 -1.723,6.156C-2.203,5.891 -2.576,5.516 -2.841,5.031C-3.104,4.545 -3.237,3.965 -3.237,3.288C-3.237,2.63 -3.107,2.056 -2.847,1.567C-2.587,1.076 -2.229,0.694 -1.774,0.416C-1.319,0.139 -0.793,0 -0.195,0C0.229,0 0.611,0.072 0.949,0.214C1.287,0.358 1.575,0.564 1.813,0.832C2.052,1.101 2.233,1.426 2.359,1.807C2.485,2.189 2.548,2.617 2.548,3.094C2.548,3.233 2.509,3.334 2.431,3.4C2.354,3.464 2.24,3.496 2.093,3.496L-2.431,3.496L-2.431,2.808L1.846,2.808L1.638,2.977C1.638,2.509 1.568,2.113 1.43,1.787C1.291,1.462 1.09,1.213 0.825,1.04C0.562,0.866 0.229,0.78 -0.169,0.78C-0.611,0.78 -0.986,0.882 -1.294,1.085C-1.602,1.289 -1.833,1.571 -1.989,1.93C-2.145,2.29 -2.223,2.708 -2.223,3.185L-2.223,3.263C-2.223,4.06 -2.03,4.667 -1.645,5.083C-1.259,5.499 -0.711,5.707 0,5.707C0.295,5.707 0.587,5.668 0.878,5.59C1.168,5.512 1.451,5.382 1.729,5.199C1.851,5.121 1.961,5.085 2.061,5.089C2.16,5.094 2.24,5.124 2.301,5.18C2.361,5.237 2.402,5.306 2.425,5.388C2.446,5.471 2.438,5.56 2.398,5.655C2.359,5.75 2.283,5.832 2.171,5.902C1.885,6.11 1.547,6.271 1.157,6.383C0.767,6.495 0.381,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,131.468,68.8217)">
				<path
					d="M0,6.525C-0.173,6.525 -0.304,6.477 -0.39,6.382C-0.477,6.287 -0.52,6.153 -0.52,5.979L-0.52,0.558C-0.52,0.385 -0.477,0.253 -0.39,0.162C-0.304,0.071 -0.178,0.025 -0.013,0.025C0.151,0.025 0.279,0.071 0.371,0.162C0.462,0.253 0.507,0.385 0.507,0.558L0.507,1.676L0.364,1.52C0.546,1.017 0.843,0.638 1.255,0.382C1.666,0.128 2.141,0 2.678,0C3.181,0 3.599,0.09 3.933,0.272C4.267,0.454 4.516,0.729 4.681,1.097C4.845,1.466 4.927,1.932 4.927,2.495L4.927,5.979C4.927,6.153 4.882,6.287 4.791,6.382C4.699,6.477 4.571,6.525 4.407,6.525C4.233,6.525 4.102,6.477 4.011,6.382C3.92,6.287 3.874,6.153 3.874,5.979L3.874,2.56C3.874,1.971 3.759,1.54 3.529,1.266C3.3,0.994 2.934,0.857 2.432,0.857C1.851,0.857 1.389,1.037 1.047,1.397C0.704,1.756 0.533,2.235 0.533,2.834L0.533,5.979C0.533,6.343 0.355,6.525 0,6.525"
				/>
			</g>
			<g transform="matrix(1,0,0,1,141.18,68.821)">
				<path
					d="M0,6.552C-0.667,6.552 -1.241,6.42 -1.723,6.156C-2.203,5.891 -2.576,5.516 -2.841,5.031C-3.104,4.545 -3.237,3.965 -3.237,3.288C-3.237,2.63 -3.107,2.056 -2.847,1.567C-2.587,1.076 -2.229,0.694 -1.774,0.416C-1.319,0.139 -0.793,0 -0.195,0C0.229,0 0.611,0.072 0.949,0.214C1.287,0.358 1.575,0.564 1.813,0.832C2.052,1.101 2.233,1.426 2.359,1.807C2.485,2.189 2.548,2.617 2.548,3.094C2.548,3.233 2.509,3.334 2.431,3.4C2.354,3.464 2.24,3.496 2.093,3.496L-2.431,3.496L-2.431,2.808L1.846,2.808L1.638,2.977C1.638,2.509 1.568,2.113 1.43,1.787C1.291,1.462 1.09,1.213 0.825,1.04C0.562,0.866 0.229,0.78 -0.169,0.78C-0.611,0.78 -0.986,0.882 -1.294,1.085C-1.602,1.289 -1.833,1.571 -1.989,1.93C-2.145,2.29 -2.223,2.708 -2.223,3.185L-2.223,3.263C-2.223,4.06 -2.03,4.667 -1.645,5.083C-1.259,5.499 -0.711,5.707 0,5.707C0.295,5.707 0.587,5.668 0.878,5.59C1.168,5.512 1.451,5.382 1.729,5.199C1.851,5.121 1.961,5.085 2.061,5.089C2.16,5.094 2.24,5.124 2.301,5.18C2.361,5.237 2.402,5.306 2.425,5.388C2.446,5.471 2.438,5.56 2.398,5.655C2.359,5.75 2.283,5.832 2.171,5.902C1.885,6.11 1.547,6.271 1.157,6.383C0.767,6.495 0.381,6.552 0,6.552"
				/>
			</g>
			<g transform="matrix(1,0,0,1,145.755,73.8776)">
				<path
					d="M0,1.43C-0.217,1.43 -0.39,1.364 -0.521,1.229C-0.65,1.094 -0.715,0.923 -0.715,0.715C-0.715,0.507 -0.65,0.336 -0.521,0.201C-0.39,0.068 -0.217,0 0,0C0.217,0 0.388,0.068 0.514,0.201C0.639,0.336 0.702,0.507 0.702,0.715C0.702,0.923 0.639,1.094 0.514,1.229C0.388,1.364 0.217,1.43 0,1.43"
				/>
			</g>
			<g transform="matrix(1,0,0,1,150.553,66.8453)">
				<path
					d="M0,7.683C0.39,7.683 0.732,7.587 1.026,7.397C1.321,7.206 1.549,6.928 1.709,6.565C1.869,6.201 1.95,5.763 1.95,5.251C1.95,4.463 1.774,3.861 1.423,3.445C1.072,3.029 0.598,2.821 0,2.821C-0.399,2.821 -0.743,2.913 -1.034,3.1C-1.324,3.287 -1.55,3.56 -1.71,3.919C-1.87,4.279 -1.95,4.723 -1.95,5.251C-1.95,6.032 -1.772,6.632 -1.417,7.052C-1.062,7.472 -0.59,7.683 0,7.683M-0.222,8.528C-0.785,8.528 -1.276,8.393 -1.696,8.124C-2.117,7.856 -2.442,7.477 -2.672,6.987C-2.901,6.497 -3.017,5.919 -3.017,5.251C-3.017,4.576 -2.901,3.993 -2.672,3.503C-2.442,3.013 -2.117,2.636 -1.696,2.372C-1.276,2.108 -0.785,1.976 -0.222,1.976C0.351,1.976 0.84,2.119 1.248,2.405C1.655,2.691 1.928,3.077 2.066,3.562L1.924,3.562L1.924,-0.312C1.924,-0.486 1.97,-0.618 2.061,-0.709C2.151,-0.8 2.283,-0.845 2.457,-0.845C2.621,-0.845 2.749,-0.8 2.84,-0.709C2.932,-0.618 2.977,-0.486 2.977,-0.312L2.977,7.955C2.977,8.129 2.934,8.263 2.847,8.359C2.76,8.454 2.63,8.501 2.457,8.501C2.292,8.501 2.164,8.454 2.073,8.359C1.982,8.263 1.937,8.129 1.937,7.955L1.937,6.72L2.08,6.903C1.941,7.397 1.666,7.791 1.254,8.085C0.843,8.38 0.351,8.528 -0.222,8.528"
				/>
			</g>
			<g transform="matrix(1,0,0,1,158.353,68.821)">
				<path
					d="M0,6.552C-0.667,6.552 -1.241,6.42 -1.723,6.156C-2.203,5.891 -2.576,5.516 -2.841,5.031C-3.104,4.545 -3.237,3.965 -3.237,3.288C-3.237,2.63 -3.107,2.056 -2.847,1.567C-2.587,1.076 -2.229,0.694 -1.774,0.416C-1.319,0.139 -0.793,0 -0.195,0C0.229,0 0.611,0.072 0.949,0.214C1.287,0.358 1.575,0.564 1.813,0.832C2.052,1.101 2.233,1.426 2.359,1.807C2.485,2.189 2.548,2.617 2.548,3.094C2.548,3.233 2.509,3.334 2.431,3.4C2.354,3.464 2.24,3.496 2.093,3.496L-2.431,3.496L-2.431,2.808L1.846,2.808L1.638,2.977C1.638,2.509 1.568,2.113 1.43,1.787C1.291,1.462 1.09,1.213 0.825,1.04C0.562,0.866 0.229,0.78 -0.169,0.78C-0.611,0.78 -0.986,0.882 -1.294,1.085C-1.602,1.289 -1.833,1.571 -1.989,1.93C-2.145,2.29 -2.223,2.708 -2.223,3.185L-2.223,3.263C-2.223,4.06 -2.03,4.667 -1.645,5.083C-1.259,5.499 -0.711,5.707 0,5.707C0.295,5.707 0.587,5.668 0.878,5.59C1.168,5.512 1.451,5.382 1.729,5.199C1.851,5.121 1.961,5.085 2.061,5.089C2.16,5.094 2.24,5.124 2.301,5.18C2.361,5.237 2.402,5.306 2.425,5.388C2.446,5.471 2.438,5.56 2.398,5.655C2.359,5.75 2.283,5.832 2.171,5.902C1.885,6.11 1.547,6.271 1.157,6.383C0.767,6.495 0.381,6.552 0,6.552"
				/>
			</g>
		</g>
	</g>
</svg>
