<script lang="ts">
	import { modeCurrent } from '@skeletonlabs/skeleton';
	import Logo from '../lib/logo.svelte'
</script>

<div id="jumbotron" class="flex flex-col justify-center py-16 h-[100vh] space-y-8">
	<Logo cssClass="ml-8 h-72 mix-blend-overlay"/>
	<div class="my-4 m-auto">
		<h1 class="h1 text-6xl text-center text-white">Portfolio</h1>
		<span class="h3 text-4xl text-center text-white">Manuel Thöne</span>
	</div>
</div>
