<script lang="ts">
	import { modeCurrent } from '@skeletonlabs/skeleton';

	export let cssClass = "";
	export let fillColorLight = "#FFFFFF";
	export let fillColorDark = "#000000";

	$: fillColor = $modeCurrent ? fillColorLight : fillColorDark;
	
</script>

<div class="{cssClass}">
	<svg
		class="w-full h-full"
		version="1.1"
		baseProfile="tiny"
		id="Ebene_1"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		x="0px"
		y="0px"
		width="100%"
		height="100%"
		viewBox="0 0 1024 768"
		xml:space="preserve"
	>
		<g transform="matrix(0,-1.91008,-1.91008,0,179.581,37.6191)">
			<path
				fill={fillColor}
				d="M-118.927-114.701c-1.094-7.105,0.037-17.01,1.188-24.193c-8.178,4.052-16.183,8.471-24.073,13.036
	   c-24.407,14.172-47.752,30.224-70.426,47.003c-8.68,6.413-17.282,12.884-25.805,19.486c-0.482,0.387,1.921,1.44,2.073,1.503
	   c1.173,0.382,2.282,0.345,3.476,0.209c3.414-0.382,6.738-1.497,9.942-2.67c5.822-2.168,11.523-4.665,17.146-7.298
	   c24.538-11.439,48.192-24.978,71.657-38.496C-128.796-108.958-123.843-111.801-118.927-114.701z"
			/>
			<path
				fill={fillColor}
				d="M-165.852-114.414c15.628-10.005,31.815-19.643,48.673-27.685c0.44-2.44,0.822-4.304,1.037-5.261
	   c1.037-4.644,2.246-9.256,3.607-13.827c-11.9,8.989-23.978,17.764-35.941,26.575c-8.277,6.105-16.591,12.193-24.847,18.355
	   c-8.214,6.146-16.219,12.518-24.302,18.816c-11.351,8.811-23.235,17.455-33.412,27.627c-1.398,1.424-2.764,2.9-4.047,4.455
	   C-212.662-82.561-189.678-99.168-165.852-114.414z"
			/>
			<path
				fill={fillColor}
				d="M-106.562-144.135c-2.937,1.304-5.858,2.649-8.753,4.052c-1.654,8.314-2.23,16.664-0.173,23.344
	   c8.314-4.932,16.507-10.057,24.439-15.607c6.565-4.607,13.287-9.214,19.298-14.533c2.513-2.23,5.089-4.419,7.256-6.989
	   c0.806-0.963,2.361-2.44,2.382-3.785c-0.388-0.691-3.534-0.016-4.283,0.136h-0.058c-0.021,0-0.037,0-0.058,0.021h-0.078
	   c-0.073,0.016-0.173,0.037-0.246,0.037h-0.021c-0.094,0.021-0.194,0.037-0.288,0.058c-0.094,0.021-0.173,0.037-0.267,0.058
	   c-6.665,1.246-13.193,3.513-19.586,5.701C-93.604-149.354-100.169-146.957-106.562-144.135z"
			/>
			<path
				fill={fillColor}
				d="M-247.608-119.863c-20.151,9.712-40.501,18.884-61.133,27.47c8.523,21.931,21.978,41.396,39.004,57.034
	   c-0.382-0.356-0.764-0.717-1.136-1.084c5.392-5.529,11.612-10.366,17.643-14.994c2.649-2.037,5.319-4.068,7.968-6.105
	   c1-0.769,1.979-1.518,2.974-2.288c0.1-0.073,0.346-0.189,0.346-0.325c0-1.728,0.885-3.304,1.633-4.817
	   c2.937-5.377,8.408-9.602,12.905-13.617c5.602-4.759,11.346-9.366,17.141-13.916c13.806-10.848,27.575-21.695,41.705-32.124
	   c13.842-10.193,27.742-20.292,41.412-30.721c5.665-4.319,11.235-8.774,16.9-13.13c0.016-0.136,0.073-0.251,0.115-0.382
	   c-33.465,22.69-67.432,45.024-102.451,65.201c-3.361,1.937-7.895,6.126-11.942,4.34c-5.664-2.461-3.497-11.79-2.151-16.151
	   c2.34-7.56,6.335-14.303,10.999-20.58C-226.216-130.444-236.87-125.052-247.608-119.863z"
			/>
			<path
				fill={fillColor}
				d="M-204.426-111.764c6.204-3.492,12.23-7.293,18.298-10.999c24.926-15.209,49.212-31.491,73.405-47.81
	   c1.382-0.942,2.764-1.864,4.147-2.801c5.952-16.8,13.649-33.046,21.905-48.731c-36.438,30.585-76.322,57.118-118.042,80.102
	   c-1.44,1.691-2.879,3.398-4.319,5.11c-4.435,5.277-8.157,11.345-10.811,17.722c-0.613,1.382-5.874,16.183-2.225,16.183
	   c2.592-0.016,5.686-2.262,7.932-3.434C-210.877-108.115-207.651-109.937-204.426-111.764z"
			/>
			<path
				fill={fillColor}
				d="M-14.413-147.553c0-39.836-15.287-76.096-40.328-103.237c-5.031,4.801-10.157,9.502-15.303,14.188
	   c-17.046,15.167-26.533,38.359-34.176,60.27c4.78-3.225,9.523-6.492,14.287-9.733c2.974-2.015,5.932-4.052,8.89-6.11
	   c1.455-1.015,2.937-2.052,4.398-3.068c0.649-0.461,1.686-1.77,2.476-2.073c2.34-0.906,2.838,1.973,1.592,3.397
	   c-2.225,2.534-4.895,4.665-7.45,6.854c-9.177,7.816-18.664,15.319-28.282,22.653c-2.016,5.916-4.55,13.403-6.335,21.12
	   c6.392-2.995,12.9-5.717,19.507-8.157c6.816-2.518,13.649-5.11,20.564-7.298c3.052-0.979,6.314-2.131,9.502-2.534
	   c1.691-0.209,3.953-0.324,5.414,0.749c8.392,5.895-18.931,24.287-22.868,27.093c-10.193,7.256-20.753,13.937-31.58,20.177
	   c0.382,0.79,0.843,1.555,1.34,2.267c1.173,1.173,3.785,5.916-0.613,5.031c-2.283-0.461-3.764-2.324-4.686-5.031
	   c-0.037,0.021-0.058,0.037-0.094,0.058c-12.617,7.141-25.114,14.455-37.768,21.544c-10.905,6.105-21.868,12.057-32.983,17.779
	   c-6.513,3.34-13.078,6.586-19.738,9.581c-6.204,2.801-12.869,6.083-19.606,7.277c-3.016,0.534-5.723,0.958-8.717,0.188
	   c-1.304-0.325-2.555-0.979-3.492-1.937c-0.675-0.691-0.403-0.654-1.021-0.173c-2.607,2.015-5.22,4.052-7.832,6.068
	   c-6.643,5.162-13.36,10.308-19.277,16.298c26.989,24.292,62.699,39.072,101.865,39.072C-82.604,4.759-14.413-63.432-14.413-147.553
	   z"
			/>
			<path
				fill={fillColor}
				d="M-310.061-95.922c-0.117-0.325-0.227-0.654-0.342-0.98c-0.002,0.001-0.003,0.001-0.004,0.001
	   C-310.296-96.576-310.181-96.247-310.061-95.922z"
			/>
			<path
				fill={fillColor}
				d="M-54.742-250.79c-0.666-0.713-1.332-1.412-1.997-2.112C-56.069-252.202-55.399-251.502-54.742-250.79z"
			/>
			<path
				fill={fillColor}
				d="M-63.533-259.567c0.378,0.349,0.754,0.702,1.132,1.06c-3.455,5.565-6.796,11.193-10.042,16.858
	   c-0.078,0.074-0.115,0.152-0.157,0.231c0,0-0.016,0.058-0.094,0.173c-0.078,0.094-0.136,0.209-0.173,0.304
	   c-0.251,0.403-0.67,1.152-1.304,2.246c-0.215,0.367-0.445,0.749-0.691,1.193c-0.115,0.231-0.251,0.461-0.388,0.691
	   c6.11-5.413,12.157-10.905,18.088-16.533c0.14,0.148,0.281,0.296,0.421,0.443C-58.934-255.193-61.199-257.416-63.533-259.567z"
			/>
			<path
				fill={fillColor}
				d="M-63.533-259.567c-0.077-0.071-0.156-0.141-0.234-0.212C-63.689-259.708-63.61-259.638-63.533-259.567z"
			/>
			<path
				fill={fillColor}
				d="M-166.727-299.866c-84.122,0-152.313,68.196-152.313,152.313c0,17.759,3.048,34.807,8.637,50.651
	   c10.998-4.015,19.965-7.24,23.246-8.679c26.627-12.151,52.835-25.13,78.489-39.15c1.477-1.743,2.974-3.471,4.492-5.183
	   c10.848-12.266,22.596-23.847,34.313-35.271c4.529-4.414,9.12-8.79,13.706-13.151c2.304-2.167,4.628-4.319,6.911-6.507
	   c1.094-1.037,5.089-6.277,6.665-4.686c1.633,1.634-3.974,5.895-5.068,7.01c-2.728,2.764-5.455,5.529-8.141,8.33
	   c-1.633,1.67-3.267,3.34-4.895,5.016c-5.073,5.183-10.157,10.366-15.172,15.607c-6.911,7.199-13.727,14.497-20.387,21.926
	   c8.947-5.031,17.837-10.214,26.627-15.549c21.983-13.308,43.16-27.863,63.401-43.684c18.852-14.727,28.072-27.836,40.475-48.249
	   c0.325-0.518,0.633-1.052,0.958-1.571c0.343,0.3,0.68,0.607,1.017,0.916C-90.875-284.664-127.023-299.866-166.727-299.866z"
			/>
		</g>
		<g transform="matrix(1.91008,0,0,1.91008,174.061,179.432)">
			<path
				d="M95.283,234.497c0,0.005-0.005,0.011-0.005,0.016c0.932,0.356,1.864,0.707,2.796,1.042
	   C97.137,235.209,96.21,234.858,95.283,234.497z"
			/>
		</g>
		<g transform="matrix(1.91008,0,0,1.91008,50.2305,256.925)">
			<path
				fill={fillColor}
				d="M85.25,99.902c-2.208,0-3.802,3.514-4.589,5.184c-1.382,2.861-2.496,5.818-3.61,8.813
	   c-0.134,0.384-0.288,0.768-0.423,1.171c0.768,1.67,1.555,3.341,2.381,4.973c0.768-2.707,1.594-5.357,2.496-7.949
	   c0.902-2.63,1.843-5.529,3.705-7.68c0.538-0.634,1.671-1.114,1.997-1.939C87.669,101.246,86.478,99.902,85.25,99.902"
			/>
		</g>
		<g>
			<g transform="matrix(1.91008,0,0,1.91008,66.9249,268.251)">
				<path
					fill={fillColor}
					d="M93.29,147.847c-1.498,1.497-3.034,2.918-4.666,4.281c-4.339,3.667-10.464,7.968-16.454,7.2
		   c-7.219-0.653-7.642-8.64-7.315-14.17c0.614-10.272,2.554-20.947,5.414-31.046c-0.826-1.632-1.613-3.302-2.381-4.973
		   c-2.093,5.933-3.552,12.077-4.743,18.278c-1.286,6.72-2.419,13.671-2.4,20.544c0.019,6.086,1.92,11.942,8.179,14.131
		   c6.029,2.112,12.288-0.902,17.242-4.262c3.321-2.247,6.374-4.858,9.254-7.699C94.692,149.383,93.982,148.615,93.29,147.847"
				/>
			</g>
			<g transform="matrix(1.91008,0,0,1.91008,383.653,372.981)">
				<path
					fill={fillColor}
					d="M245.844-181.658c-0.019-0.058-0.019-0.096-0.039-0.154c-4.665-23.616-65.549,25.786-70.598,30.336
		   c-10.886,9.734-21.236,20.045-31.258,30.643c0.864,0.807,1.709,1.613,2.554,2.419c13.594-14.343,27.897-28.032,43.469-40.147
		   c10.599-8.256,49.632-34.349,50.439-22.042c0.806,12.326-30.758,28.416-42.97,37.075c-14.918,10.618-30.163,20.794-45.773,30.355
		   c0.749,0.787,1.478,1.574,2.189,2.381c20.121-12.288,39.591-25.651,58.81-39.322C219.809-155.201,248.263-170.849,245.844-181.658
			M-14.45,133.183c-1.574,3.744-3.129,7.488-4.646,11.251c-2.707,6.701-19.853,55.277-18.931,55.277
		   c4.301,0,18.432-38.381,28.09-64.877C-11.455,134.316-12.953,133.759-14.45,133.183"
				/>
			</g>
		</g>
	</svg>
</div>
