<script lang="ts">
	export let fadeIn : boolean = true;
	export let id : string = "";
</script>

<div id="{id.length > 0 ? id : ""}" class="{fadeIn ? 'fade-in' : ''} section-header placeholder:section-header text-center flex relative justify-center items-center pt-32 cursor-default z-1">
	<slot name="title"/>
	<div class="absolute flex justify-center items-center -z-10 w-36">
		<slot name="icon"/>
	</div>
</div>