<script lang="ts">
	let cssClass: string = '';
	export let tools: string[];
	export {cssClass as class};

</script>

{#if tools.length}
	<div class="tools flex flex-wrap gap-2">
		{#each tools as tool}
			<span class="m-badge-meta {cssClass}">{tool}</span>
		{/each}
	</div>
{/if}
