<script lang="ts">
	import DetailPage from '$lib/detail_page.svelte';
	import Translator from '$lib/LanguageSwitch/Translator.svelte';
	import Imprint from '$lib/imprint.svelte';
</script>

<Translator>
	<svelte:fragment slot="de">
		<DetailPage pageTitle="Datenschutz">
			<section>
				<h1 class="h1">Datenschutzerklärung</h1>
				<p>Stand: 19. August 2023</p>

				<h2 class="h2">Inhaltsübersicht</h2>
				<nav class="list-nav">
					<ul class="m-list">
						<li><a class="index-link" href="#m3">Verantwortlicher</a></li>
						<li><a class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a></li>
						<li><a class="index-link" href="#m2427">Maßgebliche Rechtsgrundlagen</a></li>
						<li><a class="index-link" href="#m27">Sicherheitsmaßnahmen</a></li>
						<li><a class="index-link" href="#m12">Löschung von Daten</a></li>
						<li><a class="index-link" href="#m10">Rechte der betroffenen Personen</a></li>
						<li>
							<a class="index-link" href="#m225"
								>Bereitstellung des Onlineangebotes und Webhosting</a
							>
						</li>
					</ul>
				</nav>
			</section>

			<h2 class="h2" id="m3">Verantwortlicher</h2>
			<Imprint height="4rem" />

			<h2 class="h2" id="m2427">Maßgebliche Rechtsgrundlagen</h2>
			<p>
				<strong>Maßgebliche Rechtsgrundlagen nach der DSGVO: </strong>Im Folgenden erhalten Sie eine
				Übersicht der Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene Daten
				verarbeiten. Bitte nehmen Sie zur Kenntnis, dass neben den Regelungen der DSGVO nationale
				Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland gelten können. Sollten ferner
				im Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der
				Datenschutzerklärung mit.
			</p>
			<ul class="m-list">
				<li>
					<strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong>Die Verarbeitung
					ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten
					erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der
					betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen.
				</li>
			</ul>
			<p>
				<strong>Nationale Datenschutzregelungen in Deutschland: </strong>Zusätzlich zu den
				Datenschutzregelungen der DSGVO gelten nationale Regelungen zum Datenschutz in Deutschland.
				Hierzu gehört insbesondere das Gesetz zum Schutz vor Missbrauch personenbezogener Daten bei
				der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält insbesondere
				Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum Widerspruchsrecht, zur
				Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere
				Zwecke und zur Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall
				einschließlich Profiling. Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer
				zur Anwendung gelangen.
			</p>
			<p>
				<strong>Hinweis auf Geltung DSGVO und Schweizer DSG: </strong>Diese Datenschutzhinweise
				dienen sowohl der Informationserteilung nach dem schweizerischen Bundesgesetz über den
				Datenschutz (Schweizer DSG) als auch nach der Datenschutzgrundverordnung (DSGVO). Aus diesem
				Grund bitten wir Sie zu beachten, dass aufgrund der breiteren räumlichen Anwendung und
				Verständlichkeit die Begriffe der DSGVO verwendet werden. Insbesondere statt der im
				Schweizer DSG verwendeten Begriffe „Bearbeitung“ von „Personendaten“, "überwiegendes
				Interesse" und "besonders schützenswerte Personendaten" werden die in der DSGVO verwendeten
				Begriffe „Verarbeitung“ von „personenbezogenen Daten“ sowie "berechtigtes Interesse" und
				"besondere Kategorien von Daten" verwendet. Die gesetzliche Bedeutung der Begriffe wird
				jedoch im Rahmen der Geltung des Schweizer DSG weiterhin nach dem Schweizer DSG bestimmt.
			</p>
			<h2 class="h2" id="mOverview">Übersicht der Verarbeitungen</h2>
			<p>
				Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer
				Verarbeitung zusammen und verweist auf die betroffenen Personen.
			</p>
			<h3>Arten der verarbeiteten Daten</h3>
			<ul class="m-list">
				<li>Inhaltsdaten.</li>
				<li>Nutzungsdaten.</li>
				<li>Meta-, Kommunikations- und Verfahrensdaten.</li>
			</ul>
			<h3>Kategorien betroffener Personen</h3>
			<ul class="m-list"><li>Nutzer.</li></ul>
			<h3>Zwecke der Verarbeitung</h3>
			<ul class="m-list">
				<li>Sicherheitsmaßnahmen.</li>
				<li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
				<li>Informationstechnische Infrastruktur.</li>
			</ul>
			<h2 class="h2" id="m27">Sicherheitsmaßnahmen</h2>
			<p>
				Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der
				Technik, der Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke
				der Verarbeitung sowie der unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes
				der Bedrohung der Rechte und Freiheiten natürlicher Personen geeignete technische und
				organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu gewährleisten.
			</p>
			<p>
				Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und
				Verfügbarkeit von Daten durch Kontrolle des physischen und elektronischen Zugangs zu den
				Daten als auch des sie betreffenden Zugriffs, der Eingabe, der Weitergabe, der Sicherung der
				Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren eingerichtet, die eine
				Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung
				der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten
				bereits bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend
				dem Prinzip des Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche
				Voreinstellungen.
			</p>
			<p>
				TLS-Verschlüsselung (https): Um Ihre via unserem Online-Angebot übermittelten Daten zu
				schützen, nutzen wir eine TLS-Verschlüsselung. Sie erkennen derart verschlüsselte
				Verbindungen an dem Präfix https:// in der Adresszeile Ihres Browsers.
			</p>
			<h2 class="h2" id="m12">Löschung von Daten</h2>
			<p>
				Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben gelöscht,
				sobald deren zur Verarbeitung erlaubten Einwilligungen widerrufen werden oder sonstige
				Erlaubnisse entfallen (z.B. wenn der Zweck der Verarbeitung dieser Daten entfallen ist oder
				sie für den Zweck nicht erforderlich sind). Sofern die Daten nicht gelöscht werden, weil sie
				für andere und gesetzlich zulässige Zwecke erforderlich sind, wird deren Verarbeitung auf
				diese Zwecke beschränkt. D.h., die Daten werden gesperrt und nicht für andere Zwecke
				verarbeitet. Das gilt z.B. für Daten, die aus handels- oder steuerrechtlichen Gründen
				aufbewahrt werden müssen oder deren Speicherung zur Geltendmachung, Ausübung oder
				Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder
				juristischen Person erforderlich ist.
			</p>
			<p>
				Unsere Datenschutzhinweise können ferner weitere Angaben zu der Aufbewahrung und Löschung
				von Daten beinhalten, die für die jeweiligen Verarbeitungen vorrangig gelten.
			</p>
			<h2 class="h2" id="m10">Rechte der betroffenen Personen</h2>
			<p>
				Rechte der betroffenen Personen aus der DSGVO: Ihnen stehen als Betroffene nach der DSGVO
				verschiedene Rechte zu, die sich insbesondere aus Art. 15 bis 21 DSGVO ergeben:
			</p>

			<p>
				<strong
					>Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen
					Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen
					Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen;
					dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling. Werden die Sie
					betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie
					das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden
					personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das
					Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.</strong
				>
			</p>
			<p>
				<strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht, erteilte Einwilligungen
				jederzeit zu widerrufen.
			</p>
			<p>
				<strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung darüber zu verlangen,
				ob betreffende Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen
				und Kopie der Daten entsprechend den gesetzlichen Vorgaben.
			</p>
			<p>
				<strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den gesetzlichen Vorgaben das
				Recht, die Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden
				unrichtigen Daten zu verlangen.
			</p>
			<p>
				<strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong> Sie haben nach Maßgabe
				der gesetzlichen Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten unverzüglich gelöscht
				werden, bzw. alternativ nach Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung
				der Daten zu verlangen.
			</p>
			<p>
				<strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie betreffende Daten,
				die Sie uns bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem strukturierten,
				gängigen und maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen
				zu fordern.
			</p>
			<p>
				<strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben unbeschadet eines anderweitigen verwaltungsrechtlichen
				oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere
				in dem Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des
				mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden
				personenbezogenen Daten gegen die Vorgaben der DSGVO verstößt.
			</p>

			<h2 class="h2" id="m225">Bereitstellung des Onlineangebotes und Webhosting</h2>
			<p>
				Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung stellen
				zu können. Zu diesem Zweck verarbeiten wir die IP-Adresse des Nutzers, die notwendig ist, um
				die Inhalte und Funktionen unserer Online-Dienste an den Browser oder das Endgerät der
				Nutzer zu übermitteln.
			</p>
			<p>
				<strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an
				Inhalten, Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
				Identifikationsnummern, Einwilligungsstatus). Inhaltsdaten (z.B. Eingaben in Onlineformularen).
			</p>
			<p>
				<strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
			</p>
			<p>
				<strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit;
				Informationstechnische Infrastruktur (Betrieb und Bereitstellung von Informationssystemen und
				technischen Geräten (Computer, Server etc.).). Sicherheitsmaßnahmen.
			</p>
			<p>
				<strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
			</p>
			<p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>

			<p>
				<strong>Erhebung von Zugriffsdaten und Logfiles: </strong>Der Zugriff auf unser
				Onlineangebot wird in Form von so genannten "Server-Logfiles" protokolliert. Zu den
				Serverlogfiles können die Adresse und Name der abgerufenen Webseiten und Dateien, Datum und
				Uhrzeit des Abrufs, übertragene Datenmengen, Meldung über erfolgreichen Abruf, Browsertyp
				nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite) und
				im Regelfall IP-Adressen und der anfragende Provider gehören. Die Serverlogfiles können zum
				einen zu Zwecken der Sicherheit eingesetzt werden, z.B., um eine Überlastung der Server zu
				vermeiden (insbesondere im Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken)
				und zum anderen, um die Auslastung der Server und ihre Stabilität sicherzustellen;
			</p>

			<p>
				<strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
			</p>

			<p>
				<strong>Löschung von Daten:</strong> Logfile-Informationen werden für die Dauer von maximal 30
				Tagen gespeichert und danach gelöscht oder anonymisiert. Daten, deren weitere Aufbewahrung zu
				Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des jeweiligen Vorfalls von
				der Löschung ausgenommen.
			</p>
			<p>
				<strong>E-Mail-Versand und -Hosting: </strong>Die von uns in Anspruch genommenen
				Webhosting-Leistungen umfassen ebenfalls den Versand, den Empfang sowie die Speicherung von
				E-Mails. Zu diesen Zwecken werden die Adressen der Empfänger sowie Absender als auch weitere
				Informationen betreffend den E-Mailversand (z.B. die beteiligten Provider) sowie die Inhalte
				der jeweiligen E-Mails verarbeitet. Die vorgenannten Daten können ferner zu Zwecken der
				Erkennung von SPAM verarbeitet werden. Wir bitten darum, zu beachten, dass E-Mails im
				Internet grundsätzlich nicht verschlüsselt versendet werden. Im Regelfall werden E-Mails
				zwar auf dem Transportweg verschlüsselt, aber (sofern kein sogenanntes
				Ende-zu-Ende-Verschlüsselungsverfahren eingesetzt wird) nicht auf den Servern, von denen sie
				abgesendet und empfangen werden. Wir können daher für den Übertragungsweg der E-Mails
				zwischen dem Absender und dem Empfang auf unserem Server keine Verantwortung übernehmen;
			</p>
			<p>
				<strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
			</p>
			<p>
				<strong>netcup: </strong>Leistungen auf dem Gebiet der Bereitstellung von
				informationstechnischer Infrastruktur und verbundenen Dienstleistungen (z.B. Speicherplatz
				und/oder Rechenkapazitäten); <strong>Dienstanbieter:</strong> netcup GmbH, Daimlerstraße 25,
				D-76185 Karlsruhe, Deutschland;
			</p>

			<p>
				<strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO);
			</p>

			<p>
				<strong>Website:</strong>
				<a href="https://www.netcup.de/" target="_blank">https://www.netcup.de/</a>;
			</p>

			<p>
				<strong>Datenschutzerklärung:</strong>
				<a href="https://www.netcup.de/kontakt/datenschutzerklaerung.php" target="_blank"
					>https://www.netcup.de/kontakt/datenschutzerklaerung.php</a
				>
			</p>

			<p>
				<strong>Auftragsverarbeitungsvertrag:</strong>
				<a
					href="https://www.netcup-wiki.de/wiki/Zusatzvereinbarung_zur_Auftragsverarbeitung"
					target="_blank"
					>https://www.netcup-wiki.de/wiki/Zusatzvereinbarung_zur_Auftragsverarbeitung</a
				>
			</p>

			<p class="seal">
				<a
					href="https://datenschutz-generator.de/"
					title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken."
					target="_blank"
					rel="noopener noreferrer nofollow"
					>Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a
				>
			</p>
		</DetailPage>
	</svelte:fragment>

	<svelte:fragment slot="en">
		<DetailPage pageTitle="Privacy Policy">
			<section>
				<h1 class="h1">Privacy Policy</h1>
				<p>As of August 19, 2023</p>

				<h2 class="h2">Table of Contents</h2>
				<nav class="list-nav">
					<ul class="m-list">
						<li><a class="index-link" href="#m3">Data Controller</a></li>
						<li><a class="index-link" href="#mOverview">Overview of Processing Activities</a></li>
						<li><a class="index-link" href="#m2427">Relevant Legal Bases</a></li>
						<li><a class="index-link" href="#m27">Security Measures</a></li>
						<li><a class="index-link" href="#m12">Data Deletion</a></li>
						<li><a class="index-link" href="#m10">Rights of Data Subjects</a></li>
						<li>
							<a class="index-link" href="#m225">Provision of Online Offer and Web Hosting</a>
						</li>
					</ul>
				</nav>
			</section>

			<h2 class="h2" id="m3">Data Controller</h2>
			<Imprint height="4rem" />

			<h2 class="h2" id="m2427">Relevant Legal Bases</h2>
			<p>
				<strong>Relevant legal bases under the GDPR:</strong> Below you will find an overview of the
				legal bases of the GDPR on which we process personal data. Please note that, in addition to the
				provisions of the GDPR, national data protection regulations may apply in your or our country
				of residence or domicile. Furthermore, if more specific legal bases are applicable in individual
				cases, we will inform you of these in the privacy policy.
			</p>
			<ul class="m-list">
				<li>
					<strong>Legitimate interests (Art. 6(1)(f) GDPR):</strong> Processing is necessary for the
					purposes of the legitimate interests pursued by the controller or by a third party, except
					where such interests are overridden by the interests or fundamental rights and freedoms of
					the data subject which require protection of personal data.
				</li>
			</ul>
			<p>
				<strong>National data protection regulations in Germany:</strong> In addition to the provisions
				of the GDPR, national data protection regulations apply in Germany. This includes in particular
				the Act on the Protection Against Misuse of Personal Data in Data Processing (Federal Data Protection
				Act - BDSG). The BDSG contains special regulations, in particular on the right to information,
				the right to deletion, the right to object, the processing of special categories of personal
				data, processing for other purposes, and transmission, as well as automated decision-making on
				a case-by-case basis, including profiling. Furthermore, data protection laws of the individual
				federal states may apply.
			</p>
			<p>
				<strong>Reference to the applicability of GDPR and Swiss Data Protection Act:</strong> These
				data protection notices serve both to provide information in accordance with the Swiss Federal
				Act on Data Protection (Swiss DPA) and the General Data Protection Regulation (GDPR). For this
				reason, please note that due to the broader geographical application and comprehensibility, the
				terms of the GDPR are used. In particular, the terms "processing" of "personal data," "legitimate
				interest," and "special categories of personal data," used in the GDPR, are used instead of the
				terms "processing" of "personal data," "predominant interest," and "particularly sensitive personal
				data" used in the Swiss DPA. However, the legal meaning of the terms is still determined under
				the Swiss DPA within the scope of its applicability.
			</p>
			<h2 class="h2" id="mOverview">Overview of Processing Activities</h2>
			<p>
				The following overview summarizes the types of processed data and the purposes of their
				processing, and refers to the data subjects.
			</p>
			<h3>Types of Processed Data</h3>
			<ul class="m-list">
				<li>Content data.</li>
				<li>Usage data.</li>
				<li>Meta, communication, and procedural data.</li>
			</ul>
			<h3>Categories of Data Subjects</h3>
			<ul class="m-list"><li>Users.</li></ul>
			<h3>Purposes of Processing</h3>
			<ul class="m-list">
				<li>Security measures.</li>
				<li>Provision of our online offering and user-friendliness.</li>
				<li>Information technology infrastructure.</li>
			</ul>
			<h2 class="h2" id="m27">Security Measures</h2>
			<p>
				In accordance with legal requirements, and taking into account the state of the art, the
				implementation costs, and the nature, scope, circumstances, and purposes of processing, as
				well as the varying likelihood and severity of the risk to the rights and freedoms of
				natural persons, we employ appropriate technical and organizational measures to ensure a
				level of security appropriate to the risk.
			</p>
			<p>
				These measures include in particular ensuring the confidentiality, integrity, and
				availability of data by controlling physical and electronic access to the data, as well as
				the access, input, transmission, security of availability, and separation thereof.
				Furthermore, we have established procedures to ensure the exercise of data subjects' rights,
				the deletion of data, and responses to threats to data. We also take data protection into
				account in the development or selection of hardware, software, and procedures, in accordance
				with the principle of data protection through technology design and data protection-friendly
				default settings.
			</p>
			<p>
				TLS encryption (https): In order to protect your data transmitted via our online services,
				we use TLS encryption. You can recognize such encrypted connections by the prefix https://
				in the address bar of your browser.
			</p>
			<h2 class="h2" id="m12">Data Deletion</h2>
			<p>
				The data processed by us will be deleted or restricted in processing in accordance with legal requirements,
				once the consents granted have been revoked or other permissions have ceased to apply (e.g., if the purpose
				of processing this data has ceased to apply or is not necessary for the purpose). If the data is not deleted
				because they are required for other and legally permissible purposes, their processing is restricted. This
				means that the data is blocked and not processed for other purposes. This applies, for example, to data that
				must be retained for commercial or tax reasons or whose storage is necessary for the assertion, exercise,
				or defense of legal claims or for the protection of the rights of another natural or legal person.
			</p>
			<p>
				Further information on the retention and deletion of data may be included in our data protection notices
				which primarily apply to the respective processing activities.
			</p>
			<h2 class="h2" id="m10">Rights of Data Subjects</h2>
			<p>
				Rights of data subjects under the GDPR: You have various rights as a data subject under the GDPR,
				which arise in particular from Articles 15 to 21 of the GDPR:
			</p>
			<p>
				<strong>Right to object:</strong> You have the right to object at any time, on grounds relating
				to your particular situation, to the processing of personal data concerning you which is based on
				Article 6(1)(e) or (f) GDPR, including profiling based on those provisions. Where personal data
				concerning you is processed for direct marketing purposes, you have the right to object at any time
				to the processing of your personal data for such marketing, which includes profiling to the extent
				that it is related to such direct marketing.
			</p>
			<p>
				<strong>Right to withdraw consent:</strong> You have the right to withdraw your consent at any time.
			</p>
			<p>
				<strong>Right of access:</strong> You have the right to obtain confirmation as to whether or not
				personal data concerning you is being processed, and, where that is the case, access to the personal
				data and certain other information in accordance with legal requirements.
			</p>
			<p>
				<strong>Right to rectification:</strong> You have the right to obtain the rectification of inaccurate
				personal data concerning you or the completion of incomplete personal data in accordance with legal
				requirements.
			</p>
			<p>
				<strong>Right to erasure and restriction of processing:</strong> You have the right, under legal
				requirements, to obtain the erasure of personal data concerning you without undue delay, or alternatively,
				to obtain restriction of processing of the data in accordance with legal requirements.
			</p>
			<p>
				<strong>Right to data portability:</strong> You have the right to receive personal data concerning
				you, which you have provided to us, in a structured, commonly used, and machine-readable format or to
				transmit those data to another controller in accordance with legal requirements.
			</p>
			<p>
				<strong>Right to lodge a complaint with a supervisory authority:</strong> Without prejudice to any
				other administrative or judicial remedy, you have the right to lodge a complaint with a supervisory
				authority, in particular in the Member State of your habitual residence, place of work, or place of
				the alleged infringement, if you consider that the processing of personal data relating to you infringes
				the GDPR.
			</p>
			<h2 class="h2" id="m225">Provision of Online Offer and Web Hosting</h2>
			<p>
				We process users' data in order to provide them with our online services. To this end, we process the
				user's IP address, which is necessary to transmit the contents and functions of our online services
				to the user's browser or device.
			</p>
			<p>
				<strong>Processed data types:</strong> Usage data (e.g., visited websites, interest in content, access
				times); Meta, communication, and procedural data (e.g., IP addresses, timing information, identification
				numbers, consent status). Content data (e.g., entries in online forms).
			</p>
			<p>
				<strong>Data subjects:</strong> Users (e.g., website visitors, users of online services).
			</p>
			<p>
				<strong>Purposes of processing:</strong> Provision of our online offering and user-friendliness;
				information technology infrastructure (operation and provision of information systems and technical
				devices (computers, servers, etc.)); security measures.
			</p>
			<p>
				<strong>Legal bases:</strong> Legitimate interests (Art. 6(1)(f) GDPR).
			</p>
			<p>
				<strong>Further information on processing procedures, processes, and services:</strong></p>
			<p>
				<strong>Collection of access data and log files:</strong> Access to our online offering is logged
				in the form of so-called "server log files." Server log files may include the address and name of
				the web pages and files accessed, the date and time of access, transmitted data volumes, message
				about successful access, browser type and version, the user's operating system, referrer URL
				(the previously visited page), and in the usual case, IP addresses and the requesting provider.
				Server log files may be used, on the one hand, for security purposes, e.g., to avoid server overload
				(particularly in the event of abusive attacks, so-called DDoS attacks), and on the other hand, to
				ensure the load capacity and stability of the servers.
			</p>
			<p>
				<strong>Legal bases:</strong> Legitimate interests (Art. 6(1)(f) GDPR).
			</p>
			<p>
				<strong>Data deletion:</strong> Log file information is stored for a maximum of 30 days and then
				deleted or anonymized. Data whose further retention is necessary for evidentiary purposes are
				excluded from deletion until the final clarification of the respective incident.
			</p>
			<p>
				<strong>Email transmission and hosting:</strong> The web hosting services we use also include the
				transmission, receipt, and storage of emails. For these purposes, the addresses of recipients and
				senders, as well as other information concerning email transmission (e.g., the providers involved)
				and the contents of the respective emails are processed. The aforementioned data may also be processed
				for the purpose of detecting SPAM. Please note that emails are generally not encrypted on the Internet.
				In most cases, emails are encrypted during transport, but (unless an end-to-end encryption method is
				used) not on the servers from which they are sent and received. We therefore cannot assume any
				responsibility for the transmission path of emails between the sender and the recipient on our server.
			</p>
			<p>
				<strong>Legal bases:</strong> Legitimate interests (Art. 6(1)(f) GDPR).
			</p>
			<p>
				<strong>netcup:</strong> Services in the field of providing information technology infrastructure
				and related services (e.g., storage space and/or computing capacity); <strong>Service Provider:</strong>
				netcup GmbH, Daimlerstraße 25, D-76185 Karlsruhe, Germany;
			</p>
			<p>
				<strong>Legal bases:</strong> Legitimate interests (Art. 6(1)(f) GDPR).
			</p>
			<p>
				<strong>Website:</strong>
				<a href="https://www.netcup.de/" target="_blank">https://www.netcup.de/</a>;
			</p>
			<p>
				<strong>Data Protection Statement:</strong>
				<a href="https://www.netcup.de/kontakt/datenschutzerklaerung.php" target="_blank"
					>https://www.netcup.de/kontakt/datenschutzerklaerung.php</a
				>
			</p>
			<p>
				<strong>Data Processing Agreement:</strong>
				<a
					href="https://www.netcup-wiki.de/wiki/Zusatzvereinbarung_zur_Auftragsverarbeitung"
					target="_blank"
					>https://www.netcup-wiki.de/wiki/Zusatzvereinbarung_zur_Auftragsverarbeitung</a
				>
			</p>
			<p class="seal">
				<a
					href="https://datenschutz-generator.de/"
					title="Legal Text by Dr. Schwenke - please click for more information."
					target="_blank"
					rel="noopener noreferrer nofollow"
					>Created with the free Privacy Statement Generator by Dr. Thomas Schwenke</a
				>
			</p>
		</DetailPage>
	</svelte:fragment>
</Translator>
