<script lang="ts">
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faArrowRight } from '@fortawesome/free-solid-svg-icons';
	import { page } from '$app/stores';
	import Translator from '$lib/LanguageSwitch/Translator.svelte';
</script>

<div class="m-container mx-auto h-full flex justify-center items-center">
	<Translator>
		<svelte:fragment slot="de">
			<h1 class="text-6xl font-bold mt-8">
				<span
					class="bg-gradient-to-br from-primary-500 to-cyan-300 bg-clip-text text-transparent box-decoration-clone"
					>Ups</span
				>
			</h1>
			{#if $page.status === 404}
				<p class="py-8 text-2xl font-bold">
					Es sieht so aus, als würde diese Seite nicht existieren.
				</p>
				<p>Vielleicht ist sie in Raum und Zeit verloren gegangen?</p>
			{:else}
				<p class="py-8 text-2xl font-bold">
					Ein unerwarteter Fehler ist aufgetreten.
				</p>
				<p>Der Fluxkompensator wird sofort neugestartet!</p>
			{/if}
	
			<a
			class="btn flex flex-row gap-2 my-8 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
			href="/">Startseite<Fa icon={faArrowRight} /></a
		>
		</svelte:fragment>
		<svelte:fragment slot="en">
			<h1 class="text-6xl font-bold mt-8">
				<span
					class="bg-gradient-to-br from-primary-500 to-cyan-300 bg-clip-text text-transparent box-decoration-clone"
					>Oops</span
				>
			</h1>
			{#if $page.status === 404}
				<p class="py-8 text-2xl font-bold">
					Looks like this page doesn't exist.
				</p>
				<p>Maybe it got lost in time and space?</p>
			{:else}
				<p class="py-8 text-2xl font-bold">
					An unexpected error occurred.
				</p>
				<p>The flux capacitor is being rebooted immediately!</p>
			{/if}
	
			<a
			class="btn flex flex-row gap-2 my-8 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
			href="/">Home<Fa icon={faArrowRight} /></a
		>
		</svelte:fragment>
	</Translator>
</div>
