<script lang="ts">
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faArrowUp } from '@fortawesome/free-solid-svg-icons';
	import { AppShell, AppBar, LightSwitch, storePopup } from '@skeletonlabs/skeleton';
	import { computePosition, autoUpdate, offset, shift, flip, arrow } from '@floating-ui/dom';
	import { spring } from 'svelte/motion';
	import { modeCurrent } from '@skeletonlabs/skeleton';
	import { themeStore } from '../stores/themeStore';
	import LanguageSwitch from '$lib/LanguageSwitch/LanguageSwitch.svelte';

	import { Modal } from '@skeletonlabs/skeleton';
	import ModalImage from '$lib/Modals/ModalImage.svelte';
	import ModalPrivacy from '$lib/PrivacyManager/ModalPrivacy.svelte';
	import type { ModalComponent } from '@skeletonlabs/skeleton';

	import PrivacyManager from '$lib/PrivacyManager/PrivacyManager.svelte';
	import handlePrivacyInteraction from '$lib/PrivacyManager/privacymodal';
	import { autoSetShowModal } from '$lib/PrivacyManager/privacymanager';

	import { fade } from 'svelte/transition';
	import { quadIn } from 'svelte/easing';

	// import '../theme.postcss';
	// import '@skeletonlabs/skeleton/styles/skeleton.css';
	import '../app.postcss';

	import { title } from '../stores/pageStore';
	import { afterNavigate } from '$app/navigation';
	import Translator from '$lib/LanguageSwitch/Translator.svelte';
	import { onMount } from 'svelte';

	import { page as sveltePage } from '$app/stores';

	afterNavigate(() => {
		if (document != null) {
			let page = document.getElementById('page');
			if (page) {
				page.scrollTop = 0;
			}
		}
		autoSetShowModal($sveltePage.url.pathname);
	});

	storePopup.set({ computePosition, autoUpdate, offset, shift, flip, arrow });

	const modalComponentRegistry: Record<string, ModalComponent> = {
		ModalImageComponent: {
			ref: ModalImage,
			slot: '<p>Manuel Thöne - Portfolio</p>'
		},
		ModalPrivacyComponent: {
			ref: ModalPrivacy,
			slot: '<p>Manuel Thöne - Portfolio</p>'
		}
	};

	let sun: SVGSVGElement;
	let coords = spring(
		{ x: 0, y: 0 },
		{
			stiffness: 0.05,
			damping: 0.6
		}
	);

	function handleGlowMove(event: MouseEvent) {
		coords.set({ x: event.clientX, y: event.clientY });
	}

	let yScrollPos: number;
	let scrollThreshold: number = 100;
	let topTarget: HTMLElement | null;
	let page: HTMLElement;

	const scrollToTop = () =>
		topTarget?.scrollIntoView({
			behavior: 'smooth'
		});

	function handleScroll() {
		if (page) {
			yScrollPos = page.scrollTop;
		}
	}
	
	onMount(() => {
		const p = document.getElementById('page');
		scrollThreshold = window.innerHeight * 0.25;
		if (p) {
			page = p;
			yScrollPos = page.scrollTop;
			p.addEventListener('scroll', handleScroll);
			return () => {
				p.removeEventListener('scroll', handleScroll);
			};
		}
	});
</script>

<svelte:head>
	<title>{$title}</title>
</svelte:head>

<Modal components={modalComponentRegistry} />

<PrivacyManager />

<svelte:window on:mousemove={handleGlowMove} />

<AppShell regionPage="relative" slotPageHeader="sticky top-0 z-10">
	<svelte:fragment slot="pageHeader">
		<AppBar>
			<svelte:fragment slot="lead">
				<a class="flex flex-wrap gap-2 leading-none" href="/">
					<b>Portfolio |</b><span>Manuel Thöne</span></a
				>
			</svelte:fragment>
			<svelte:fragment slot="trail">
				<LanguageSwitch bgLight={'bg-surface-10'} fillLight={'fill-surface-10'} />
				<LightSwitch bgLight={'bg-surface-10'} fillLight={'fill-surface-10'} />
			</svelte:fragment>
		</AppBar>
	</svelte:fragment>

	<span bind:this={topTarget} class="block w-full" />

	<slot />

	{#if page && yScrollPos > scrollThreshold}
		<a
			transition:fade={{ duration: 150, easing: quadIn }}
			id="toTopLink"
			on:click|preventDefault={scrollToTop}
			on:keydown|preventDefault={scrollToTop}><Fa scale={1.2} icon={faArrowUp} /></a
		>
	{/if}

	<span
		id="glow-container"
		class="h-full w-full bg-surface-10 dark:bg-surface-800 fixed top-0 left-0 pointer-events-none -z-50"
	>
		<svg
			id="glow"
			class="blur-md"
			bind:this={sun}
			width="100%"
			height="100%"
			xmlns="http://www.w3.org/2000/svg"
		>
			<defs>
				<radialGradient id="myGradient">
					<stop
						offset="10%"
						stop-color={$modeCurrent
							? $themeStore.getHexColor('color-secondary-10')
							: $themeStore.getHexColor('color-surface-700')}
					/>
					<stop
						offset="95%"
						stop-color={$modeCurrent
							? $themeStore.getHexColor('color-surface-10')
							: $themeStore.getHexColor('color-surface-800')}
					/>
				</radialGradient>
			</defs>

			<!-- <rect width="100%" height="100%" fill={$themeStore.getHexColor('color-surface-800')}/> -->
			<path
				style="position: absolute; transform: translate({$coords.x}px, {$coords.y}px) scale(5.0);"
				fill="url('#myGradient')"
				d="M49.5,-57.4C65,-46,79,-31.2,80.3,-15.4C81.7,0.4,70.4,17.3,59.9,34C49.5,50.7,40.1,67.4,25.4,75C10.7,82.5,-9.1,81.1,-22.7,72C-36.3,62.9,-43.7,46.2,-47.2,31.4C-50.7,16.7,-50.3,4,-49.5,-10.2C-48.7,-24.3,-47.6,-39.8,-39.3,-52.4C-30.9,-65.1,-15.5,-74.9,0.8,-75.8C17,-76.7,34,-68.7,49.5,-57.4Z"
			/>
		</svg>
	</span>
	<svelte:fragment slot="pageFooter">
		<Translator>
			<svelte:fragment slot="de">
				<p class="text-center">
					&copy; Manuel Thöne 2023 | <a class="link" href="/imprint">Impressum</a> |
					<a class="link" href="/privacy">Datenschutz</a>
					|
					<a
						class="link"
						href="/"
						on:click|preventDefault={handlePrivacyInteraction}
						on:keydown|preventDefault={handlePrivacyInteraction}>Datenschutzeinstellungen</a
					>
				</p>
			</svelte:fragment>
			<svelte:fragment slot="en">
				<p class="text-center">
					&copy; Manuel Thöne 2023 | <a class="link" href="/imprint">Imprint</a> |
					<a class="link" href="/privacy">Privacy</a>
					|
					<a
						class="link"
						href="/"
						on:click|preventDefault={handlePrivacyInteraction}
						on:keydown|preventDefault={handlePrivacyInteraction}>Privacy Settings</a
					>
				</p>
			</svelte:fragment>
		</Translator>
	</svelte:fragment>
</AppShell>
