<script lang="ts">
	import Fa from 'svelte-fa/src/fa.svelte';
	import {
		faPenNib,
		faEye,
		faPenToSquare,
		faArrowRight,
		faCode,
		faBullhorn
	} from '@fortawesome/free-solid-svg-icons';

	import Jumbotron from '$lib/jumbotron.svelte';
	import SectionHeader from '$lib/section_header.svelte';
	import IcondesignIcon from '$lib/icons/icondesign.svelte';
	import ScreendesignIcon from '$lib/icons/screendesign.svelte';
	import CorporatedesignIcon from '$lib/icons/corporatedesign.svelte';
	import DatavisualisationIcon from '$lib/icons/datavisualisation.svelte';
	import DevelopmentIcon from '$lib/icons/development.svelte';
	import ResearchIcon from '$lib/icons/research.svelte';
	import ArticleMeta from '$lib/article_meta.svelte';

	import { modeCurrent } from '@skeletonlabs/skeleton';
	import handleImageInteraction from '../lib/Modals/modalImage';
	import { langCurrent } from '$lib/LanguageSwitch/languageswitch';
	import { themeStore } from '../stores/themeStore';

	import { onMount } from 'svelte';

	import { title } from '../stores/pageStore';
	import Translator from '$lib/LanguageSwitch/Translator.svelte';
	import ToolsList from '$lib/toolsList.svelte';
	import IconTextCard from '$lib/IconTextCard.svelte';

	title.clear();

	const initAnimations = () => {
		if (typeof IntersectionObserver !== 'undefined') {
			const animateInObserver = new IntersectionObserver(
				(entries) => {
					entries.forEach((entry) => {
						if (entry.isIntersecting) {
							entry.target.classList.add('visible');
							animateInObserver.unobserve(entry.target);
						}
					});
				},
				{
					threshold: 0.2
				}
			);

			const elements = document.querySelectorAll('.fade-in');

			elements.forEach((element) => {
				const parent = element.parentNode;
				const allFades = parent?.querySelectorAll('.fade-in');
				if (element.closest('article') && allFades && allFades.length > 1) {
					for (let i = 1; i < allFades.length; i++) {
						const element = allFades[i] as HTMLElement;
						element.style.transitionDelay = `${i * 250}ms`;
					}
				}

				animateInObserver.observe(element);
			});
		}
	};

	onMount(() => {
		initAnimations();
	});

	$: strokeColor = $modeCurrent
		? $themeStore.getHexColor('color-surface-200')
		: $themeStore.getHexColor('color-surface-500');
</script>

<Jumbotron />

<div
	class="card bg-surface-10 dark:bg-surface-600 p-2 w-fit shadow-xl z-1"
	data-popup="popupArticleMeta"
>
	<div>
		<Translator>
			<p slot="de">Weitere Mitglieder der Gruppenarbeit</p>
			<p slot="en">Other members of the group work</p>
		</Translator>
	</div>
</div>

<div class="m-container mx-auto">
	<div class="space-y-5" />

		<section class="space-y-32">
			<SectionHeader fadeIn={false} id="icondesign">
				<h2 slot="title" class="h2 uppercase slot-title">Icondesign</h2>
				<IcondesignIcon slot="icon" {strokeColor} />
			</SectionHeader>
			<article class="flex flex-col md:flex-row gap-12">
				<div class="lg:w-1/2 place-self-end mb-6 flex-1 space-y-6 fade-in">
					<Translator>
						<svelte:fragment slot="de">
							<header class="flex flex-col-reverse md:flex-row md:items-center gap-4">
								<h3 class="h3">Gesundheits-App</h3>
								<span class="m-badge mb-1">Studium</span>
							</header>
						</svelte:fragment>
						<svelte:fragment slot="en">
							<header class="flex flex-col-reverse md:flex-row md:items-center gap-4">
								<h3 class="h3">Health App</h3>
								<span class="m-badge mb-1">Study</span>
							</header>
						</svelte:fragment>
					</Translator>

					<Translator>
						<p slot="de">
							Für eine fiktive Gesundheits-App sollten im Modul „Gestaltung 2“ des UXD-Studienganges
							acht Icons mit vorgegebener Bedeutung erstellt werden.
						</p>
						<p slot="en">
							For a fictitious health app, eight icons with predefined meanings were to be created
							in the "Design 2" module of the UXD degree course.
						</p>
					</Translator>
					<ToolsList tools={['Illustrator']} />
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<picture class="block">
						<source srcset="assets/images/webp/icondesign_icons.webp" type="image/webp" />
						<img
							on:click={handleImageInteraction}
							on:keydown|preventDefault={handleImageInteraction}
							role="dialog"
							tabindex="0"
							class="rounded-2xl max-w-full cursor-pointer"
							src="assets/images/icondesign_icons.png"
							alt={$langCurrent == 'de'
								? 'Icons der fiktiven Anwendung'
								: 'Icons of the fictitious app'}
						/>
					</picture>
				</div>
				<div class="lg:w-1/2 flex-1 flex justify-center items-center fade-in">
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<picture class="block">
						<source srcset="assets/images/webp/icondesign_mockup.webp" type="image/webp" />
						<img
							on:click={handleImageInteraction}
							on:keydown|preventDefault={handleImageInteraction}
							role="dialog"
							tabindex="0"
							class="rounded-2xl max-w-full cursor-pointer"
							src="assets/images/icondesign_mockup.png"
							alt={$langCurrent == 'de' ? 'Icons in einem Mockup' : 'Icons in a mockup'}
						/>
					</picture>
				</div>
			</article>
		</section>
		<!-- END SECTION ICONDESIGN-->

		<section class="space-y-32 pt-24">
			<SectionHeader id="screendesign">
				<h2 slot="title" class="h2 uppercase slot-title">Screendesign</h2>
				<ScreendesignIcon slot="icon" {strokeColor} />
			</SectionHeader>

			<article class="flex flex-col md:flex-row-reverse gap-12">
				<div class="lg:w-1/2 place-self-center flex-1 space-y-6 fade-in">
					<Translator>
						<svelte:fragment slot="de">
							<header class="flex flex-col-reverse md:flex-row md:items-center gap-4">
								<h3 class="h3">Film-Bibliothek</h3>
								<span class="m-badge mb-1">Privat</span>
							</header>
						</svelte:fragment>
						<svelte:fragment slot="en">
							<header class="flex flex-col-reverse md:flex-row md:items-center gap-4">
								<h3 class="h3">Movie Library</h3>
								<span class="m-badge mb-1">Personal</span>
							</header>
						</svelte:fragment>
					</Translator>
					<Translator>
						<p slot="de">
							Um einen besseren Überblick über meine private Filmsammlung zu haben, gestaltete und
							setzte ich eine entsprechende Webseite um. Die Funktionalität umfasst momentan das
							Suchen von Titeln, sowie Filtern nach Qualität, Erscheinungsjahr, Dauer und dem
							maximalen Ende.
						</p>
						<p slot="en">
							In order to have a better overview of my private film collection, I designed and
							implemented a corresponding website. The functionality currently includes the search
							for titles, as well as filtering by quality, year of release, duration and maximum
							end.
						</p>
					</Translator>
					<ToolsList tools={['Adobe XD', 'HTML', 'JS', 'Bootstrap']} />
				</div>
				<div class="lg:w-1/2 flex-1 flex justify-center items-center fade-in">
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<picture class="block">
						<source srcset="assets/images/webp/movieList_mockup.webp" type="image/webp" />
						<img
							on:click={handleImageInteraction}
							on:keydown|preventDefault={handleImageInteraction}
							role="dialog"
							tabindex="0"
							class="rounded-2xl max-w-full cursor-pointer"
							src="assets/images/movieList_mockup.png"
							alt={$langCurrent == 'de'
								? 'Mockup der Filmbibliothek Webseite'
								: 'Mockup of the movie library website'}
						/>
					</picture>
				</div>
			</article>

			<article class="flex flex-col md:flex-row gap-12">
				<div class="lg:w-1/2 place-self-center flex-1 space-y-6 fade-in">
					<header class="flex flex-col-reverse md:flex-row md:items-center gap-4">
						<Translator>
							<svelte:fragment slot="de">
								<h3 class="h3">Physio-Praxis Webseite</h3>
								<span class="m-badge mb-1">Privat</span>
							</svelte:fragment>
							<svelte:fragment slot="en">
								<h3 class="h3">Physio-Praxis Homepage</h3>
								<span class="m-badge mb-1">Personal</span>
							</svelte:fragment>
						</Translator>
					</header>
					<Translator>
						<p slot="de">
							Für einen befreundeten Physiotherapeuten hatte ich die Möglichkeit ein Design für die
							Überarbeitung der alten Webseite zu erstellen. Besonders achtete ich darauf, das
							Layout für mobile Geräte zu optimieren.
						</p>
						<p slot="en">
							For a physiotherapist friend of mine, I had the opportunity to create a design for the
							revision of the old website. I paid particular attention to optimizing the layout for
							mobile devices.
						</p>
					</Translator>
					<ToolsList tools={['Adobe XD', 'HTML', 'JS', 'SASS', 'Bootstrap']} />
				</div>
				<div class="lg:w-1/2 flex-1 flex justify-center items-center fade-in">
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<picture class="block">
						<source srcset="assets/images/webp/physio_mockup.webp" type="image/webp" />
						<img
							on:click={handleImageInteraction}
							on:keydown|preventDefault={handleImageInteraction}
							role="dialog"
							tabindex="0"
							class="rounded-2xl max-w-full cursor-pointer max-h-[760px]"
							src="assets/images/physio_mockup.png"
							alt={$langCurrent == 'de'
								? 'Mockups der Webseite auf Smartphones'
								: 'Smartphone mockups of the website'}
						/>
					</picture>
				</div>
			</article>

			<article class="flex flex-col flex-wrap lg:flex-row-reverse gap-12">
				<div class="lg:w-1/2 place-self-center flex-1 space-y-6 fade-in">
					<header class="w-full">
						<Translator>
							<svelte:fragment slot="de">
								<span class="m-badge mb-4">Studium </span>
								<h3 class="h3">Trainings-App</h3>
								<h3 class="text-lg font-light">Herz-Lungen-Wiederbelebung</h3>
							</svelte:fragment>
							<svelte:fragment slot="en">
								<span class="m-badge mb-4">Study </span>
								<h3 class="h3">Training App</h3>
								<h3 class="text-lg font-light">Cardiopulmonary resuscitation</h3>
							</svelte:fragment>
						</Translator>
					</header>
					<Translator>
						<p slot="de">
							In "Design der Mensch-Maschine Schnittstelle" war die Aufgabe des Projekts, eine App
							mit zwei Funktionen bzw. zwei getrennten Anwendungen zu entwerfen, die einerseits den
							Kindern die CPR Technik lehrt und zum anderen den Ausbilder bei seiner Aufgabe
							unterstützt und Möglichkeiten zur Auswertung der durchgeführten Kurse bietet.
						</p>
						<p slot="en">
							In "Designing the Human-Machine Interface" the task of the project was to design an
							app with two distinct applications, which on the one hand teaches the CPR technique to
							children and on the other hand supports the instructor in his task and offers
							possibilities for evaluating the courses carried out. app with two distinct
							applications, which on the one hand teaches the CPR technique to children and on the
							other hand supports the instructor in his task and offers possibilities for evaluating
							the courses carried out.
						</p>
					</Translator>

					<ToolsList tools={['Adobe XD', 'AfterEffects', 'Affinity Publisher']} />

					<ArticleMeta
						groupMembers={[
							{
								name: 'Mirella Probst',
								url: 'https://www.linkedin.com/in/mirella-probst-48250b23a/'
							}
						]}
					/>
				</div>
				<div class="lg:w-1/2 flex-1 flex justify-center items-center fade-in">
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<picture class="block">
						<source srcset="assets/images/webp/cpr_mockup.webp" type="image/webp" />
						<img
							on:click={handleImageInteraction}
							on:keydown|preventDefault={handleImageInteraction}
							role="dialog"
							tabindex="0"
							class="rounded-2xl max-w-full cursor-pointer"
							src="assets/images/cpr_mockup.png"
							alt={$langCurrent == 'de'
								? 'Tablet Mockups vom Trainingsmodus der App '
								: 'Tablet Mockups of the apps training mode'}
						/>
					</picture>
				</div>
			</article>
		</section>
		<!-- END SECTION SCREENDESIGN-->

		<section class="space-y-32 pt-24">
			<SectionHeader id="datenvisualisierung">
				<h2 slot="title" class="h2 uppercase slot-title">
					<Translator>
						<span slot="de">Datenvisualisierung</span>
						<span slot="en">Data Visualization</span>
					</Translator>
				</h2>
				<DatavisualisationIcon slot="icon" {strokeColor} />
			</SectionHeader>

			<article class="flex flex-col lg:flex-row-reverse gap-12">
				<div class="lg:w-1/2 place-self-end flex-1 space-y-6 fade-in">
					<Translator>
						<svelte:fragment slot="de">
							<header class="flex flex-col-reverse md:flex-row md:items-center gap-4">
								<h3 class="h3">COVID-19 Pandemie</h3>
								<span class="m-badge mb-1">Studium</span>
							</header>
						</svelte:fragment>
						<svelte:fragment slot="en">
							<header class="flex flex-col-reverse md:flex-row md:items-center gap-4">
								<h3 class="h3">COVID-19 Pandemic</h3>
								<span class="m-badge mb-1">Study</span>
							</header>
						</svelte:fragment>
					</Translator>
					<Translator>
						<svelte:fragment slot="de">
							<p>
								In dieser Übung in "Gestaltung 2" ging es nicht nur darum, Daten rund um das Thema
								COVID-19 strukturiert und übersichtlich in einem Poster darzustellen, sondern
								gleichzeitig eine möglichst spannende und visuell ansprechende Visualisierung
								vorzunehmen. COVID-19 strukturiert und übersichtlich in einem Poster darzustellen,
								sondern gleichzeitig eine möglichst spannende und visuell ansprechende
								Visualisierung vorzunehmen.
							</p>
							<p>
								Aufgrund der breiten Verfügbarkeit von Fall-, sowie Todeszahlen wählte ich den
								Vergleich verschiedener Nationen als spezialisiertes Thema.
							</p>
						</svelte:fragment>
						<svelte:fragment slot="en">
							<p>
								The goal of this exercise in "Design 2" was not only to present data regarding
								COVID-19 in a structured and clear way on a poster, but also to create a
								visualization that is as exciting and visually appealing as possible. COVID-19 in a
								structured and clear way on a poster, but also to create a visualization that is as
								exciting and visually appealing as possible.
							</p>
							<p>
								Due to the wide availability of case and death figures, I chose the comparison of
								different nations as a specialized topic.
							</p>
						</svelte:fragment>
					</Translator>
					<ToolsList tools={['Python', 'Illustrator']} />

					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<picture class="block">
						<source
							srcset="assets/images/webp/Skizze_Visualisierung_cutout.webp"
							type="image/webp"
						/>
						<source
							srcset="assets/images/webp/Skizze_Visualisierung_cutout.webp"
							type="image/webp"
						/>
						<img
							on:click={handleImageInteraction}
							on:keydown|preventDefault={handleImageInteraction}
							role="dialog"
							tabindex="0"
							class="rounded-2xl max-w-full cursor-pointer"
							src="assets/images/Skizze_Visualisierung_cutout.jpg"
							alt={$langCurrent == 'de'
								? 'Skizzen der COVID-19 Graphen'
								: 'Sketches of the COVID-19 graphs'}
						/>
					</picture>
				</div>
				<div class="lg:w-1/2 flex-1 flex justify-center items-center fade-in">
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<picture class="block">
						<source srcset="assets/images/webp/datenvisualisierung_covid.webp" type="image/webp" />
						<img
							on:click={handleImageInteraction}
							on:keydown|preventDefault={handleImageInteraction}
							role="dialog"
							tabindex="0"
							class="rounded-2xl max-w-full cursor-pointer"
							src="assets/images/datenvisualisierung_covid.png"
							alt={$langCurrent == 'de'
								? 'Das fertoge COVID-19 Informationsposter mit Graphen'
								: 'The final COVID-19 information graphs poster'}
						/>
					</picture>
				</div>
			</article>
		</section>
		<!-- END SECTION DATAVIZ-->

		<section class="space-y-32 pt-24">
			<SectionHeader id="corporatedesign">
				<h2 slot="title" class="h2 uppercase slot-title">Corporate Design</h2>
				<CorporatedesignIcon slot="icon" {strokeColor} />
			</SectionHeader>

			<article class="flex flex-col md:flex-row gap-12">
				<div class="lg:w-1/2 place-self-end flex-1 space-y-6 fade-in">
					<Translator>
						<svelte:fragment slot="de">
							<header class="flex flex-col-reverse md:flex-row md:items-center gap-4">
								<h3 class="h3">O-T(h)öne</h3>
								<span class="m-badge mb-1">Privat</span>
							</header>
						</svelte:fragment>
						<svelte:fragment slot="en">
							<header class="flex flex-col-reverse md:flex-row md:items-center gap-4">
								<h3 class="h3">O-T(h)öne</h3>
								<span class="m-badge mb-1">Personal</span>
							</header>
						</svelte:fragment>
					</Translator>
					<Translator>
						<p slot="de">
							Die Gestaltung der Geschäftsausstattung meines Vaters war die Ideale Gelegenheit
							bisher erlernte Fähigkeiten an einem praktischen Fall anzuwenden. Es galt hier ein
							komplettes CD zu erstellen und die erforderlichen Elemente entsprechend zu gestalten.
						</p>
						<p slot="en">
							The design of my father's business stationery was the ideal opportunity to apply
							previously learned skills to a practical case. The task was to create a complete CD
							and to design the necessary elements accordingly.
						</p>
					</Translator>

					<ToolsList tools={['Illustrator']} />

					<div
						class="flex flex-wrap gap-8 w-full items-center justify-around bg-white rounded-2xl p-8"
					>
						<img
							class="max-w-full"
							src="assets/images/o-thoene-06.svg"
							alt={$langCurrent == 'de' ? 'Logo von O-T(h)öne' : 'Logo of O-T(h)öne'}
						/>
						<img
							class="max-w-full"
							src="assets/images/o-thoene-07.svg"
							alt={$langCurrent == 'de'
								? 'Teile von Buchstaben, die das Logo aufbauen'
								: 'Letter fragments that make up the logo'}
						/>
						<img
							class="max-w-full h-[70px]"
							src="assets/images/o-thoene-08.svg"
							alt={$langCurrent == 'de'
								? 'Logo von O-T(h)öne mit Schriftzug'
								: 'Logo of O-T(h)öne with Text'}
						/>
					</div>
				</div>
				<div class="lg:w-1/2 flex-1 flex justify-center items-center fade-in">
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<picture class="block">
						<source srcset="assets/images/webp/o-thoene_cards.webp" type="image/webp" />
						<img
							on:click={handleImageInteraction}
							on:keydown|preventDefault={handleImageInteraction}
							role="dialog"
							tabindex="0"
							class="rounded-2xl max-w-full cursor-pointer"
							src="assets/images/o-thoene_cards.png"
							alt={$langCurrent == 'de'
								? 'Mockup der Geschäftsausstattung'
								: 'Mockup of the business stationery'}
						/>
					</picture>
				</div>
			</article>
		</section>
		<!-- END SECTION CORPORATE DESIGN -->

		<section class="space-y-32 pt-24">
			<SectionHeader id="entwicklung">
				<h2 slot="title" class="h2 uppercase slot-title">
					<Translator>
						<span slot="de">Entwicklung</span>
						<span slot="en">Development</span>
					</Translator>
				</h2>
				<DevelopmentIcon slot="icon" {strokeColor} />
			</SectionHeader>

			<article>
				<div class="flex flex-col lg:flex-row gap-12">
					<div class="lg:w-1/2 place-self-center flex-1 space-y-6 fade-in">
						<header class="w-full flex-col gap-4">
							<Translator>
								<svelte:fragment slot="de">
									<span class="m-badge mb-4">Studium </span>
									<h3 class="h3">Notizen App</h3>
									<p class="text-lg font-light">Google Keep Klon</p>
								</svelte:fragment>
								<svelte:fragment slot="en">
									<span class="m-badge mb-4">Study </span>
									<h3 class="h3">Note App</h3>
									<p class="text-lg font-light">Google Keep Clone</p>
								</svelte:fragment>
							</Translator>
						</header>
						<Translator>
							<svelte:fragment slot="de">
								<div class="space-y-6">
									<p>
										Für das Wahlfach zur Einführung in die Android-Entwicklung entwickelte unsere
										Gruppe einen Klon von Googles Notizen-App <a
											class="link"
											href="https://play.google.com/store/apps/details?id=com.google.android.keep"
											target="_blank">Keep</a
										>.
									</p>
									<p>
										Ein besonderes Merkmal war, dass die Notizen in einer verschlüsselten Datenbank
										gespeichert wurden. Die App war durch einen Login geschützt. Dabei war sowohl
										die Anmeldung über Google Auth, als auch über einen lokalen Account möglich.
									</p>
									<p>Meine Aufgaben dieser Gruppenarbeit umfassten</p>
									<dl class="list-dl">
										<div>
											<span><Fa icon={faPenNib} /></span>
											<span class="flex-auto">
												<dt class="font-semibold">UX-Prototyp</dt>
											</span>
										</div>
										<div>
											<span><Fa icon={faPenToSquare} /></span>
											<span class="flex-auto">
												<dt class="font-semibold">Notiz-Bearbeitung</dt>
												<dd>Activities, Fragments & Viewmodel</dd>
											</span>
										</div>
										<div>
											<span><Fa icon={faEye} /></span>
											<span class="flex-auto">
												<dt class="font-semibold">Viewmodel</dt>
												<dd>Übersicht, Tag-Bearbeitung, Konto & Einstellungen</dd>
											</span>
										</div>
									</dl>
								</div>
							</svelte:fragment>
							<svelte:fragment slot="en">
								<div class="space-y-6">
									<p>
										For the elective introduction to Android development, our group developed a
										clone of Google's note-taking app <a
											class="link"
											href="https://play.google.com/store/apps/details?id=com.google.android.keep"
											target="_blank">Keep</a
										>.
									</p>
									<p>
										A special feature was that the notes were stored in an encrypted database. The
										app was protected by a login. It was possible to log in via Google Auth as well
										as via a local account. A special feature was that the notes were stored in an
										encrypted database. The app was protected by a login. It was possible to log in
										via Google Auth as well as via a local account.
									</p>
									<p>My tasks in this group work included</p>
									<dl class="list-dl">
										<div>
											<span><Fa icon={faPenNib} /></span>
											<span class="flex-auto">
												<dt class="font-semibold">UX-Prototype</dt>
											</span>
										</div>
										<div>
											<span><Fa icon={faPenToSquare} /></span>
											<span class="flex-auto">
												<dt class="font-semibold">Note editing</dt>
												<dd>Activities, Fragments & Viewmodel</dd>
											</span>
										</div>
										<div>
											<span><Fa icon={faEye} /></span>
											<span class="flex-auto">
												<dt class="font-semibold">ViewModel</dt>
												<dd>Overview, Tag Editing, Account & Settings</dd>
											</span>
										</div>
									</dl>
								</div>
							</svelte:fragment>
						</Translator>
						<a
							class="btn flex flex-row gap-2 my-116 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
							target="_blank"
							href="https://gitlab.com/portfolio3171834/google-keep-clone-vhb"
							>Source-Code<Fa icon={faCode} /></a
						>
						<ToolsList tools={['Adobe XD', 'Android Studio', 'Java', 'git', 'GitHub']} />
					</div>
					<div class="lg:w-1/2 max-h-full flex-1 flex justify-center items-center fade-in">
						<video
							class="rounded-2xl w-full !max-h-[80vh]"
							poster="assets\video\notizapp_thumbnail.jpg"
							controls
						>
							<source src="assets\video\Notiz_app_clone-v2-s.mp4" type="video/mp4" />
							<track
								label="German"
								kind="captions"
								srclang="de"
								src="assets\video\caption_de-Notiz_app_clone-v2-s.vtt"
							/>
							{#if $langCurrent !== 'de'}
								<track
									label="English"
									kind="captions"
									srclang="en"
									src="assets\video\caption_en-Notiz_app_clone_v2-s.vtt"
									default
								/>
							{:else}
								<track
									label="English"
									kind="captions"
									srclang="en"
									src="assets\video\caption_en-Notiz_app_clone_v2-s.vtt"
								/>
							{/if}
						</video>
					</div>
				</div>
				<ArticleMeta
					cssClass="w-full mt-12"
					groupMembers={[
						{ name: 'Amin Yacine', url: 'https://www.linkedin.com/in/florian-pusch-bb35761b2/' },
						{ name: 'Marco Wenger' },
						{ name: 'Christoph Euskirchen' }
					]}
				/>
			</article>

			<article class="flex flex-col lg:flex-row gap-12">
				<div class="lg:w-1/2 place-self-end flex-1 space-y-6 fade-in">
					<header class="flex-col gap-4">
						<Translator>
							<svelte:fragment slot="de">
								<span class="m-badge mb-4">Privat</span>
								<h3 class="h3">
									<span class="h3 gradient-syntax-methods mr-1">return</span>
									<span class="h3 gradient-syntax-regular mr-1">this</span>
									<span class="h3 gradient-syntax-methods mr-1">as</span>
									<span class="h3 gradient-syntax-structure mr-1">SvelteProject</span>
								</h3>
								<p class="text-lg font-light">Portfolio Webseite</p>
							</svelte:fragment>
							<svelte:fragment slot="en">
								<span class="m-badge mb-4">Personal</span>
								<h3 class="h3">
									<span class="h3 gradient-syntax-methods mr-1">return</span>
									<span class="h3 gradient-syntax-regular mr-1">this</span>
									<span class="h3 gradient-syntax-methods mr-1">as</span>
									<span class="h3 gradient-syntax-structure mr-1">SvelteProject</span>
								</h3>
								<p class="text-lg font-light">Portfolio Website</p>
							</svelte:fragment>
						</Translator>
					</header>
					<Translator>
						<p slot="de">
							Angesichts meiner bisherigen Erfahrungen in der Webentwicklung, insbesondere im
							Kontext des CMS <a class="link" href="https://contao.org/" target="_blank">Contao</a>,
							lag der Schwerpunkt hauptsächlich auf reinem HTML, (S)CSS, JavaScript und PHP. Mit
							Blick auf die Weiterentwicklung meiner Kenntnisse sollte das Portfolio jedoch ein
							tieferer Einblick in die Welt der JavaScript-basierten Webframeworks sein. Aufgrund
							meines bereits erworbenen Verständnisses in der Verwendung von
							<a class="link" href="https://svelte.dev/" target="_blank">Svelte</a> zur schnellen Erstellung
							und Prüfung von wireframeartigen UX-Prototypen bot es sich an, dieses Wissen für die Ausarbeitung
							meiner Portfolio-Seite zu nutzen.
						</p>
						<p slot="en">
							Given my previous experiences in web development, particularly in the context of the
							<a class="link" href="https://contao.org/" target="_blank">Contao</a> CMS, the
							emphasis has mainly been on pure HTML, (S)CSS, JavaScript, and PHP. However, in
							pursuit of advancing my skills, my portfolio should provide a deeper insight into the
							realm of JavaScript-based web frameworks. Leveraging my already acquired insights in
							utilizing <a class="link" href="https://svelte.dev/" target="_blank">Svelte</a> for the
							rapid creation and testing of wireframe-style UX prototypes, it was a natural choice to
							employ this knowledge for the elaboration of my portfolio page.
						</p>
					</Translator>

					<a
						class="btn flex flex-row gap-2 my-8 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
						target="_blank"
						href="https://gitlab.com/portfolio3171834/portfolio-site"
						>Source-Code<Fa icon={faCode} /></a
					>

					<ToolsList tools={['VSCode', 'git', 'TypeScript', 'Svelte', 'Skeleton', 'tailwindcss']} />
				</div>
				<div class="lg:w-1/2 flex-1 flex justify-center items-center fade-in">
					<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
					<picture class="block">
						<source
							srcset={$modeCurrent
								? '/assets/images/webp/portfolio_code_light.webp'
								: '/assets/images/webp/portfolio_code_dark.webp'}
							type="image/webp"
						/>
						<img
							on:click={handleImageInteraction}
							on:keydown|preventDefault={handleImageInteraction}
							role="dialog"
							tabindex="0"
							class="rounded-2xl max-w-full cursor-pointer"
							src={$modeCurrent
								? '/assets/images/portfolio_code_light.png'
								: '/assets/images/portfolio_code_dark.png'}
							alt={$langCurrent == 'de'
								? 'Screenshot vom Code der Webseite'
								: 'Screenshot of website code'}
						/>
					</picture>
				</div>
			</article>
		</section>
		<!-- END SECTION DEVELOPMENT -->

		<section class="space-y-32 pt-24">
			<SectionHeader id="forschung">
				<h2 slot="title" class="h2 uppercase slot-title">
					<Translator>
						<span slot="de">Forschung</span>
						<span slot="en">Research</span>
					</Translator>
				</h2>
				<ResearchIcon slot="icon" {strokeColor} />
			</SectionHeader>

			<article class="flex flex-col gap-12">
				<div class="place-self-center space-y-6 fade-in">
					<header class="w-full">
						<Translator>
							<svelte:fragment slot="de">
								<span class="m-badge mb-4">Studium</span>
								<h3 class="h3">
									Erklärungsfähigkeit von hochgradig automatisiertem Fahrverhalten in Parkszenarien
								</h3>
							</svelte:fragment>
							<svelte:fragment slot="en">
								<span class="m-badge mb-4">Study</span>
								<h3 class="h3">
									Explainability of Highly Automated Driving Behavior in Parking Scenarios
								</h3>
							</svelte:fragment>
						</Translator>
					</header>
					<picture class="block">
						<source srcset="assets/images/webp/teaser_automated_driving.webp" type="image/webp" />
						<img
							class="rounded-2xl max-w-full min-h-[200px] object-cover"
							src="assets/images/teaser_automated_driving.jpg"
							alt={$langCurrent == 'de' ? 'Testsetup im Labor' : 'Testing setup in the laboratory'}
						/>
					</picture>
					<Translator>
						<svelte:fragment slot="de">
							<p class="lg:columns-2 gap-8">
								Während Parkmanövern in vollautomatisierten Fahrzeugen haben Passagiere nahezu keine
								direkte Kontrolle über das Parkverhalten und die Entscheidungen im Parkprozess.
								Dieser neue Ansatz kann sich negativ auf das Nutzererlebnis auswirken. Wir haben
								mithilfe eines Fahrsimulators, bei dem die Fahrerfahrung durch virtuelle Elemente im
								direkten Sichtfeld des Fahrers und einem Fahrzeugdisplay bereichert wurde,
								untersucht, ob die visuelle Darstellung und Erklärung des Fahrverhaltens und der
								Entscheidungsfindung des Fahrzeugs zu einer höheren Erklärbarkeit und einem besseren
								Nutzererlebnis führen. Die Auswertung des <a
									href="https://www.researchgate.net/publication/353288593_Subjective_Information_Processing_Awareness_Scale_SIPAS"
									target="_blank"
									class="link">SIPA</a
								>-Fragebogens zeigte, dass die Erklärbarkeit signifikant zunahm, sobald
								Informationen über das Head-Up-Display (HUD) oder das In-Car-Display angezeigt
								wurden. Die gleiche signifikante Steigerung wurde mit dem
								<a
									href="https://www.researchgate.net/publication/319863058_Design_and_Evaluation_of_a_Short_Version_of_the_User_Experience_Questionnaire_UEQ-S"
									target="_blank"
									class="link">UEQ-S</a
								>-Fragebogen für das Nutzererlebnis gemessen. Nutzererlebnis führen. Die Auswertung
								des
								<a
									href="https://www.researchgate.net/publication/353288593_Subjective_Information_Processing_Awareness_Scale_SIPAS"
									target="_blank"
									class="link">SIPA</a
								>-Fragebogens zeigte, dass die Erklärbarkeit signifikant zunahm, sobald
								Informationen über das Head-Up-Display (HUD) oder das In-Car-Display angezeigt
								wurden. Die gleiche signifikante Steigerung wurde mit dem
								<a
									href="https://www.researchgate.net/publication/319863058_Design_and_Evaluation_of_a_Short_Version_of_the_User_Experience_Questionnaire_UEQ-S"
									target="_blank"
									class="link">UEQ-S</a
								>-Fragebogen für das Nutzererlebnis gemessen.
							</p>

							<IconTextCard icon={faBullhorn} class="my-8">
								<h4 class="h4">Veröffentlicht in</h4>
								<p>
									<a class="link" href="https://doi.org/10.1145/3626705.3627796" target="_blank"
										><i
											>Explainability in Automated Parking: The Effect of Augmented Reality
											Visualizations on User Experience and Situation Awareness</i
										></a
									>
								</p>
							</IconTextCard>

							<a
								class="btn flex flex-row gap-2 my-8 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
								href="/explainability-automated-parking">Mehr erfahren<Fa icon={faArrowRight} /></a
							>
						</svelte:fragment>
						<svelte:fragment slot="en">
							<p class="lg:columns-2 gap-8">
								During parking maneuvers in fully automated vehicles, passengers have almost no
								direct control over parking behavior and decisions in the parking process. This
								novel approach can have a negative impact on the user experience. Using a driving
								simulator in which the driving experience was enriched by virtual elements in the
								driver's direct field of view and an in-vehicle display, we investigated whether the
								visual representation and explanation of the vehicle's driving behavior and
								decision-making lead to greater explainability and a better user experience. The
								evaluation of the <a
									href="https://www.researchgate.net/publication/353288593_Subjective_Information_Processing_Awareness_Scale_SIPAS"
									target="_blank"
									class="link">SIPA</a
								>
								questionnaire showed that explainability was significantly increased as soon as information
								was displayed via the HUD or the in-car display. The same significant increase was measured
								using the questionnaire showed that explainability was significantly increased as soon
								as information was displayed via the HUD or the in-car display. The same significant
								increase was measured using the
								<a
									href="https://www.researchgate.net/publication/319863058_Design_and_Evaluation_of_a_Short_Version_of_the_User_Experience_Questionnaire_UEQ-S"
									target="_blank"
									class="link">UEQ-S</a
								> questionnaire for user experience.
							</p>

							<IconTextCard icon={faBullhorn} class="my-8">
								<h4 class="h4">Publicized in</h4>
								<p>
									<a class="link" href="https://doi.org/10.1145/3626705.3627796" target="_blank"
										><i
											>Explainability in Automated Parking: The Effect of Augmented Reality
											Visualizations on User Experience and Situation Awareness</i
										></a
									>
								</p>
							</IconTextCard>
							<a
								class="btn flex flex-row gap-2 my-8 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
								href="/explainability-automated-parking">Read more<Fa icon={faArrowRight} /></a
							>
						</svelte:fragment>
					</Translator>
					<ToolsList tools={['Adobe XD', 'After Effects', 'Photoshop', 'JASP', 'Latex']} />
				</div>

				<ArticleMeta
					cssClass={'w-full'}
					groupMembers={[
						{ name: 'Florian Pusch', url: 'https://www.linkedin.com/in/florian-pusch-bb35761b2/' },
						{ name: 'Marco Wenger' }
					]}
				/>
			</article>

			<article class="flex flex-col gap-12">
				<div class="place-self-center space-y-6 fade-in">
					<header class="w-full">
						<Translator>
							<svelte:fragment slot="de">
								<span class="m-badge mb-4">Studium</span>
								<h3 class="h3">Bachelor Thesis</h3>
								<p class="text-lg font-light">
									Digitaler Arbeitsschutz auf Mobilgeräten &ndash; Konzeption eines Interfaces
									basierend auf einer bestehenden Webanwendung
								</p>
								<p class="m-badge-secondary mt-2">Note: 1.0</p>
							</svelte:fragment>
							<svelte:fragment slot="en">
								<span class="m-badge mb-4">Study</span>
								<h3 class="h3">Bachelor Thesis</h3>
								<p class="text-lg font-light">
									Digital workplace safety on mobile devices &ndash; conception of an interface
									based on an existing web application
								</p>
								<p class="m-badge-secondary mt-2">Grade: 1.0</p>
							</svelte:fragment>
						</Translator>
					</header>
					<Translator>
						<svelte:fragment slot="de">
							<p class="lg:columns-2 gap-8">
								Die Arbeit beschäftigt sich mit der Ausarbeitung eines Dienstes für eine mobile
								Applikation, basierend auf einer bestehenden Webanwendung. Dabei wird die
								Vergleichbarkeit von internen und externen Befragungsteilnehmern sowie die
								Anforderungsanalyse, Ausarbeitung und Evaluation eines Prototyps behandelt. Im Zuge
								der Ausarbeitung wurden Anforderungen definiert, eine Informationsarchitektur
								entwickelt und getestet und zu einem High Fidelity Prototyp weiterentwickelt. Anhand
								der Vorbildsoftware wurden die Bewertungen zwischen Mitarbeitern und externen
								Nutzern verglichen. Es konnten Effekte, die eine bessere Bewertung durch Mitarbeiter
								andeuten, nachgewiesen werden, jedoch keine statistische Signifikanz. Anhand einer
								Benutzerstudie mit offenem Feedback und Fragebögen zur User Experience und
								Systemgebrauchstauglichkeit wurde das erarbeitete Konzept evaluiert und mit der
								Referenzsoftware verglichen. Die Ergebnisse zeigten keine statistisch signifikanten
								Unterschiede in der Bewertung der untersuchten Bereiche. Das offene Feedback deutet
								auf Nutzerpräferenzen für eine flachere Informationsarchitektur und
								Anpassungsmöglichkeiten hin. Die Beibehaltung etablierter Konventionen bei der
								Adaption bestehender Applikationen und ein kurzes Onboarding bei abgeänderten
								Bereichen werden empfohlen.
							</p>
							<a
								class="btn flex flex-row gap-2 my-8 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
								href="./bachelor-thesis">Mehr erfahren<Fa icon={faArrowRight} /></a
							>
						</svelte:fragment>
						<svelte:fragment slot="en">
							<p class="lg:columns-2 gap-8">
								The paper deals with the development of a service for a mobile application, based on
								an existing web application. This includes the comparison of internal and external
								survey participants, as well as the requirement analysis, elaboration, and
								evaluation of a prototype. In the course of the elaboration, requirements were
								defined, an information architecture was developed, tested, and evolved into a
								high-fidelity prototype. Using the reference software, evaluations were compared
								between employees and external users. Effects suggesting better ratings by employees
								were observed, but without statistical significance. Through a user study involving
								open feedback and questionnaires regarding user experience and system usability, the
								developed concept was evaluated and compared with the reference software. The
								results did not show statistically significant differences in the evaluation of the
								examined areas. Open feedback suggests user preferences for a flatter information
								architecture and customization options. Maintaining established conventions during
								the adaptation of existing applications and providing a brief onboarding for
								modified areas is recommended.
							</p>
							<a
								class="btn flex flex-row gap-2 my-8 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
								href="./bachelor-thesis">Read more<Fa icon={faArrowRight} /></a
							>
						</svelte:fragment>
					</Translator>
					<ToolsList tools={['Adobe XD', 'After Effects', 'Photoshop', 'JASP', 'Latex']} />
				</div>
			</article>
		</section>

</div>
