<script lang="ts">
	import DetailPage from '$lib/detail_page.svelte';
	import Translator from '$lib/LanguageSwitch/Translator.svelte';
	import Imprint from '$lib/imprint.svelte';
</script>

<Translator>
	<svelte:fragment slot="de">
		<DetailPage pageTitle="Impressum">
			<section>
				<h1 class="h1">Impressum</h1>
				<h2 class="h2">Kontakt</h2>
				<Imprint height="4rem" />
			</section>

			<section>
				<h2 class="h2">Haftungsbeschränkung</h2>
				<p>
					Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Der Anbieter
					übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der
					bereitgestellten Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr
					des Nutzers. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors
					und nicht immer die Meinung des Anbieters wieder. Mit der reinen Nutzung der Website des
					Anbieters kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter
					zustande.
				</p>
			</section>

			<section>
				<h2 class="h2">Externe Links</h2>
				<p>
					Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites
					unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen
					Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige
					Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der
					Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die
					Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich
					der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine
					ständige Kontrolle der externen Links ist für den Anbieter ohne konkrete Hinweise auf
					Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige
					externe Links unverzüglich gelöscht. Urheber- und Leistungsschutzrechte Die auf dieser
					Website veröffentlichten Inhalte unterliegen dem deutschen
				</p>
			</section>

			<section>
				<h2 class="h2">Urheber- und Leistungsschutzrecht.</h2>
				<p>
					Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf
					der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies
					gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung,
					Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen
					Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die
					unerlaubte Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist
					nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und Downloads für den
					persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt.
				</p>
				<p>
					Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis
					zulässig.
				</p>
			</section>
		</DetailPage>
	</svelte:fragment>
	<svelte:fragment slot="en">
		<DetailPage pageTitle="Imprint">
			<section>
				<h1 class="h1">Imprint</h1>
				<h2 class="h2">Contact</h2>
				<Imprint height="4rem" />
			</section>

			<section>
				<h2 class="h2">Limitation of Liability</h2>
				<p>
					The content of this website is created with the utmost care. However, the provider does
					not guarantee the accuracy, completeness, and timeliness of the provided content. The use
					of the content on the website is at the user's own risk. Specifically marked contributions
					reflect the opinion of the respective author and not necessarily the opinion of the
					provider. Merely using the provider's website does not establish any contractual
					relationship between the user and the provider.
				</p>
			</section>

			<section>
				<h2 class="h2">External Links</h2>
				<p>
					This website contains links to third-party websites ("external links"). These websites are
					the responsibility of their respective operators. The provider reviewed the foreign
					content for any legal violations when initially linking the external links. At that time,
					no legal violations were apparent. The provider has no influence on the current and future
					design and content of the linked pages. The inclusion of external links does not imply
					that the provider adopts the content behind the reference or link. Continuous monitoring
					of external links is not reasonable for the provider without specific indications of legal
					violations. However, in case of knowledge of legal violations, such external links will be
					deleted promptly. Copyright and Performance Rights: The content published on this website
					is subject to German law.
				</p>
			</section>

			<section>
				<h2 class="h2">Copyright and Performance Rights</h2>
				<p>
					Any utilization not permitted by German copyright and performance rights requires the
					prior written consent of the provider or the respective rights holder. This applies
					particularly to reproduction, editing, translation, storage, processing, or reproduction
					of content in databases or other electronic media and systems. Third-party content and
					rights are indicated as such. Unauthorized reproduction or distribution of individual
					content or complete pages is not permitted and is punishable by law. Only the creation of
					copies and downloads for personal, private, and non-commercial use is allowed.
				</p>
				<p>Displaying this website in external frames is only permitted with written permission.</p>
			</section>
		</DetailPage>
	</svelte:fragment>
</Translator>
