<script lang="ts">
	import { onMount } from 'svelte';
	import { modeCurrent } from '@skeletonlabs/skeleton';
	import {
		supportedLanguages,
		langCurrent,
		setLangUserPrefers,
		setLangCurrent,
		setInitialLangState,
		getLangOsPrefers
	} from './languageswitch';

	export let bgLight = 'bg-surface-50';
	export let bgDark = 'bg-surface-900';
	export let width = 'w-fit';
	export let height = 'h-fit';
	export let ring = 'ring-[1px] ring-surface-500/30';
	export let rounded = 'rounded-token';
	const cTrack = 'cursor-pointer';

	$: trackBg = $modeCurrent === true ? bgLight : bgDark;
	$: classesTrack = `${cTrack} ${width} ${height} ${ring} ${rounded} ${trackBg} ${
		$$props.class ?? ''
	}`;

	onMount(() => {
		if (!('langCurrent' in localStorage)) {
			setLangCurrent(getLangOsPrefers());
		}
	});

	function onChangeHandler() {
		$langCurrent = $langCurrent;
		setLangCurrent($langCurrent);
		setLangUserPrefers($langCurrent);
	}
</script>

<svelte:head>
	{@html `<\u{73}cript nonce="%sveltekit.nonce%">(${setInitialLangState.toString()})();</script>`}
</svelte:head>

<select
	bind:value={$langCurrent}
	on:change={onChangeHandler}
	class="py-1 px-4 {classesTrack}"
	aria-label="Language Switch"
	role="menu"
	tabindex="0"
>
	{#each [...supportedLanguages.entries()].sort() as [value, text]}
		<option {value}>{text}</option>
	{/each}
</select>

<style>
	select {
		text-align: center;
		text-align-last: center;
		-moz-text-align-last: center;
	}
</style>
