<script lang="ts">
	import { fade } from 'svelte/transition';
	import { quadIn } from 'svelte/easing';
	import { langCurrent} from './languageswitch';

	export const fadeDuration = 300;
</script>


{#if $langCurrent === 'de'}
	<div in:fade={{ duration: fadeDuration, easing: quadIn }} class="language-content">
		<slot name="de" />
	</div>
{:else if $langCurrent === 'en'}
	<div in:fade={{ duration: fadeDuration, easing: quadIn }} class="language-content">
		<slot name="en" />
	</div>
{/if}

