<script lang="ts">
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faInfo, faFilePdf } from '@fortawesome/free-solid-svg-icons';
	import type { CitationSource } from '$lib/Bibliography/bibliography';
	import { library } from '$lib/Bibliography/bibliography';
	import Cite from '$lib/Bibliography/Citation.svelte';
	import Bibliography from '$lib/Bibliography/Bibliography.svelte';
	import DetailPage from '$lib/detail_page.svelte';
	import { langCurrent } from '$lib/LanguageSwitch/languageswitch';
	import Translator from '$lib/LanguageSwitch/Translator.svelte';
	import { onDestroy } from 'svelte';
	import ArticleMeta from '$lib/article_meta.svelte';

	onDestroy(() => {
		library.destroy();
	});



	const sources: CitationSource = {
		jian_foundations:
			'Jiun-Yin Jian, Ann M. Bisantz, and Colin G. Drury. 2000. Foundations for an Empirically Determined Scale of Trust in Automated Systems. International Journal of Cognitive Ergonomics 4, 1 (2000), 53–71. https://doi.org/10.1207/S15327566IJCE0401_04 arXiv:https://doi.org/10.1207/S15327566IJCE0401_04',
		parasuraman_trust:
			'Raja Parasuraman and Christopher A. Miller. 2004. Trust and Etiquette in High-Criticality Automated Systems. Commun. ACM 47, 4 (apr 2004), 51–55. https://doi.org/10.1145/975817.975844',
		trust_your_car:
			'Kornélia Lazányi. 2016. Do you trust your car?. In 2016 IEEE 17th International Symposium on Computational Intelligence and Informatics (CINTI). 000309–000314. https://doi.org/10.1109/CINTI.2016.7846424',
		towards_autonomous_cars:
			'Christina Rödel, Susanne Stadler, Alexander Meschtscherjakov, and Manfred Tscheligi. 2014. Towards Autonomous Cars: The Effect of Autonomy Levels on Acceptance and User Experience. In Proceedings of the 6th International Conference on Automotive User Interfaces and Interactive Vehicular Applications (Seattle, WA, USA) (AutomotiveUI ’14). Association for Computing Machinery, New York, NY, USA, 1–8. https://doi.org/10.1145/2667317.2667330',
		J3016_202104:
			'On-Road Automated Driving (ORAD) committee. 2021. Taxonomy and Definitions for Terms Related to Driving Automation Systems for On-Road Motor Vehicles. https://doi.org/10.4271/J3016_202104',
		kromker_passenger_2020:
			'Franziska Hartwich, Cornelia Schmidt, Daniela Gräfing, and Josef F. Krems. 2020. In the Passenger Seat: Differences in the Perception of Human vs. Automated Vehicle Control and Resulting HMI Demands of Users. In HCI in Mobility, Transport, and Automotive Systems. Automated Driving and In-Vehicle Experience Design, Heidi Krömker (Ed.). Vol. 12212. Springer International Publishing, Cham, 31–45. https://doi.org/10.1007/978-3-030-50523-3_3 Series Title: Lecture Notes in Computer Science.'
	};

	library.setSources(sources);
</script>

<div
	class="card bg-surface-10 dark:bg-surface-600 p-2 shadow-xl z-1 h-fit"
	data-popup="popupCitation"
>
<p class="max-h-32 w-56 md:w-72 block overflow-hidden whitespace-nowrap line-clamp-4 text-ellipsis">{$library?.hoverSource?.citation}</p>
</div>
<div
	class="card bg-surface-10 dark:bg-surface-600 p-2 w-fit shadow-xl z-1"
	data-popup="popupArticleMeta"
>
	<div>
		<Translator>
			<p slot="de">Co-Authoren</p>
			<p slot="en">Co-Authors</p>
		</Translator>
	</div>
</div>

<picture class="block">
	<source srcset="assets/images/webp/teaser_automated_driving.webp" type="image/webp" />
	<img
		class="w-full min-h-[200px] object-cover"
		src="assets/images/teaser_automated_driving.jpg"
		alt={$langCurrent == 'de' ? 'Testsetup im Labor' : 'Testing setup in the laboratory'}
	/>
</picture>

<Translator>
	<svelte:fragment slot="de">
		<DetailPage
			pageTitle="Erklärungsfähigkeit von hochgradig automatisiertem Fahrverhalten in Parkszenarien"
		>
			<article>
				<h1 class="h1">
					Erklärungsfähigkeit von hochgradig automatisiertem Fahrverhalten in Parkszenarien
				</h1>

				<ArticleMeta
					cssClass={'w-full mb-12'}
					groupMembers={[
						{ name: 'Florian Pusch', url: 'https://www.linkedin.com/in/florian-pusch-bb35761b2/' },
						{ name: 'Marco Wenger' }
					]}
				/>

				<div
					class="card px-8 py-5 rounded-2xl drop-shadow-xl variant-ghost-surface bg-surface-50/50"
				>
					<div class="flex flex-row">
						<div class="w-16 mr-8 flex justify-center items-center">
							<Fa size="2.5x" class="text-primary-500" icon={faInfo} />
						</div>
						<div class="space-y-2">
							<span class="h4">Hinweis</span>
							<p>
								Bei den hier präsentierten Texten handelt es sich nur um Ausschnitte des Papers.
							</p>
							<a
								href="/assets/documents/FWS_22__Parking.pdf"
								target="_blank"
								class="btn variant-outline-secondary hover:variant-filled-secondary"
							>
								<span>Gesamtes Paper</span>
								<span><Fa icon={faFilePdf} /></span>
							</a>
						</div>
					</div>
				</div>

				<h2 class="h2">Kurzfassung</h2>

				<p>
					Während Parkmanövern in voll automatisierten Fahrzeugen haben Passagiere nahezu keine
					direkte Kontrolle über das Parkverhalten und die Entscheidungen im Parkprozess. Dieser
					neue Ansatz kann sich negativ auf das Nutzererlebnis auswirken. Wir haben mithilfe eines
					Fahrsimulators, bei dem die Fahrerfahrung durch virtuelle Elemente im direkten Sichtfeld
					des Fahrers und einem Fahrzeugdisplay bereichert wurde, untersucht, ob die visuelle
					Darstellung und Erklärung des Fahrverhaltens und der Entscheidungsfindung des Fahrzeugs zu
					einer höheren Erklärbarkeit und einem besseren Nutzererlebnis führen. Die Auswertung des
					<a
						href="https://www.researchgate.net/publication/353288593_Subjective_Information_Processing_Awareness_Scale_SIPAS"
						target="_blank"
						class="link">SIPA</a
					>-Fragebogens zeigte, dass die Erklärbarkeit signifikant zunahm, sobald Informationen über
					das Head-Up-Display (HUD) oder das In-Car-Display angezeigt wurden. Die gleiche
					signifikante Steigerung wurde mit dem
					<a
						href="https://www.researchgate.net/publication/319863058_Design_and_Evaluation_of_a_Short_Version_of_the_User_Experience_Questionnaire_UEQ-S"
						target="_blank"
						class="link">UEQ-S</a
					>-Fragebogen für das Nutzererlebnis gemessen.
				</p>

				<h2 class="h2">Einleitung</h2>

				<p>
					Mit zunehmender technologischer Machbarkeit der Automatisierung in Fahrzeugen wird das
					Vertrauen in die Automatisierung zu einem wiederkehrenden Thema
					<Cite ref="jian_foundations" />
					<Cite ref="parasuraman_trust" />. Es gab mehrere Studien zu diesem Thema. In diesen
					Studien ging es darum, das Vertrauen in automatisierte Fahrzeuge zu messen und zu erhöhen <Cite
						ref="trust_your_car"
					/>. Es wurde auch gezeigt, dass eine erhöhte Automatisierung zu einer Verringerung der
					Nutzererfahrung während der Nutzung des automatisierten Fahrzeugs führen kann. Ohne
					direkte Kontrolle über das Auto kann die Nutzung autonomer Fahrzeuge zu höherer Skepsis
					gegenüber dem System führen. Das subjektive Wohlbefinden nimmt ab, was gleichzeitig die
					Gesamtnutzererfahrung verringert
					<Cite ref="towards_autonomous_cars" />.
				</p>

				<p>
					Da Fahrerinnen und Fahrer sowie Insassen ab der SAE-Klassifizierung Level 5
					<Cite ref="J3016_202104" /> praktisch keine Möglichkeit haben, in das Entscheidungssystem und
					das Fahrverhalten der Fahrzeuge einzugreifen, ist spätestens dann eine Lösung erforderlich,
					um die Nutzererfahrung aufrechtzuerhalten und den Fahrerinnen und Fahrern das notwendige Vertrauen
					dafür zu geben, warum das System welche Entscheidung getroffen hat. Der offensichtliche Ansatz
					besteht darin, die Handlungen und "Überlegungen" des Entscheidungssystems so greifbar und umfassend
					wie möglich darzustellen, damit die menschlichen Insassen die Handlungen des autonomen Fahrzeugs
					rechtzeitig genug beurteilen können <Cite ref="kromker_passenger_2020" />.
				</p>

				<h2 class="h2">Zusammenfassung</h2>

				<p>
					Der Hauptbeitrag dieser Arbeit ist eine erste Richtlinie zur Gestaltung von Erfahrungen im
					hochautomatisierten Parken, die die Bereiche Benutzererfahrung, erklärbare künstliche
					Intelligenz und autonomes Fahren zusammenführt. Die hier erwähnten Ergebnisse (<b
						>F<sub>1</sub></b
					>-<b>F<sub>2</sub></b> ) können für andere Forscher nützlich sein, um weiter zu untersuchen
					und spezialisiertere Studien zu diesem Thema zu erkunden.
				</p>

				<ul>
					<li class="list ml-4 my-4 flex flex-row gap-4">
						<b>F<sub>1</sub></b> Die Erklärung des Hintergrunds der Parkplatzsuche mit verständlichen
						Informationen erhöht die Erklärbarkeit für den Fahrer.
					</li>
					<li class="list ml-4 my-4 flex flex-row gap-4">
						<b>F<sub>2</sub></b> Die Bereitstellung nützlicher, gut organisierter und erklärter Informationen
						für Fahrer während der Suche nach und Nutzung eines Parkplatzes verbessert die gesamte Benutzererfahrung.
					</li>
				</ul>
				<p>
					Gemäß dem offenen Feedback wäre ein Informationssystem, wie es in dieser Studie getestet
					wurde, nicht nur für autonomes Fahren interessant, sondern könnte auch eine hilfreiche
					Unterstützung für SAE Level 1 (assistiertes Fahren) <Cite ref="J3016_202104" /> bei der Suche
					nach einem Parkplatz sein.
				</p>

				<h2 class="h2">Fazit & Ausblick</h2>

				<p>
					Mit diesem Artikel tragen wir eine erste Richtlinie für die Gestaltung von Erklärbarkeit
					und Benutzererfahrung in autonomen Fahrzeugen bei, insbesondere in Parkszenarien, indem
					wir die verschiedenen Bereiche der Benutzererfahrung (UX), erklärbarer Künstlicher
					Intelligenz (XAI) und autonomes Fahren kombinieren. Wir haben uns zum Ziel gesetzt, zu
					evaluieren, ob die Bereitstellung von Erklärungen zum Verhalten des Fahrzeugs in einem
					Parkszenario die Benutzererfahrung und die Erklärbarkeit verbessern würde. Da die meisten
					aktuellen hoch automatisierten Parksysteme die meiste Information visuell bereitstellen,
					schien es für diese Studie angemessen, sich ausschließlich auf visuelle Erklärungen zu
					konzentrieren. In späteren Studien könnte die Bereitstellung von Informationen über
					weitere Modalitäten untersucht werden. In solchen Studien sollte jedoch berücksichtigt
					werden, dass zusätzliche Informationen zu einer sensorischen Überlastung führen könnten.
					Frühzeitig im Studiendesign planten wir, verschiedene Erklärungsniveaus zu vergleichen.
					Aufgrund eines engen Zeitplans entschieden wir uns jedoch dafür, nur den Vergleich
					zwischen keiner Erklärung und der Bereitstellung von Erklärungen durchzuführen. In
					künftigen Studien könnte dies Raum für weitere Untersuchungen bieten. Da der verwendete
					Fahrsimulator nicht übermäßig immersiv war, war das Fahrszenario nicht sehr realistisch.
					Es könnte daher für weitere Studien von Vorteil sein, einen immersiveren Simulator zu
					verwenden oder die Szenarien in einem realen Fahrumfeld zu testen.
				</p>
				<p>
					In einem weiteren Stadium dieser Studie wäre das Ziel auch, das vermehrte offene Feedback
					zu berücksichtigen und die Mängel des aktuellen experimentellen Aufbaus zu beseitigen.
					Hierfür sollte die Kartenansicht des im Auto angezeigten Bildschirms erweitert werden.
					Insbesondere in Bezug auf die klare Markierung des tatsächlichen Ziels, um zu verhindern,
					dass Teilnehmende erneut das Vorbeifahren am eigentlichen Ziel nicht wahrnehmen.
				</p>
				<p>
					Ein weiterer Schritt wäre, den Umfang zu testen, in dem sich In-Car-Displays und
					Head-Up-Displays in Bezug auf die Erfassung der Aufmerksamkeit des Benutzers konkurrieren.
					Es könnte negative Auswirkungen haben, wenn Benutzer sich gezwungen fühlen, zwischen zwei
					verschiedenen Anzeigen hin und her zu wechseln. Die fokussierte Aufmerksamkeit könnte
					höher sein, wenn nur eine Anzeigemodalität vorhanden ist.
				</p>
				<p>
					Bei der Diskussion der Ergebnisse dieser Studie wurde unter anderem angemerkt, dass es
					möglicherweise intuitiver wäre, den direkten Weg, den das Fahrzeug nehmen wird, zu zeigen.
					Im Gegensatz zum aktuellen Set-up, bei dem nicht ausgewählte Parkplätze markiert sind,
					könnte nur die tatsächliche Route erklärt und angezeigt werden. In einem direkten
					Vergleich der beiden Systeme könnten die Benutzererfahrung und die Erklärbarkeit
					verglichen und entsprechend bewertet werden.
				</p>
				<p>
					In Kombination hierzu wäre es möglich, mit verschiedenen Erklärungsniveaus und
					Visualisierungen zu experimentieren. Es wäre auch möglich, ein System zu testen, bei dem
					die Benutzer selbst bestimmen, welches Informationsniveau präsentiert werden soll oder
					welche Art und welches Erklärungsniveau sie bevorzugen würden (siehe vorheriger Absatz).
				</p>

				<h2 class="h2">Danksagungen</h2>

				<p>
					Diese Arbeit wurde von Carina Manger und Claus Pfeilschifter unterstützt, die Beratung und
					Hilfe bei der Organisation, Planung und Durchführung bereitgestellt haben. Der physische
					Fahrsimulator wurde von der Technischen Universität Ingolstadt zur Verfügung gestellt.
				</p>

				<h2 class="h2">Literatursammlung</h2>

				<Bibliography cssClass="my-8" />
			</article>
		</DetailPage>
	</svelte:fragment>

	<svelte:fragment slot="en">
		<DetailPage
			pageTitle="Explainability of Highly Automated Driving Behavior in Parking Scenarios"
		>
			<article>
				<h1 class="h1">
					Explainability of Highly Automated Driving Behavior in Parking Scenarios
				</h1>

				<ArticleMeta
				cssClass={'w-full mb-12'}
				groupMembers={[
					{ name: 'Florian Pusch', url: 'https://www.linkedin.com/in/florian-pusch-bb35761b2/' },
					{ name: 'Marco Wenger' }
				]}
			/>

				<div
					class="card px-8 py-5 rounded-2xl drop-shadow-xl variant-ghost-surface bg-surface-50/50"
				>
					<div class="flex flex-row">
						<div class="w-16 mr-8 flex justify-center items-center">
							<Fa size="2.5x" class="text-primary-500" icon={faInfo} />
						</div>
						<div class="space-y-2">
							<span class="h4">Note</span>
							<p>The texts presented here are only excerpts from the paper.</p>
							<a
								href="/assets/documents/FWS_22__Parking.pdf"
								target="_blank"
								class="btn variant-outline-secondary hover:variant-filled-secondary"
							>
								<span>Gesamtes Paper</span>
								<span><Fa icon={faFilePdf} /></span>
							</a>
						</div>
					</div>
				</div>

				<h2 class="h2">Abstract</h2>
				<p>
					During parking maneuvers in fully automated vehicles, passengers have almost no direct
					control over parking behavior and decisions in the parking process. This novel approach
					can have a negative impact on the user experience. Using a driving simulator in which the
					driving experience was enriched by virtual elements in the driver's direct field of view
					and an in-vehicle display, we investigated whether the visual representation and
					explanation of the vehicle's driving behavior and decision-making lead to greater
					explainability and a better user experience. The evaluation of the <a
						href="https://www.researchgate.net/publication/353288593_Subjective_Information_Processing_Awareness_Scale_SIPAS"
						target="_blank"
						class="link">SIPA</a
					>
					questionnaire showed that explainability was significantly increased as soon as
					information was displayed via the HUD or the in-car display. The same significant increase
					was measured using the
					<a
						href="https://www.researchgate.net/publication/319863058_Design_and_Evaluation_of_a_Short_Version_of_the_User_Experience_Questionnaire_UEQ-S"
						target="_blank"
						class="link">UEQ-S</a
					> questionnaire for user experience.
				</p>

				<h2 class="h2">Introduction</h2>
				<p>
					As automation in vehicles becomes more and more technologically viable, trust in
					automation becomes a recurrent topic <Cite ref="jian_foundations" /><Cite
						ref="parasuraman_trust"
					/>. There have been multiple studies regarding this topic, in these studies the goal was
					to either measure trust in automated vehicles and to increase trust <Cite
						ref="trust_your_car"
					/>. It was also shown that increased automation can lead to a decrease in user experience
					during the usage of the automated vehicle. Without having direct control over the car, the
					use of autonomous vehicles can lead to increased skepticism towards the system. The
					subjective sense of well-being decreases, which at the same time reduces the overall user
					experience
					<Cite ref="towards_autonomous_cars" />. \newline Since drivers and passengers have almost
					no possibility to intervene in the decision-making system and the driving behavior of the
					vehicles, at the latest at level 5 SAE classification <Cite ref="J3016_202104" />, a way
					is needed to maintain the user experience and to give drivers the necessary confidence as
					to why the system has made which decision. The obvious approach is to present the actions
					and "considerations" of the decision-making system as tangibly and comprehensively as
					possible, so that the human occupants can assess the actions of the autonomous vehicle
					with sufficient lead time <Cite ref="kromker_passenger_2020" />.
				</p>

				<h2 class="h2">Summary</h2>
				<p>
					The main contribution of this paper is an initial guideline for designing experiences in
					highly automated parking that brings together the fields of User Experience, Explainable
					AI, and autonomous driving. The findings mentioned here (<b>F<sub>1</sub></b>-<b
						>F<sub>2</sub></b
					> ) can be useful for other researchers to investigate further and explore more specialized
					studies on this topic.
				</p>
				<ul>
					<li class="list ml-4 my-4 flex flex-row gap-4">
						<b>F<sub>1</sub></b> Explaining the background of the parking search with understandable
						information increases the explainability for the driver
					</li>
					<li class="list ml-4 my-4 flex flex-row gap-4">
						<b>F<sub>2</sub></b> Providing useful, well-organized and explained information to drivers
						while searching for and using a parking space improves the overall user experience.
					</li>
				</ul>
				<p>
					According to the open feedback, an information system, such as the one tested in this
					study, would not only be interesting for autonomous driving, but would also be a helpful
					support for SAE Level 1 (assisted driving) <Cite ref="J3016_202104" /> when looking for a parking
					space.
				</p>
				<h2 class="h2">Conclusion & Outlook</h2>
				<p>
					With this paper we contribute an initial guideline for Explainability and User Experience
					design within autonomous vehicles, specifically in parking scenarios, combining the
					different areas of UX, XAI and autonomous driving. We set out to evaluate if providing
					explanations of the vehicle's behavior around a parking scenario would improve the UX and
					explainability. As most current high level automation parking systems provide most of the
					information visually, for this study it seemed adequate to focus on visual explanations
					only. In later studies, providing information via further modalities could be
					investigated. The possibility that additional information might lead to a sensory overload
					should be considered in such studies. Early on in the study design, we planned to compare
					different levels of explanations, due to a tight schedule, we decided to only compare no
					explanations with providing explanations. This might provide another experimental setup in
					the future. As the used driving simulator was not overly immersive, the driving scenario
					was not very realistic. It could therefor be beneficial for further studies to use a more
					immersive simulator or to test the scenarios in a real live driving context. In a further
					stage of this study, the goal would also be to incorporate open feedback that became
					visible in greater numbers and to remove the flaws of the current experimental setup.
					First, the map view of the in-car display should be expanded for this purpose. Especially
					with regard to marking the actual destination more clearly to prevent participants from
					again failing to perceive driving past the actual destination. Another step would be to
					test the extent to which in-car and head-up displays rival each other when it comes to
					capturing the user's attention. It may have negative effects if users feel forced to jump
					back and forth between two different displays. Focused attention may be higher with only
					one display modality. When discussing the results of this study, one of the comments made
					was that it may be more intuitive to show the direct path that the vehicle will take.
					Unlike the current setup, where parking spaces that are not selected are marked, only the
					actual route could be explained and displayed there. In a direct comparison of the two
					systems, the user experience and explainability could be compared and evaluated
					accordingly. In combination with this, it would be possible to experiment with different
					levels of explanations and visualizations. It would also be possible to test a system in
					which users themselves determine what level of information they want to be presented or
					what type and level of explanation they would prefer (see the previous paragraph).
				</p>

				<h2 class="h2">Acknowledgement</h2>
				<p>
					This work was supported by Carina Manger and Claus Pfeilschifter, who provided advice and
					assistance in the organization, planning and implementation. The physical driving
					simulator was provided by the Technical University Ingolstadt.
				</p>

				<h2 class="h2">Literature</h2>
				<Bibliography cssClass="my-8" />
			</article>
		</DetailPage>
	</svelte:fragment>
</Translator>
