<script lang="ts">
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faInfo } from '@fortawesome/free-solid-svg-icons';
	import DetailPage from '$lib/detail_page.svelte';
	import Translator from '$lib/LanguageSwitch/Translator.svelte';
</script>

<DetailPage pageTitle="Bachelor Thesis">
	<article class="detail-page">
		<Translator>
			<svelte:fragment slot="de">
				<header class="subtitle">
					<h1 class="h1">Digitaler Arbeitsschutz auf Mobilgeräten</h1>
					<p class="text-2xl font-light">
						Konzeption eines Interfaces basierend auf einer bestehenden Webanwendung
					</p>
					<p class="m-badge-secondary mt-2">Note: 1.0</p>
				</header>

				<div
					class="card px-8 py-5 rounded-2xl drop-shadow-xl variant-ghost-surface bg-surface-50/50"
				>
					<div class="flex flex-row">
						<div class="w-16 mr-8 flex justify-center items-center">
							<Fa size="2.5x" class="text-primary-500" icon={faInfo} />
						</div>
						<div>
							<span class="h4">Hinweis</span>
							<p>
								Aufgrund einer Vertraulichkeitsvereinbarung bezüglich der Bachelorarbeit, handelt es
								sich bei den hier präsentierten Texten nur um Ausschnitte.
							</p>
						</div>
					</div>
				</div>

				<h2 class="h2">Kurzfassung</h2>

				<p>
					Die Arbeit beschäftigt sich mit der Ausarbeitung eines Dienstes für eine mobile
					Applikation, basierend auf einer bestehenden Webanwendung. Dabei wird die Vergleichbarkeit
					von internen und externen Befragungsteilnehmern sowie die Anforderungsanalyse,
					Ausarbeitung und Evaluation eines Prototyps behandelt. Im Zuge der Ausarbeitung wurden
					Anforderungen definiert, eine Informationsarchitektur entwickelt und getestet und zu einem
					High Fidelity Prototyp weiterentwickelt. Anhand der Vorbildsoftware wurden die Bewertungen
					zwischen Mitarbeitern und externen Nutzern verglichen. Es konnten Effekte, die eine
					bessere Bewertung durch Mitarbeiter andeuten, nachgewiesen werden, jedoch keine
					statistische Signifikanz. Anhand einer Benutzerstudie mit offenem Feedback und Fragebögen
					zur User Experience und Systemgebrauchstauglichkeit wurde das erarbeitete Konzept
					evaluiert und mit der Referenzsoftware verglichen. Die Ergebnisse zeigten keine
					statistisch signifikanten Unterschiede in der Bewertung der untersuchten Bereiche. Das
					offene Feedback deutet auf Nutzerpräferenzen für eine flachere Informationsarchitektur und
					Anpassungsmöglichkeiten hin. Die Beibehaltung etablierter Konventionen bei der Adaption
					bestehender Applikationen und ein kurzes Onboarding bei abgeänderten Bereichen werden
					empfohlen.
				</p>

				<h2 class="h2">Zusammenfassung</h2>

				<p>
					Diese Arbeit befasste sich mit der Ausarbeitung eines Interaktions- und Interface-Konzepts
					für den Dienst einer mobilen Applikation, basierend auf einer bestehenden Anwendung. Dabei
					standen besonders die Themen der Vergleichbarkeit von internen und externen
					Befragungsteilnehmern, der Anforderungsanalyse und Funktionseinschränkung, der
					Ausarbeitung und der Evaluation eines Prototyps im Vordergrund.
				</p>

				<p>
					Insgesamt wurden für 19 Bereiche Anforderungen definiert, die einen Großteil der
					Vorbildsoftware abdecken. Ausgelassene Aspekte umfassen diejenigen Bereiche, die mit einer
					tiefergehenden Konfiguration zusammenhängen und basierend auf der Anforderungsanalyse
					nicht unterwegs durchgeführt werden müssen.
				</p>

				<p>
					Die Informationsarchitektur wurde anhand von Medium Fidelity Wireframes iterativ
					ausgearbeitet und getestet. Nach der Fertigstellung und Evaluation mit verschiedenen
					Stakeholdern wurde das Konzept als navigierbarer High Fidelity Prototyp weiterentwickelt.
					Abschließend wurde anhand einer Aufgabenanalyse mit offenem Feedback und Beantwortung
					zweier Fragebögen zur User Experience UEQ-S und Systemgebrauchstauglichkeit SUS getestet,
					ob das erarbeitete Konzept das Niveau der Vorbildsoftware in diesen Aspekten halten kann.
					Um die Frage der Vergleichbarkeit von Testergebnissen interner und externe
					Befragungsteilnehmer zu beantworten, wurde auch die Referenzsoftware mithilfe der beiden
					beschriebenen Fragebögen untersucht.
				</p>

				<p>
					Die Benutzerstudie zur Vergleichbarkeit von internen und externen Testeilnehmern konnte
					zwar einen Effekt nachweisen, dass interne Benutzer die Vorbildsoftware tendenziell besser
					bewerten, gleichzeitig war jedoch keine statistische Signifikanz feststellbar. Dies kann
					unter anderem durch die geringe Stichprobengröße begründet werden. Im Rahmen dieser Arbeit
					und zur Evaluation des erstellten Prototyps durch rein interne Befragungsteilnehmer wurde
					angenommen, dass es keinen signifikanten Unterschied zwischen den Bewertungsergebnissen
					interner und externer Anwender gibt und externe Teilnehmer das erarbeitete Konzept daher
					ähnlich bewerten würden. Aufgrund der geringen Stichprobengröße der Untersuchung ist bei
					dieser Annahme jedoch Vorsicht geboten. Eine Verallgemeinerung dieser Ergebnisse ist nicht
					möglich.
				</p>

				<p>
					Bei der UX-Evaluation des Prototyps wurde festgestellt, dass die Bewertung der
					untersuchten Bereiche sich statistisch nicht zwischen der, der Referenzsoftware
					unterscheidet.
				</p>

				<p>
					Für diesen Vergleich wurden die Evaluationsergebnisse der Vorbildsoftware mit denen des
					Prototyps gegenübergestellt. Es kann daher angenommen werden, dass die App-Variante das
					gleiche Niveau an User-Experience und Systemgebrauchstauglichkeit wie die Vorbildsoftware
					aufweist. Da nicht alle Bereiche untersucht werden konnten, beschränkt sich diese
					Feststellung jedoch explizit auf die in dieser Arbeit betrachteten Bereiche des Konzepts.
				</p>

				<p>
					Das offene Feedback zeigte, dass Nutzer eine flachere Informationsarchitektur präferieren
					und Orientierungspunkte bei verschachtelten Strukturen suchen. Zudem wurde der Wunsch nach
					Anpassbarkeit bestimmter Informationsbereiche und der Wahl zwischen hellen und dunklen
					Farbmodi deutlich. Bei der Adaption bestehender Applikationen sind die Beibehaltung
					etablierter Konventionen entscheidend. Ein kurzes Onboarding kann den Nutzern bei
					Änderungen unterstützen.
				</p>
			</svelte:fragment>
			<svelte:fragment slot="en">
				<header class="subtitle">
					<h1 class="h1">Digital workplace safety on mobile devices</h1>
					<p class="subtitle text-2xl font-light">
						Conception of an interface based on an existing web application
					</p>
					<p class="m-badge-secondary mt-2">Grade: 1.0</p>
				</header>

				<div
					class="card px-8 py-5 rounded-2xl drop-shadow-xl variant-ghost-surface bg-surface-50/50"
				>
					<div class="flex flex-row">
						<div class="w-16 mr-8 flex justify-center items-center">
							<Fa size="2.5x" class="text-primary-500" icon={faInfo} />
						</div>
						<div>
							<span class="h4">Note</span>
							<p>
								Due to a confidentiality agreement regarding the bachelor thesis, the texts
								presented here are only excerpts.
							</p>
						</div>
					</div>
				</div>

				<h2 class="h2">Abstract</h2>

				<p>
					This paper deals with the development of a service for a mobile application, based on an
					existing web application. It covers the comparability of internal and external survey
					participants, as well as the requirement analysis, elaboration, and evaluation of a
					prototype. During the development, requirements were defined, an information architecture
					was developed and tested, and a high fidelity prototype was evolved. Ratings between
					employees and external users were compared using the reference software. Effects
					indicating better ratings by employees could be demonstrated, but without statistical
					significance. An open feedback user study and questionnaires about user experience and
					system usability were used to evaluate the developed concept and compare it with the
					reference software. The results showed no statistically significant differences in the
					assessment of the examined areas. The open feedback suggests user preferences for a
					flatter information architecture and customization options. Retaining established
					conventions when adapting existing applications and providing brief onboarding for
					modified areas are recommended.
				</p>

				<h2 class="h2">Summary</h2>

				<p>
					This work focused on developing an interaction and interface concept for the service of a
					mobile application, based on an existing application. It particularly addressed the topics
					of comparability between internal and external survey participants, requirement analysis
					and functional limitations, as well as the development and evaluation of a prototype.
				</p>

				<p>
					Overall, requirements were defined for 19 areas, covering a large portion of the reference
					software. Excluded aspects include those areas that involve deeper configuration and do
					not need to be performed on the go based on the requirement analysis.
				</p>

				<p>
					The information architecture was iteratively developed and tested using medium fidelity
					wireframes. After completion and evaluation with various stakeholders, the concept was
					further evolved into a navigable high fidelity prototype. Finally, a task analysis was
					performed, accompanied by open feedback and responses to two questionnaires about User
					Experience (UEQ-S) and System Usability (SUS), to test whether the developed concept could
					maintain the level of the reference software in these aspects. To answer the question of
					comparability between internal and external survey participants' test results, the
					reference software was also examined using the described questionnaires.
				</p>

				<p>
					While the user study on comparability between internal and external test participants
					could show an effect that internal users tend to rate the reference software better, no
					statistical significance was observed. This can be attributed, among other factors, to the
					small sample size. In the context of this work and for the evaluation of the created
					prototype by purely internal survey participants, it was assumed that there is no
					significant difference between the evaluation results of internal and external users, and
					therefore external participants would rate the developed concept similarly. However,
					caution is advised due to the small sample size of the study. Generalizing these results
					is not possible.
				</p>

				<p>
					In the UX evaluation of the prototype, it was found that the assessment of the examined
					areas did not statistically differ from that of the reference software.
				</p>

				<p>
					For this comparison, the evaluation results of the reference software were juxtaposed with
					those of the prototype. It can therefore be assumed that the app variant exhibits the same
					level of user experience and system usability as the reference software. However, since
					not all areas could be investigated, this finding explicitly applies to the concept's
					areas considered in this work.
				</p>

				<p>
					The open feedback indicated that users prefer a flatter information architecture and seek
					orientation points in nested structures. Additionally, the desire for customization of
					specific information areas and the choice between light and dark color modes was evident.
					When adapting existing applications, retaining established conventions is crucial. Brief
					onboarding can support users with changes.
				</p>
			</svelte:fragment>
		</Translator>
	</article>
</DetailPage>
