@import './theme.postcss';
@import '@skeletonlabs/skeleton/styles/skeleton.css';

@font-face {
	font-family: 'Nunito';
	src: local('Nunito'), local('nunito'), url('/assets/fonts/nunito/Nunito-Regular.ttf');
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Nunito';
	src: local('Nunito'), local('nunito'), url('/assets/fonts/nunito/Nunito-Bold.ttf');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: 'Nunito';
	src: local('Nunito'), local('nunito'), url('/assets/fonts/nunito/Nunito-Light.ttf');
	font-weight: light;
	font-display: swap;
}
@font-face {
	font-family: 'Josefin Sans';
	src: local('Josefin Sans'), local('josefin sans'), url('/assets/fonts/josefin/JosefinSans-Regular.ttf');
	font-weight: normal;
	font-display: swap;
}

html,
body {
	@apply h-full overflow-hidden;
	@apply leading-7;
	@apply bg-transparent;
}

.m-container {
	@apply container;
	@apply md:max-w-[800px] lg:max-w-[1200px];
	@apply px-6 sm:px-16 lg:px-32;
}

#page-header .app-bar-row-main {
	@apply w-full max-w-[1200px] m-auto;
}

#page-header .app-bar {
	@apply bg-surface-10;
	@apply border-b border-surface-50;
}
.dark #page-header .app-bar {
	@apply bg-surface-800;
	@apply border-surface-600;
}

#page-footer {
	@apply mt-16 py-4 px-2 border-t border-surface-50 dark:border-t-0 dark:bg-surface-900;
	@apply text-sm
}

.fade-in {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 700ms ease, transform 0.5s ease;
}

.fade-in.visible {
	opacity: 1;
	transform: translateY(0);
}

.base-link {
	@apply text-secondary-500;
	@apply hover:text-secondary-800 dark:hover:text-secondary-300;
	@apply transition-colors;
}
.link {
	@apply base-link underline;
}
.citation-link {
	@apply base-link;
}

.m-badge {
	@apply badge text-white variant-filled-primary tracking-wider p-1 px-3 h-fit w-fit;
}

.m-badge-meta {
	@apply badge variant-outline-surface tracking-wider p-1 px-3 h-fit w-fit;
}

.m-badge-secondary {
	@apply badge variant-ghost-secondary tracking-wider p-1 px-3 h-fit w-fit;
}

article .meta .content {
	@apply w-full flex flex-col items-center md:flex-row flex-wrap gap-4;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	@apply break-words md:break-normal;
	line-height: 1.4em;
}

#toTopLink {
	@apply right-4 md:right-12 bottom-4 md:bottom-8;
	@apply fixed z-1 w-8 h-8 ease-in-out duration-100 cursor-pointer flex justify-center items-center rounded-full;
	@apply bg-surface-50 hover:bg-surface-200;
	@apply dark:bg-surface-500 hover:dark:bg-surface-400;
}

.list-dl div {
	@apply whitespace-normal;
}

.gradient-syntax-base {
	@apply font-mono first-line:bg-gradient-to-br;
	@apply bg-clip-text text-transparent box-decoration-clone;
	@apply bg-gradient-to-br;
}

.dark .gradient-syntax-methods {
	@apply gradient-syntax-base;
	@apply from-secondary-500 to-secondary-200;
}
.gradient-syntax-methods {
	@apply gradient-syntax-base;
	@apply from-secondary-800 to-secondary-600;
}
.dark .gradient-syntax-structure {
	@apply gradient-syntax-base;
	@apply from-primary-500 to-cyan-300;
}
.gradient-syntax-structure {
	@apply gradient-syntax-base;
	@apply from-primary-800 to-cyan-600;
}
.dark .gradient-syntax-regular {
	@apply gradient-syntax-base;
	@apply from-tertiary-500 to-tertiary-300;
}
.gradient-syntax-regular {
	@apply gradient-syntax-base;
	@apply from-tertiary-900 to-tertiary-700;
}

#jumbotron {
	background: linear-gradient(0deg, rgb(225, 226, 230, 0.4), rgba(225, 226, 230, 0.08)),
		url('/assets/images/bg_big.jpg');
	background-position-x: 0%, 0%;
	background-position-y: 0%, 0%;
	background-size: cover;
	background-position: center;
}
.dark #jumbotron {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.08)),
		url('/assets/images/bg_big.jpg');
	background-position-x: 0%, 0%;
	background-position-y: 0%, 0%;
	background-size: cover;
	background-position: center;
}

/* ======================================== */
/* ============ Article Detail ============ */
/* ======================================== */

.detail-page .h1 {
	@apply mb-16;
}

.detail-page header.subtitle {
	@apply mb-16;
}

.detail-page header.subtitle .h1 {
	@apply mb-4;
}

.detail-page .h2 {
	@apply mt-16 mb-8;
}

.detail-page p {
	@apply mb-4;
}

.detail-page p:last-of-type {
	@apply mb-0;
}
