
:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: "Nunito", sans-serif, system-ui;
	--theme-font-family-heading: "Josefin Sans", system-ui, sans-serif;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 9999px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 0 0 0;
	--on-secondary: 0 0 0;
	--on-tertiary: 0 0 0;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 0 0 0;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #2C9AD5 */
	--color-primary-50: 223 240 249; /* ⬅ #dff0f9 */
	--color-primary-100: 213 235 247; /* ⬅ #d5ebf7 */
	--color-primary-200: 202 230 245; /* ⬅ #cae6f5 */
	--color-primary-300: 171 215 238; /* ⬅ #abd7ee */
	--color-primary-400: 107 184 226; /* ⬅ #6bb8e2 */
	--color-primary-500: 44 154 213; /* ⬅ #2C9AD5 */
	--color-primary-600: 40 139 192; /* ⬅ #288bc0 */
	--color-primary-700: 33 116 160; /* ⬅ #2174a0 */
	--color-primary-800: 26 92 128; /* ⬅ #1a5c80 */
	--color-primary-900: 22 75 104; /* ⬅ #164b68 */
	/* secondary | #FFA62B */
	--color-secondary-50: 255 242 223; /* ⬅ #fff2df */
	--color-secondary-100: 255 237 213; /* ⬅ #ffedd5 */
	--color-secondary-200: 255 233 202; /* ⬅ #ffe9ca */
	--color-secondary-300: 255 219 170; /* ⬅ #ffdbaa */
	--color-secondary-400: 255 193 107; /* ⬅ #ffc16b */
	--color-secondary-500: 255 166 43; /* ⬅ #FFA62B */
	--color-secondary-600: 230 149 39; /* ⬅ #e69527 */
	--color-secondary-700: 191 125 32; /* ⬅ #bf7d20 */
	--color-secondary-800: 153 100 26; /* ⬅ #99641a */
	--color-secondary-900: 125 81 21; /* ⬅ #7d5115 */
	/* tertiary | #EDE7E3 */
	--color-tertiary-50: 252 251 251; /* ⬅ #fcfbfb */
	--color-tertiary-100: 251 250 249; /* ⬅ #fbfaf9 */
	--color-tertiary-200: 251 249 248; /* ⬅ #fbf9f8 */
	--color-tertiary-300: 248 245 244; /* ⬅ #f8f5f4 */
	--color-tertiary-400: 242 238 235; /* ⬅ #f2eeeb */
	--color-tertiary-500: 237 231 227; /* ⬅ #EDE7E3 */
	--color-tertiary-600: 213 208 204; /* ⬅ #d5d0cc */
	--color-tertiary-700: 178 173 170; /* ⬅ #b2adaa */
	--color-tertiary-800: 142 139 136; /* ⬅ #8e8b88 */
	--color-tertiary-900: 116 113 111; /* ⬅ #74716f */
	/* success | #46C13F */
	--color-success-50: 227 246 226; /* ⬅ #e3f6e2 */
	--color-success-100: 218 243 217; /* ⬅ #daf3d9 */
	--color-success-200: 209 240 207; /* ⬅ #d1f0cf */
	--color-success-300: 181 230 178; /* ⬅ #b5e6b2 */
	--color-success-400: 126 212 121; /* ⬅ #7ed479 */
	--color-success-500: 70 193 63; /* ⬅ #46C13F */
	--color-success-600: 63 174 57; /* ⬅ #3fae39 */
	--color-success-700: 53 145 47; /* ⬅ #35912f */
	--color-success-800: 42 116 38; /* ⬅ #2a7426 */
	--color-success-900: 34 95 31; /* ⬅ #225f1f */
	/* warning | #FF8F0F */
	--color-warning-50: 255 238 219; /* ⬅ #ffeedb */
	--color-warning-100: 255 233 207; /* ⬅ #ffe9cf */
	--color-warning-200: 255 227 195; /* ⬅ #ffe3c3 */
	--color-warning-300: 255 210 159; /* ⬅ #ffd29f */
	--color-warning-400: 255 177 87; /* ⬅ #ffb157 */
	--color-warning-500: 255 143 15; /* ⬅ #FF8F0F */
	--color-warning-600: 230 129 14; /* ⬅ #e6810e */
	--color-warning-700: 191 107 11; /* ⬅ #bf6b0b */
	--color-warning-800: 153 86 9; /* ⬅ #995609 */
	--color-warning-900: 125 70 7; /* ⬅ #7d4607 */
	/* error | #FF5E66 */
	--color-error-50: 255 231 232; /* ⬅ #ffe7e8 */
	--color-error-100: 255 223 224; /* ⬅ #ffdfe0 */
	--color-error-200: 255 215 217; /* ⬅ #ffd7d9 */
	--color-error-300: 255 191 194; /* ⬅ #ffbfc2 */
	--color-error-400: 255 142 148; /* ⬅ #ff8e94 */
	--color-error-500: 255 94 102; /* ⬅ #FF5E66 */
	--color-error-600: 230 85 92; /* ⬅ #e6555c */
	--color-error-700: 191 71 77; /* ⬅ #bf474d */
	--color-error-800: 153 56 61; /* ⬅ #99383d */
	--color-error-900: 125 46 50; /* ⬅ #7d2e32 */
	/* surface | #3A405A */
	--color-surface-10: 249 250 250; /* ⬅ #f9fafa */
	--color-surface-50: 225 226 230; /* ⬅ #e1e2e6 */
	--color-surface-100: 216 217 222; /* ⬅ #d8d9de */
	--color-surface-200: 206 207 214; /* ⬅ #cecfd6 */
	--color-surface-300: 176 179 189; /* ⬅ #b0b3bd */
	--color-surface-400: 117 121 140; /* ⬅ #75798c */
	--color-surface-500: 58 64 90; /* ⬅ #3A405A */
	--color-surface-600: 52 58 81; /* ⬅ #343a51 */
	--color-surface-700: 44 48 68; /* ⬅ #2c3044 */
	--color-surface-800: 35 38 54; /* ⬅ #232636 */
	--color-surface-900: 28 31 44; /* ⬅ #1c1f2c */
	
}