<script lang="ts">
	import { library } from '$lib/Bibliography/bibliography';

	const orderedCitations: string[] = [];

	export let cssClass: string = '';

	if($library) {
		$library.activeSourceKeys.forEach((sourceKey) => {
			const citation = $library?.allSources.get(sourceKey)?.citation;
			if (citation) {
				orderedCitations.push(citation);
			}
		});
	}
</script>

<div class="bibliography {cssClass}">
	<ol class="space-y-4">
		{#each orderedCitations as citation, index (index)}
			<li	id="cite_note-{index + 1}" class="source flex flex-row gap-4">
				<span>[{index + 1}]</span>
				<p>{@html citation}</p>
			</li>
		{/each}
	</ol>
</div>

