<script lang="ts">
	import { library} from '$lib/Bibliography/bibliography';
	import { popup } from '@skeletonlabs/skeleton';
	import type { PopupSettings } from '@skeletonlabs/skeleton';

	const popupCitation: PopupSettings = {
		event: 'hover',
		target: 'popupCitation',
		placement: 'bottom'
	};
	
	/**Key to use for the citing*/
	export let ref:string;
	
	let index:number;

	library.setSourceActive(ref);

	if($library) {
		index = $library.activeSourceKeys.indexOf(ref);
	}
	
</script>

<a
	use:popup={popupCitation}
	on:mouseenter={ () => library.setSourceHover(ref)}
	class="citation-link" href="#cite_note-{index + 1}">[{index + 1}]</a>
	
