<script lang="ts">
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faArrowRight } from '@fortawesome/free-solid-svg-icons';
	import { navigating } from '$app/stores';

	import { ListBox, ListBoxItem, modalStore } from '@skeletonlabs/skeleton';
	import {
		getActivePrivacyLevels,
		privCurrent,
		privacyLevels,
		setPrivCurrent,
		setPrivUserPrefers
	} from './privacymanager';
	import Translator from '$lib/LanguageSwitch/Translator.svelte';

	export let parent: any;

	const activePrivLevels = getActivePrivacyLevels();
	const showBox = activePrivLevels.length > 1 || activePrivLevels.length == 1 && activePrivLevels[0] != privacyLevels.unset;

	let priv: number =
		$privCurrent == privacyLevels.unset ? privacyLevels.allowNecessary : $privCurrent;

	function onFormSubmit() {
		setPrivCurrent(priv);
		setPrivUserPrefers(priv);
		modalStore.close();
	}

	$: if($navigating) modalStore.close();
</script>

{#if $modalStore[0]}
	<div
		class="modal-example-form p-8 md:p-16 bg-surface-10 dark:bg-surface-800 rounded-2xl max-w-xl pointer-events-auto border border-surface-500"
	>
		<Translator>
			<svelte:fragment slot="de">
				<div class="space-y-6">
					<header>
						<p class="h3">Datenschutzeinstellungen</p>
					</header>
					<article>
						<p>
							Mehr Informationen bzgl. des Datenschutzes unter <a class="link" href="/imprint"
								>Impressum</a
							>
							oder <a class="link" href="/privacy">Datenschutz</a>
						</p>
					</article>
					{#if showBox}
						<ListBox
							active="bg-surface-50 dark:bg-surface-500"
							hover="hover:variant-soft-surface"
							class="border border-surface-500 p-4 rounded-container-token"
						>
							{#if activePrivLevels.includes(privacyLevels.allowNecessary)}
								<ListBoxItem
									class="active:"
									bind:group={priv}
									name="required"
									value={privacyLevels.allowNecessary}><p>Erforderlich</p></ListBoxItem
								>
							{/if}
							{#if activePrivLevels.includes(privacyLevels.allowFunctional)}
								<ListBoxItem
									bind:group={priv}
									name="functional"
									value={privacyLevels.allowFunctional}>Komfort</ListBoxItem
								>
							{/if}
							{#if activePrivLevels.includes(privacyLevels.allowAll)}
								<ListBoxItem bind:group={priv} name="all" value={privacyLevels.allowAll}
									>Alle</ListBoxItem
								>
							{/if}
						</ListBox>
					{/if}
					<footer class="modal-footer {parent.regionFooter}">
						<button
							class="btn flex flex-row gap-2 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
							on:click={onFormSubmit}>Bestätigen<Fa icon={faArrowRight} /></button
						>
					</footer>
				</div>
			</svelte:fragment>
			<svelte:fragment slot="en">
				<div class="space-y-6">
					<header>
						<p class="h3">Privacy Settings</p>
					</header>
					<article>
						<p>
							More information regarding privacy under <a class="link" href="/imprint">Imprint</a>
							or <a class="link" href="/privacy">Privacy</a>
						</p>
					</article>
					{#if showBox}
						<ListBox
							active="bg-surface-50 dark:bg-surface-500"
							hover="hover:variant-soft-surface"
							class="border border-surface-500 p-4 rounded-container-token"
						>
							{#if activePrivLevels.includes(privacyLevels.allowNecessary)}
								<ListBoxItem
									class="active:"
									bind:group={priv}
									name="required"
									value={privacyLevels.allowNecessary}><p>Required</p></ListBoxItem
								>
							{/if}
							{#if activePrivLevels.includes(privacyLevels.allowFunctional)}
								<ListBoxItem
									bind:group={priv}
									name="functional"
									value={privacyLevels.allowFunctional}>Comfort</ListBoxItem
								>
							{/if}
							{#if activePrivLevels.includes(privacyLevels.allowAll)}
								<ListBoxItem bind:group={priv} name="all" value={privacyLevels.allowAll}
									>All</ListBoxItem
								>
							{/if}
						</ListBox>
					{/if}

					<footer class="modal-footer {parent.regionFooter}">
						<button
							class="btn flex flex-row gap-2 hover:gap-4 w-fit variant-ringed-secondary hover:variant-filled-secondary"
							on:click={onFormSubmit}>Confirm<Fa icon={faArrowRight} /></button
						>
					</footer>
				</div>
			</svelte:fragment>
		</Translator>
	</div>
{/if}
