<script lang="ts">
	import { onMount } from 'svelte';
	import { navigating } from '$app/stores';

	import handlePrivacyInteraction from '$lib/PrivacyManager/privacymodal';
	import { privacyLevels, setInitialPrivState, getPrivAutoPrefers } from './privacymanager';

	/**In milliseconds*/
	export let popupMountDelay = 1000;
	export const activePrivacyLevels: privacyLevels[] = [];

	

	function renderModal() {
		if (getPrivAutoPrefers() == privacyLevels.unset) {
			setTimeout(() => {
				handlePrivacyInteraction();
			}, popupMountDelay);
		}
	}

	$: if ($navigating) renderModal();

	onMount(() => {
		setInitialPrivState();
		renderModal();
	});
</script>

<svelte:head>
	{@html `<\u{73}cript nonce="%sveltekit.nonce%">(${setInitialPrivState.toString()})();</script>`}
</svelte:head>
