<script lang="ts">
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faClose } from '@fortawesome/free-solid-svg-icons';

	import { writable } from 'svelte/store';

	import { modalStore } from '@skeletonlabs/skeleton';

	export let parent: any;

	const maxH = document.documentElement.clientHeight * 0.9;
	const maxW = document.documentElement.clientWidth * 0.9;

	const cButton = 'fixed top-4 right-4 z-50 font-bold';
	const cImage = 'rounded-2xl overflow-hidden object-cover hover:cursor-zoom-in w-full h-full';

	let image: HTMLImageElement;
	let imageZoomResult: HTMLElement;
	// let imageLens: HTMLElement;

	let isZoomed = writable(false);
	let zoomFactor = writable(2);
	let initialized = false;

	function moveLens(e: MouseEvent) {
		if (!$isZoomed) return;

		let cursorPos = getCursorPos(e);

		let bounds = imageZoomResult.getBoundingClientRect();

		let relX = cursorPos.x - bounds.width / 2;
		let relY = cursorPos.y - bounds.height / 2;

		let x = relX * $zoomFactor;
		let y = relY * $zoomFactor + bounds.height / 2;

		const bgPosition = -x + 'px ' + -y + 'px';
		imageZoomResult.style.backgroundPosition = bgPosition;
	}

	function getCursorPos(e: MouseEvent) {
		let a = imageZoomResult.getBoundingClientRect();

		return {
			x: e.pageX - a.left - window.scrollX,
			y: e.pageY - a.top - window.scrollY
		};
	}

	function initZoom() {
		if ($isZoomed && !initialized) {
			imageZoomResult.style.backgroundImage = `url('${$modalStore[0]?.image}')`;
			imageZoomResult.style.backgroundRepeat = 'no-repeat';
			imageZoomResult.style.backgroundSize =
				image.width * $zoomFactor + 'px ' + image.height * $zoomFactor + 'px';
			initialized = true;
		}
	}

	$: $isZoomed, initZoom();
</script>

{#if $modalStore[0]}
	<button class="btn-icon variant-filled {cButton}" on:click={parent.onClose}
		><Fa icon={faClose} /></button
	>
	<!-- svelte-ignore a11y-click-events-have-key-events -->
	<div
		bind:this={imageZoomResult}
		on:mousemove|preventDefault={moveLens}
		on:click={() => isZoomed.set(!$isZoomed)}
		class="w-full h-full max-w-[90%] max-h-[90%] z-1 absolute block bg-surface-10 rounded-2xl dark:bg-surface-800 border-2 border-surface-50 dark:border-surface-500 drop-shadow-xl {$isZoomed
			? 'hover:cursor-zoom-out'
			: 'invisible'}"
	/>

	<div class="max-w-[90%] max-h-[90%] relative">
		<!-- svelte-ignore a11y-click-events-have-key-events -->
		<img
			bind:this={image}
			on:click={() => isZoomed.set(!$isZoomed)}
			src={$modalStore[0]?.image}
			class="{cImage} {$isZoomed ? 'hover:cursor-zoom-out' : ''}"
			alt={$modalStore[0]?.meta.alt}
			title={$modalStore[0]?.meta.title}
			style="max-width: {maxW}px; max-height: {maxH}px;"
		/>
	</div>
{/if}
